<template lang="html">
    <li>
        <a @click="toggleVisibility()" :class="isActive ? 'active' : ''">
            <span>{{titleLabel}}</span>
            <span v-if="icon === 'ticket'" :class="'sf sf-'+icon+' push-right'"></span>
            <span v-else :class="'fa fa-'+icon+' push-right'"></span>
        </a>
        <ul v-if="resourceId !== 'persons'" :id="resourceId+'-drawer'" class="submenu unstyled" :class="isActive ? 'show-all' : 'hide-all'">
            <li class="column-group">
                <div v-if="hasViewAll || hasBoth" :class="hasViewAll ? 'all-100' : hasBoth ? 'all-50' :'hide-all'">
                    <router-link class="more" :to="viewAllUrl">
                        <span style="pointer-events: none" class="fa fa-chevron-right"></span>
                        <span style="pointer-events: none">{{labels.VIEWALL}}</span>
                    </router-link>
                </div>
                <div v-if="hasViewMyResource || hasBoth" :class="hasViewMyResource ? 'all-100' : hasBoth ? 'all-50' :'hide-all'">
                    <router-link class="more" :to="myResourceUrl">
                        <span style="pointer-events: none" class="fa fa-chevron-right"></span>
                        <span style="pointer-events: none">{{myResourceLabel}}</span>
                    </router-link>
                </div>
            </li>
            <template v-if="topResources && topResources.length > 0">
                <li v-for="resource in topResources" :key="resource.id">
                    <div class="column-group">
                        <slot :resource="resource"></slot>
                    </div>
                </li>
            </template>
            <li v-else class="no-data medium">
                <span>{{labels.BYPINNING}}</span>
                <span class="fa fa-thumb-tack"></span>
                <span>{{pinLabel}}</span>
            </li>
        </ul>
        <ul v-else :id="resourceId+'-drawer'" class="submenu unstyled" :class="isActive ? 'show-all' : 'hide-all'">
            <li>
                <router-link :to="'/search?tab=persons&page=1&order=-score&filter=all'">{{labels.LISTUSERS}}</router-link>
            </li>
            <li>
                <router-link :to="'/skill?filter=name&page=1'">{{labels.LISTSKILLS}}</router-link>
            </li>
            <li>
                <router-link :to="'/requests/new'">{{labels.REQUESTEXTERNALACCESS}}</router-link>
            </li>
            <li v-if="user.is_curator">
                <router-link :to="'/requests/list'">{{labels.LISTEXTERNALACCESS}}</router-link>
            </li>
            <li v-if="user.is_curator">
                <router-link :to="'/user?create=true'">{{labels.CREATEUSERACCOUNT}}</router-link>
            </li>
        </ul>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "left-drawer-template",
    props: {
        user: Object,
        topResources: Array,
        titleLabel: String,
        myResourceLabel: String,
        myResourceUrl: String,
        icon: String,
        resourceId: String,
        hasViewMyResource: Boolean,
        hasViewAll: Boolean,
        hasBoth: Boolean,
        pinLabel: String,
        viewAllUrl: String
    },
    mounted() {},
    data() {
        return {
            labels,
            isActive: false
        };
    },
    methods: {
        toggleVisibility() {
            this.isActive = !this.isActive;
        }
    },
    computed: {

    }
};
</script>
