<template lang="html">
    <div>
        <ul class="items" v-if="user">
            <left-drawer-search @onSearch="$emit('onSearch',$event)"></left-drawer-search>
            <left-drawer-projects :user="user" :topProjects="topProjects"></left-drawer-projects>
            <left-drawer-modules :user="user" :topModules="topModules"></left-drawer-modules>
            <left-drawer-tickets :user="user" :tickets="topTickets"></left-drawer-tickets>
            <left-drawer-tasks :user="user" :topTasks="topTasks"></left-drawer-tasks>
            <left-drawer-people :user="user" v-if="!user.isPartner"></left-drawer-people>
        </ul>
    </div>
</template>

<script>
import LeftDrawerSearch from "./left-drawer-search/LeftDrawerSearch";
import LeftDrawerTasks from "./left-drawer-tasks/LeftDrawerTasks";
import LeftDrawerTickets from "./left-drawer-tickets/LeftDrawerTickets";
import LeftDrawerModules from "./left-drawer-modules/LeftDrawerModules";
import LeftDrawerProjects from "./left-drawer-projects/LeftDrawerProjects";
import LeftDrawerPeople from './left-drawer-people/LeftDrawerPeople';

export default {
    name: "left-drawer",
    components: {
        "left-drawer-search": LeftDrawerSearch,
        "left-drawer-projects": LeftDrawerProjects,
        "left-drawer-modules": LeftDrawerModules,
        "left-drawer-tasks": LeftDrawerTasks,
        "left-drawer-tickets": LeftDrawerTickets,
        "left-drawer-people": LeftDrawerPeople
    },
    props: {
        user: Object,
        topModules: Array,
        topProjects: Array,
        topTickets: Array,
        topTasks: Array
    },
    mounted() {},
    data() {
        return {};
    },
    methods: {}
};
</script>
