<template>
    <div class="column-group gutters">
        <div class="all-100">
            <custom-text-area
                :class-names="'control-group validation'"
                :input-value="userForm.description"
                @onInput="$emit('onChangeDescription', $event)"
                :label="labels.ABOUT_ME"
                :name="'description'"
                :validations="{ required: isSelf }"
                :required="isSelf"
                :rows="6">
            </custom-text-area>
        </div>

        <user-skills-edit
            v-if="!user.is_partner"
            :user-skills="userSkills"
            :all-skills="allSkills"
            @onRemoveSkill="$emit('onRemoveSkill', $event)"
            @onAddSkill="$emit('onAddSkill', $event)">
        </user-skills-edit>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
import UserSkillsEdit from './UserSkillsEdit';

export default {
    name: "user-about-edit",
    components: {
        "user-skills-edit": UserSkillsEdit
    },
    props: {
        user: Object,
        userForm: Object,
        departments: Array,
        userSkills: Array,
        allSkills: Array,
        isSelf: Boolean
    },
    data() {
        return {
            labels
        };
    }
};
</script>