<template>
    <div class="all-100">
        <h4 class="slab-400 fillet uppercase">{{labels.SKILLS}}</h4>

        <p class="note italic fw-300">{{labels.SKILLSDESC}}</p>
        <div class="control-group column-group half-horizontal-gutters">
            <div id="skills" class="control all-75 small-70 tiny-70">
                <auto-complete
                    v-if="allSkills && allSkills.length"
                    :object-array="allSkills"
                    :exceptions-array="userSkills"
                    :placeholder="labels.SKILLPLACEHOLDER"
                    :selected="selectedSkillName"
                    :display-prop="'name'"
                    :list-key="'identifier'"
                    :search-icon="true"
                    @onSelectItem="selectSkill($event)"
                    @onInput="selectSkillName($event)">
                    <auto-complete-skills
                        slot-scope="slotProps"
                        :object="slotProps.object">
                    </auto-complete-skills>
                </auto-complete>
            </div>
            <div class="all-25 small-30 tiny-30 align-right">
                <button class="ink-button" @click="addSkill()">{{labels.ADD}}</button>
            </div>
        </div>

        <ul class="unstyled medium">
            <user-skills-item-edit
                v-for="skill in userSkills"
                :key="skill.identifier"
                :skill="skill"
                @onRemoveSkill="$emit('onRemoveSkill', $event)">
            </user-skills-item-edit>
        </ul>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
import UserSkillsItemEdit from './UserSkillsItemEdit';

export default {
    name: "user-skills-edit",
    components: {
        "user-skills-item-edit": UserSkillsItemEdit
    },
    props: {
        user: Object,
        userForm: Object,
        userSkills: Array,
        allSkills: Array
    },
    methods: {
        addSkill() {
            if (this.allSkills.find(skill => (this.selectedSkill && skill.name.toLowerCase() === this.selectedSkill.name.toLowerCase()) ||
                skill.name.toLowerCase() === this.selectedSkillName.toLowerCase())) {
                this.$emit('onAddSkill', { name: (this.selectedSkill && this.selectedSkill.name) || this.selectedSkillName, new_skill: false });
            } else {
                this.$emit('onAddSkill', { name: (this.selectedSkill && this.selectedSkill.name) || this.selectedSkillName, new_skill: true });
            }
            this.selectedSkill = null;
            this.selectedSkillName = null;
        },
        selectSkill(skill) {
            this.selectedSkill = skill;
        },
        selectSkillName(skillName) {
            this.selectedSkillName = skillName;
        }
    },
    data() {
        return {
            labels,
            selectedSkill: null,
            selectedSkillName: null
        };
    }
};
</script>