<template>
    <li class="panel">
        <div class="column-group half-horizontal-gutters">
            <div class="all-80 push-middle">
                <span v-if="skill.count" class="slab-400">{{skill.count}}</span>&nbsp;
                <span class="fw-300">{{skill.name}}</span>
            </div>
            <div class="all-20 align-right">
                <button class="unstyled" @click="$emit('onRemoveSkill', skill)">
                    <span class="fa fa-times-circle"></span>
                </button>
            </div>
        </div>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "user-skills-item-edit",
    props: {
        skill: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>