<template>
    <section class="ink-form column-group gutters" v-if="userForm">
        <user-corporate-edit-company
            v-if="!user.is_partner"
            :user="user"
            :user-form="userForm"
            :departments="departments"
            :all-users="allUsers"
            :external-boss-domains="externalBossDomains"
            :user-detail-status="userDetailStatus"
            :username-domains="usernameDomains"
            @onChangeUserTitle="$emit('onChangeUserForm', { name: 'title', value: $event })"
            @onChangeDepartment="$emit('onChangeUserForm', { name: 'department', value: $event })"
            @onChangeBoss="$emit('onChangeUserForm', { name: 'boss', value: $event })"
            @onChangeExternalBoss="$emit('onChangeUserForm', { name: 'external_boss', value: $event })"
            @onChangeEmployer="$emit('onChangeUserForm', { name: 'employer', value: $event })"
            @onChangeSSHKey="$emit('onChangeUserForm', { name: 'ssh_key', value: $event })"
            @onChangeCorpUsername="$emit('onChangeUserForm', { name: 'corporate_username', value: $event })">
        </user-corporate-edit-company>
        <section class="all-50 small-100 tiny-100">
            <user-about-edit
                :user="user"
                :user-form="userForm"
                :user-skills="userSkills"
                :all-skills="allSkills"
                :is-self="isSelf"
                @onChangeDescription="$emit('onChangeUserForm', { name: 'description', value: $event })"
                @onRemoveSkill="$emit('onRemoveSkill', $event)"
                @onAddSkill="$emit('onAddSkill', $event)">
            </user-about-edit>
        </section>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
import UserCorporateEditCompany from './UserCorporateEditCompany';
import UserAboutEdit from './UserAboutEdit';

export default {
    name: "user-corporate-edit",
    components: {
        "user-corporate-edit-company": UserCorporateEditCompany,
        "user-about-edit": UserAboutEdit
    },
    props: {
        user: Object,
        userForm: Object,
        userDetailStatus: String,
        departments: Array,
        allUsers: Array,
        externalBossDomains: Array,
        usernameDomains: Array,
        userSkills: Array,
        allSkills: Array,
        isSelf: Boolean
    },
    data() {
        return {
            labels
        };
    }
};
</script>