<template>
    <section class="all-50 small-100 tiny-100" v-if="userForm.name" >
        <div class="column-group gutters">
            <div class="all-100">
                <h4 class="slab-400 fillet uppercase">{{labels.CORP_INFO}}</h4>

                <form-input
                    :class-names="'control-group'"
                    :type="'text'"
                    :max-length="32"
                    :input-value="userForm.title"
                    :name="'title'"
                    @onInput="$emit('onChangeUserTitle', $event)"
                    :label="labels.USER_TITLE">
                </form-input>

                <div class="control-group">
                    <label class="slab">{{labels.USER_DEPARTMENT}}</label>
                    <div class="control">
                        <custom-select
                            :options="departments"
                            :selected="userForm.department"
                            @onChange="$emit('onChangeDepartment', $event)">
                        </custom-select>
                    </div>
                </div>
                <auto-complete
                    v-if="userForm.boss_type !== 'email' && allUsers.length"
                    :object-array="allUsers"
                    :placeholder="labels.BOSSPLACEHOLDER"
                    :label="labels.USER_BOSS"
                    :selected="userForm.boss"
                    :display-prop="'name'"
                    :list-key="'unix_username'"
                    :input-name="'boss'"
                    :validations="{ required: true }"
                    :clear-btn="true"
                    @onSelectItem="$emit('onChangeBoss', $event.unix_username)">
                    <auto-complete-boss
                        slot-scope="slotProps"
                        :object="slotProps.object">
                    </auto-complete-boss>
                </auto-complete>
                <div v-else-if="userForm.boss_type === 'email'" class="control-group validation"
                    :class="[{'warning': errors.has('external_boss')}, { 'required' : userDetailStatus === 'Active' }]">
                    <label class="slab">{{labels.USER_BOSS}}</label>
                    <div class="control">
                        <template v-if="user.is_curator">
                            <input type="text"
                                name="external_boss"
                                @input="$emit('onChangeExternalBoss', $event.target.value)"
                                :value="userForm.external_boss"
                                v-validate="{ validDomains: externalBossDomains , required: userDetailStatus === 'Active'}"
                                maxlength="70">
                            <p class="all-100 tip fw-300" v-if="errors.first('external_boss')">{{getBossMailDesc}}</p>
                        </template>
                        <span v-else class="slab-400">{{userForm.external_boss}}</span>
                    </div>
                </div>
                <form-input
                    :class-names="'control-group'"
                    :type="'text'"
                    :max-length="70"
                    :input-value="userForm.employer"
                    @onInput="$emit('onChangeEmployer', $event)"
                    :name="'employer'"
                    :label="labels.EMPLOYER">
                </form-input>
                <div v-if="user.is_curator"
                    class="control-group required validation"
                    :class="{'warning': errors.has('corporate_username')}">
                    <label class="slab">{{labels.CORP_USERNAME}}</label>
                    <div class="column-group half-gutters control">
                        <div class="all-50" style="margin-bottom: 0em;">
                            <input
                                class="all-100"
                                type="text"
                                :name="'corporate_username'"
                                :value="corpUser"
                                ref="corpusername"
                                @input="changeCorpUsername($event.target.value)"
                                maxlength="70"
                                v-validate="{ validUnix: labels.VALIDCORP, required: true}">
                        </div>
                        <div class="all-50" style="margin-bottom: 0em;">
                            <custom-select class="all-100"
                                :selected="corpDomain"
                                ref="corpdomain"
                                @onChange="changeCorpDomain($event)"
                                :options="usernameDomains">
                            </custom-select>
                        </div>
                        <p class="all-100 tip fw-300" v-if="errors.first('corporate_username')">{{errors.first('corporate_username')}}</p>
                    </div>
                </div>
            </div>
            <div class="all-100">
                <h4 class="slab-400 fillet uppercase">{{labels.SSHKEY}}</h4>
                <div class="control-group">
                    <div class="control">
                        <custom-text-area
                            :input-value="userForm.ssh_key"
                            @onInput="$emit('onChangeSSHKey', $event)" :rows="8">
                        </custom-text-area>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "user-corporate-edit-company",
    props: {
        user: Object,
        userForm: Object,
        userDetailStatus: String,
        departments: Array,
        allUsers: Array,
        externalBossDomains: Array,
        usernameDomains: Array
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        changeCorpUsername(username) {
            this.$emit('onChangeCorpUsername', `${username}${this.$refs.corpdomain.$el.selectedOptions[0].value}`)
        },
        changeCorpDomain(mail) {
            this.$emit('onChangeCorpUsername', `${this.$refs.corpusername.value}${mail}`)
        }
    },
    computed: {
        getBossMailDesc() {
            return `${labels.BOSSEMAILDESC} (${this.externalBossDomains.map(mail => `@${mail}`).join(', ')})`;
        },
        corpUser() {
            return `${this.userForm.corporate_username.split('@')[0]}`;
        },
        corpDomain() {
            return `@${this.userForm.corporate_username.split('@')[1].toLowerCase()}`;
        }
    }
};
</script>