<template>
    <div class="all-15 medium-20 small-100 tiny-100">
        <div class="project-avatar">
            <custom-img :photo="project.avatar"></custom-img>
            <div v-if="project.status === 'Inactive'" class="inactive">{{labels.INACTIVE}}</div>
        </div>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-avatar",
    props: {
        project: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
