<template>
    <custom-calendar
        :isSelf="isSelf"
        :helpTOCId="helpTOCId"
    ></custom-calendar>
</template>

<script>

import CustomCalendar from "@/components/CustomCalendar.vue";

export default {
    name: "user-vacations",
    props: {
        isSelf: Boolean,
        helpTOCId: String,
        project: String
    },
    components: {
        "custom-calendar": CustomCalendar
    }
};
</script>