<template lang="html">
    <div id="sapoIntraBar">
        <transition
            name="left-drawer-slide"
            enter-active-class="get-in-left "
            leave-active-class="get-out-left">
            <left-drawer
                :id="leftDrawerId"
                v-if="drawer === 'left'"
                class="left-drawer sidebar"
                style="display:block; position:fixed;"
                :class="drawer === 'left' ? 'show' : ''"
                v-click-outside="{method: hideDrawer, drawers: [leftDrawerId, rightDrawerId], elementException: ['leftDrawerTrigger', 'rightDrawerTrigger']}"
                :user="user"
                :top-projects="topProjects"
                :top-modules="topModules"
                :top-tickets="topTickets"
                :top-tasks="topTasks"
                @onSaveResourcesOrder="saveResources($event)"
                @onToggleDrawer="toggleDrawer($event)"
                @onSearch="search($event)">
            </left-drawer>
        </transition>
        <transition
            name="right-drawer-slide"
            enter-active-class="get-in-right "
            leave-active-class="get-out-right">
            <right-drawer
                :id="rightDrawerId"
                v-if="drawer === 'right'"
                v-click-outside="{method: hideDrawer, drawers: [leftDrawerId, rightDrawerId], elementException: ['leftDrawerTrigger', 'rightDrawerTrigger']}"
                class="right-drawer"
                :notificationsType="notificationsType"
                @onClearNotifications="clearNotifications($event)"
                @onDismissNotification="dismissNotification($event)"
                @onHideDrawer="hideDrawer()"
                @onGoToProfile="goToProfile()"
                :user="user"
                style="display:block; position:fixed;"
                :links="links">
            </right-drawer>
        </transition>
        <top-bar :user="user"
            :top-projects="topProjects"
            :top-modules="topModules"
            :top-tickets="topTickets"
            :top-tasks="topTasks"
            :notification-counter="notificationsCounter"
            @onSaveResourcesOrder="saveResources($event)"
            @onToggleDrawer="toggleDrawer($event)"
            @onSearch="search($event)">
        </top-bar>
    </div>
</template>

<script>
import TopBar from "./TopBar";

import {
    mapActions as mapUserActions,
    mapGetters as mapUserGetters
} from "@/user/store";
import {
    mapActions as mapProjectsActions,
    mapGetters as mapProjectsGetters
} from "@/projects/store";
import {
    mapActions as mapModulesActions,
    mapGetters as mapModulesGetters
} from "./modules/store";
import {
    mapActions as mapTicketsActions,
    mapGetters as mapTicketsGetters
} from "@/tickets/store";
import {
    mapActions as mapTasksActions,
    mapGetters as mapTasksGetters
} from "@/tasks/store";
import {
    mapActions as mapIntraBarActions,
    mapGetters as mapIntraGetters
} from "./store";

import types from "@/mutation.types";

export default {
    name: "intra-bar",
    components: {
        "top-bar": TopBar,
        "right-drawer": () =>
            import(/* webpackChunkName: "right-drawer" */ "./right-drawer/RightDrawer"),
        "left-drawer": () =>
            import(/* webpackChunkName: "left-drawer" */ "./left-drawer/LeftDrawer")
    },
    props: [],
    created() {
        this.getUser();
        this.getUserLinks();
        this.getProjects();
        this.getModules();
        this.getTasks();
        this.getTickets();
        this.getNotifications();
        this.notificationsEventHandler();
    },
    data() {
        return {
            leftDrawerId: "leftDrawer",
            rightDrawerId: "rightDrawerId"
        };
    },
    methods: {
        ...mapUserActions({
            getUser: types.GET,
            getUserLinks: types.USER.GET_LINKS,
            getUserNotifications: types.USER.GET_NOTIFICATIONS,
            getNotifications: types.USER.GET_NOTIFICATIONS,
            clearNotificationsType: types.USER.CLEAR_NOTIFICATIONS,
            dismissNotificationId: types.USER.DISMISS_NOTIFICATION
        }),
        ...mapProjectsActions({
            getProjects: types.GET
        }),
        ...mapModulesActions({
            getModules: types.GET
        }),
        ...mapTicketsActions({
            getTickets: types.TICKETS.GET_TOP
        }),
        ...mapTasksActions({
            getTasks: types.TASKS.GET_TOP
        }),
        ...mapIntraBarActions({
            moveSubscription: types.MOVE_SUBSCRIPTION,
            setDrawer: types.INTRABAR.SET_DRAWER
        }),
        saveResources(moveEvent) {
            this.moveSubscription(moveEvent);
        },
        toggleDrawer(direction) {
            if (this.drawer === direction) {
                this.setDrawer(null);
            } else {
                this.setDrawer(direction);
            }
        },
        hideDrawer() {
            if (this.drawer !== null) {
                this.setDrawer(null);
            }
        },
        search(searchTerm) {
            this.setDrawer(null);
            this.$router.push({
                path: "/search",
                query: {
                    tab: "all",
                    query: searchTerm,
                    page: 1,
                    order: "-score"
                }
            });
        },
        clearNotifications(type) {
            this.clearNotificationsType(type);
        },
        dismissNotification(notificationId) {
            this.dismissNotificationId(notificationId);
        },
        notificationsEventHandler() {
            window.addEventListener('message', (e) => {
                // debugger;
                // console.log(e);
            })
        },
        goToProfile() {
            if (this.$route.name === 'summary' && this.$route.params.username === this.user.unix_username) {
                this.$emit('onHideDrawer');
            } else {
                this.$router.push(`/user/${this.user.unix_username}`);
            }
        }
    },
    computed: {
        ...mapUserGetters({
            user: "user",
            links: "links",
            notificationsType: "notifications",
            notificationsCounter: "notificationsCounter"
        }),
        ...mapProjectsGetters({
            topProjects: "projects"
        }),
        ...mapModulesGetters({
            topModules: "modules"
        }),
        ...mapTicketsGetters({
            topTickets: "topTickets"
        }),
        ...mapTasksGetters({
            topTasks: "topTasks"
        }),
        ...mapIntraGetters({
            drawer: "drawer"
        })
    },
    watch: {
        $route (to, from) {
            this.hideDrawer();
        }
    }
}
</script>

<style scoped lang="scss">
.right-drawer {
    transform: translate3d(-300px,0,0)!important;
}

@keyframes getinright {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-300px, 0, 0);
    }
}

@keyframes getoutright {
    0% {
        transform: translate3d(-300px, 0, 0);
    }
    100% {
        transform: translate3d(0px, 0, 0);
    }
}

.get-in-right {
    animation: getinright 0.3s ease-in both;
}

.get-out-right {
    animation: getoutright 0.3s ease-in both;
}

.left-drawer {
    transform: translate3d(300px,0,0)!important;
}

@keyframes getinleft {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(300px, 0, 0);
    }
}

@keyframes getoutleft {
    0% {
        transform: translate3d(300px, 0, 0);
    }
    100% {
        transform: translate3d(0px, 0, 0);
    }
}

.get-in-left {
    animation: getinleft 0.3s ease-in both;
}

.get-out-left {
    animation: getoutleft 0.3s ease-in both;
}
</style>
