<template>
  <li class="hide-medium hide-small hide-tiny">
    <slot
      :user="user"
      :top-resource="topResourceCopy"
      :edit-mode="editMode"
      :on-toggle-edit="toggleEditMode"
      :on-end-drag="endDrag"
      :drag-options="dragOptions"
    ></slot>
  </li>
</template>

<script>
export default {
  name: "parent-resource",
  props: {
    user: Object,
    topResource: Array
  },
  data() {
    return {
      editMode: false,
      topResourceCopy:
        this.topResource && this.topResource.length
          ? this.topResource.slice()
          : []
    };
  },
  methods: {
    toggleEditMode() {
      this.editMode = !this.editMode;
    },
    endDrag({ evt, subtype }) {
      let draggedItemId = evt.item.getAttribute(`data-resource-id`);
      let position =
        evt.newIndex === this.topResourceCopy.length - 1
          ? undefined
          : this.topResourceCopy[evt.newIndex + 1].id ||
            this.topResourceCopy[evt.newIndex + 1].pk;
      this.$emit("onSaveResourcesOrder", {
        sub: draggedItemId,
        position,
        subtype: subtype
      });
    }
  },
  computed: {
    dragOptions() {
      return {
        handle: ".drag-handle",
        draggable: ".drag-item"
      };
    }
  },
  watch: {
    topResource: function(newValue) {
      this.topResourceCopy = newValue.slice();
    }
  }
};
</script>
