<template lang="html">
    <div v-if="user" class="topbar ink-navigation content-drawer">
        <div class="ink-grid">
            <ul class="menu horizontal black push-left">
                <li id="leftDrawerTrigger" class="hide-all show-tiny show-small show-medium">
                    <a class="fa fa-bars left-drawer-trigger" @click="toggleDrawer('left')"></a>
                </li>
                <li class="logo">
                    <router-link to="/dashboard">
                    <span class="fw-700">SAPO</span>
                    <span class="fw-100">INTRA</span>
                    </router-link>
                </li>
                <parent-resource
                    :top-resource="topProjects"
                    :user="user"
                    @onSaveResourcesOrder="$emit('onSaveResourcesOrder', $event)">
                        <projects-menu
                            slot-scope="slotProps"
                            :top-resource="slotProps.topResource"
                            :user="slotProps.user"
                            :drag-options="slotProps.dragOptions"
                            :edit-mode="slotProps.editMode"
                            :on-toggle-edit="slotProps.onToggleEdit"
                            :on-end-drag="slotProps.onEndDrag">
                        </projects-menu>
                </parent-resource>
                <parent-resource
                    :top-resource="topModules"
                    :user="user"
                    @onSaveResourcesOrder="$emit('onSaveResourcesOrder', $event)">
                        <modules-menu slot-scope="slotProps"
                            :top-resource="slotProps.topResource"
                            :user="slotProps.user"
                            :drag-options="slotProps.dragOptions"
                            :edit-mode="slotProps.editMode"
                            :on-toggle-edit="slotProps.onToggleEdit"
                            :on-end-drag="slotProps.onEndDrag">
                        </modules-menu>
                </parent-resource>
                <parent-resource
                    :top-resource="topTickets"
                    :user="user"
                    @onSaveResourcesOrder="$emit('onSaveResourcesOrder', $event)">
                        <tickets-menu slot-scope="slotProps"
                            :top-resource="slotProps.topResource"
                            :user="slotProps.user"
                            :drag-options="slotProps.dragOptions"
                            :edit-mode="slotProps.editMode"
                            :on-toggle-edit="slotProps.onToggleEdit"
                            :on-end-drag="slotProps.onEndDrag">
                        </tickets-menu>
                </parent-resource>
                <parent-resource
                    :top-resource="topTasks"
                    :user="user"
                    @onSaveResourcesOrder="$emit('onSaveResourcesOrder', $event)">
                        <tasks-menu slot-scope="slotProps"
                            :top-resource="slotProps.topResource"
                            :user="slotProps.user"
                            :drag-options="slotProps.dragOptions"
                            :edit-mode="slotProps.editMode"
                            :on-toggle-edit="slotProps.onToggleEdit"
                            :on-end-drag="slotProps.onEndDrag">
                        </tasks-menu>
                </parent-resource>
                <people-menu :user="user"></people-menu>
            </ul>
            <ul class="menu horizontal black push-right">
                <search-bar v-if="!user.isPartner" @onSearch="$emit('onSearch',$event)"></search-bar>
                <li id="rightDrawerTrigger" class="avatar">
                    <button class="unstyled right-drawer-trigger" @click="toggleDrawer('right')">
                        <custom-img ref="avatar" :photo="user.photo" :bust-cache="true" ></custom-img>
                        <span v-if="notificationCounter" class="ink-badge red">{{notificationCounter}}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import ProjectsMenu from "./projects/ProjectsMenu";
import ModulesMenu from "./modules/ModulesMenu";
import TicketsMenu from "./tickets/TicketsMenu";
import TasksMenu from "./tasks/TasksMenu";
import PeopleMenu from "./people/PeopleMenu";
import SearchBar from "./search-bar/SearchBar";
import ParentResource from './ParentResource';

export default {
    name: "top-bar",
    components: {
        "projects-menu": ProjectsMenu,
        "modules-menu": ModulesMenu,
        "tickets-menu": TicketsMenu,
        "tasks-menu": TasksMenu,
        "parent-resource": ParentResource,
        "people-menu": PeopleMenu,
        "search-bar": SearchBar
    },
    props: {
        user: Object,
        topModules: Array,
        topProjects: Array,
        topTickets: Array,
        topTasks: Array,
        notificationCounter: Number,
        editVar: Boolean
    },
    mounted() {},
    data() {
        return {};
    },
    methods: {
        toggleDrawer(direction) {
            this.$emit("onToggleDrawer", direction);
        }
    },
    watch: {
        user: function(newValue) {
            newValue && this.$refs.avatar && this.$refs.avatar.refresh();
        }
    }
};
</script>
