<template>
    <ul class="unstyled">
        <li>
            <span class="all-10 align-center fa fa-lightbulb-o fa-lg"></span>
            <a class="uppercase medium" data-bind="text: tr.SENDSUGGESTIONS, attr: {href: 'mailto:' + suggestContact()}">
                {{labels.SENDSUGGESTIONS}}
            </a>
        </li>
        <li>
            <span class="all-10 align-center fa fa-bug fa-lg"></span>
            <a class="uppercase medium" data-bind="text: tr.REPORTBUG, attr: {href: 'mailto:' + reportContact()}">
                {{labels.REPORTBUG}}
            </a>
        </li>
    </ul>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-feedback",
    props: {
        project: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
