<template>
    <section class="xlarge-50 large-50 all-100">
        <h4 class="slab-400 fillet uppercase">{{labels.CORP_INFO}}</h4>
        <ul class="unstyled">
            <li>
                <span class="fw-300">{{labels.USER_TITLE}} </span>
                <span class="slab-400" v-if="user.title">{{user.title}}</span>
                <span class="no-data" v-else>{{labels.NOTDEFINED}}</span>
            </li>
            <li>
                <span class="fw-300" data-bind="text: tr.USER_DEPARTMENT">{{labels.USER_DEPARTMENT}} </span>
                <span class="slab-400" v-if="user.department_id">{{user.department_name}}</span>
                <span class="no-data" v-else>{{labels.NOTDEFINED}}</span>
            </li>
            <li>
                <span class="fw-300" data-bind="text: tr.USER_BOSS">{{labels.USER_BOSS}} </span>
                <template v-if="user.boss_type !== 'email'">
                    <router-link class="slab-400" v-if="user.boss_name" :to="'user/' + user.boss_unix_username">{{user.boss_unix_username}}</router-link>
                    <span class="no-data" v-else>{{labels.NOTDEFINED}}</span>
                </template>
                <template v-else>
                    <span class="slab-400" v-if="user.external_boss">{{user.external_boss}}</span>
                    <span class="no-data" v-else>{{labels.NOTDEFINED}} </span>
                </template>
            </li>
            <li>
                <span class="fw-300">{{labels.CORP_USERNAME}} </span>
                <span class="slab-400">{{user.corporate_username}}</span>
            </li>
            <li>
                <span class="fw-300">{{labels.EMPLOYER}} </span>
                <span class="slab-400" v-if="user.employer">{{user.employer}}</span>
                <span class="no-data" v-else>{{labels.NOTDEFINED}}</span>
            </li>
        </ul>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "user-corporate",
    props: {
        user: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>