<template>

<section class="vertical-space project ink-grid">
    <div class=" column-group gutters" v-if="project">
        <project-summary-left-column
            :project="project"
            :resources="resources"
            @onClickMediaImage="clickMediaImage($event)">
        </project-summary-left-column>

        <project-summary-right-column :project="project"></project-summary-right-column>
    </div>
</section>
</template>

<script>
import {
    mapGetters as mapProjectGetters,
    mapActions as mapProjectActions
    // mapMutations as mapProjectsMutations
} from "@/projects/store";
import { labels } from "@/services/i18n.service";
import ProjectSummaryRightColumn from './view/ProjectSummaryRightColumn';
import ProjectSummaryLeftColumn from './view/ProjectSummaryLeftColumn';
import projectConfig from '@/projects/projects.config';
import types from "@/mutation.types";

export default {
    name: "project-summary",
    components: {
        "project-summary-left-column": ProjectSummaryLeftColumn,
        "project-summary-right-column": ProjectSummaryRightColumn
    },
    data() {
        return {
            labels
        };
    },
    created() {
        this.project && this.getProjectResources({ projectId: this.project.unix_username, start: 0, end: projectConfig.resourceOffset });
    },
    computed: {
        ...mapProjectGetters({
            project: 'projectDetail',
            resources: 'projectResources'
        })
    },
    methods: {
        clickMediaImage() {
            alert('TODO')
        },
        ...mapProjectActions({
            getProjectResources: types.PROJECTS.GET_RESOURCES
        })
    },
    watch: {
        project: function(newValue) {
            this.getProjectResources({ projectId: this.project.unix_username, start: 0, end: projectConfig.resourceOffset });
        }
    }
};
</script>
