<template>
    <div>
        <custom-bar-link
            :url="'/user/'+user.unix_username+'?tab=tickets&filter=-modified_on&Open&page=1'"
            :icon="'ticket'"
            :label="labels.TICKETS">
        </custom-bar-link>
        <draggable
            :element="'ul'"
            class="mega-menu"
            id="tickets"
            :options="dragOptions"
            @end="$emit('onSaveProjectsOrder', topResource)"
            :list="topResource"
            v-model="topResource">
            <template v-if="topResource && topResource.length">
                <li v-for="ticket in topResource" class="drag-item" :key="ticket.name" :data-resource-id="ticket.pk">
                    <ticket-item :ticket="ticket"></ticket-item>
                </li>
            </template>
            <li v-else class="no-data">
                <span>{{labels.BYPINNING}}</span>
                <span class="fa fa-thumb-tack"></span>
                <span>{{labels.PINPROJECT}}</span>
            </li>
            <li class="column-group" slot="footer">
                <div class="all-50 push-middle">
                    <router-link
                        class="more quarter-vertical-space"
                        :to="'/user/'+user.unix_username+'?tab=tickets&filter=-modified_on&Open&page=1'">{{labels.MYTICKETS}}
                    </router-link>
                </div>
                <div class="all-50">
                    <custom-btn v-if="!editMode" :icon="'pencil'" :label="labels.EDIT" @onClick="onToggleEdit"></custom-btn>
                    <custom-btn v-else :icon="'lock'" :label="labels.LOCK" @onClick="onToggleEdit"></custom-btn>
                </div>
            </li>
        </draggable>
    </div>
</template>


<script>
import TicketItem from "./TicketItem";
import { labels } from '@/services/i18n.service';
export default {
    name: "tickets-menu",
    props: {
        user: Object,
        topResource: Array,
        dragOptions: Object,
        editMode: Boolean,
        onToggleEdit: Function,
        onEndDrag: Function
    },
    components: {
        "ticket-item": TicketItem
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        endDrag(evt) {
            this.onEndDrag({ evt, subtype: 'ticket' });
        }
    }
};
</script>