<template>
    <div class="column-group">
        <i class="drag-handle align-center fa fa-bars" v-if="editMode"></i>
        <div class="quarter-left-space">
            <p class="no-margin">
                <span class="ink-label small"
                    :class="{green: ticket.green, blue: ticket.blue, red: ticket.red, orange: ticket.orange}">{{ticket.status}}</span>
                &nbsp;
                <router-link class="title" :to="getLink(ticket.link)">{{ticket.summary}}</router-link>
                <span class="ticket">(<span>{{ticket.info}}</span>)</span>
            </p>
            <p class="detail">
                <router-link :to="ticket.resource_link">
                    <span class="fa fa-wrench"></span>
                    &nbsp;
                    <span>{{ticket.resource}}</span>
                </router-link>
                <span class="separator"></span>
                <router-link :to="ticket.project_link">
                    <span class="fa fa-flask"></span>
                    &nbsp;
                    <span>{{ticket.project}}</span>
                </router-link>
            </p>
        </div>
    </div>
</template>

<script>
export default {
    name: "ticket-item",
    props: {
        ticket: Object,
        projectsLength: Number,
        editMode: Boolean
    },
    data() {
        return {

        };
    },
    methods: {
        getLink(link) {
            return `/${link.substring(1)}`;
        }
    }
};
</script>
