<template lang="html">
    <left-drawer-template
        :user="user"
        :topResources="topTasks"
        :titleLabel="labels.TASKS"
        :myResourceLabel="labels.MYTASKS"
        :myResourceUrl="'/user/'+user.unix_username+'?tab=tasks&filter=name&all'"
        :resourceId="'tasks'"
        :pinLabel="labels.PINTASK"
        :hasViewMyResource="true"
        :icon="'tasks'">
            <template slot-scope="resource">
                <router-link class="ellipsis w85" :to="getLink(resource.resource.link)">
                    <span class="title">{{resource.resource.name}}</span>
                    <br />
                    <span class="fa fa-tasks"></span>
                    <span class="detail">{{resource.resource.board_name}}</span>
                    <span class="separator"></span>
                    <span class="fa fa-flask"></span>
                    <span class="detail">{{resource.resource.project_name}}</span>
                </router-link>
            </template>
        </left-drawer-template>
</template>

<script>
import { labels } from "@/services/i18n.service";
import LeftDrawerTemplate from "../LeftDrawerTemplate";

export default {
    name: "left-drawer-tasks",
    props: {
        user: Object,
        topTasks: Array
    },
    components: {
        "left-drawer-template": LeftDrawerTemplate
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        getLink(link) {
            return `/${link.substring(1)}`;
        }
    }
};
</script>
