<template lang="html">
    <li class="panel">
        <div class="column-group half-horizontal-gutters">
            <div class="all-80">
                <a target="_blank" class="medium" :href="link.link">{{ link.title }}</a>
            </div>
            <div class="all-20 align-right">
                <button class="unstyled" @click="$emit('removeLink', index)">
                    <span class="fa fa-times-circle"></span>
                </button>
            </div>
        </div>
    </li>
</template>

<script>

export default {
    name: "preferences-general-link",
    props: {
        index: Number,
        link: Object
    }
};
</script>