<template lang="html">
    <div>
        <div class="vertical-space">
            <h4 class="uppercase fillet slab-400">{{ labels.LANGUAGE }}</h4>
            <p class="fw-300 note italic">{{ labels.LANGUAGE_HELPER }}</p>
            <div class="column-group">
                <div class="control-group all-50 small-100 tiny-100">
                    <div class="control">
                        <custom-select 
                            :selected="selectedLanguage" 
                            :options="languages" 
                            @onChange="changeLanguage($event)"
                        ></custom-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="vertical-space">
            <h4 class="uppercase fillet slab-400">{{ labels.LINKS }}</h4>
            <p class="fw-300 note italic">{{ labels.LINKS_HELPER }}</p>
            <div class="column-group half-gutters">
                <div class="control all-30 small-30 tiny-100">
                    <input 
                        style="width: 100%" 
                        type="text" 
                        maxlength="70" 
                        :placeholder="labels.NEW_LINK_TITLE"
                        v-model="newLinkTitle"/>
                </div>
                <div class="control all-50 small-70 tiny-100">
                    <input 
                        style="width: 100%" 
                        type="text" 
                        maxlength="100" 
                        :placeholder="labels.NEW_LINK_URL"
                        v-model="newLinkURL"/>
                </div>
                <div class="control all-20 small-100 tiny-100">
                    <button 
                        class="ink-button" 
                        :disabled="newLinkDisabled"
                        @click="addLink()"
                    >{{ labels.NEW_LINK }}</button>
                </div>
            </div>

            <ul class="unstyled fw-300">
                
                <preferences-general-link
                    v-for="(link, index) of customLinks"
                    :key="index"
                    :index="index"
                    :link="link"
                    @removeLink="removeLink"
                ></preferences-general-link>
            </ul>
        </div>
    </div>
</template>

<script>

import { labels } from '@/services/i18n.service';

import appConfig from '@/app.config';

import PreferencesGeneralLink from "./PreferencesGeneralLink";

export default {
    name: "preferences-general",
    components: {
        "preferences-general-link": PreferencesGeneralLink
    },
    props: {
        user: Object,
        userSettings: Object
    },
    data() {
        return {
            labels,
            languages: appConfig.languages,
            customLinks: [],
            selectedLanguage: '',
            newLinkTitle: '',
            newLinkURL: ''
        }
    },
    created() {
        this.selectedLanguage = this.userSettings.language || this.languages[0].value;
        this.customLinks.push(...this.userSettings.custom_links);
    },
    methods: {
        updateFormValue() {
     
            this.$emit('setFormValue', {
                custom_links: this.customLinks
            })
        },
        addLink() {

            this.customLinks.push({
                title: this.newLinkTitle,
                link: this.newLinkURL,
                desc: ''
            });
     
            this.updateFormValue()
        },
        removeLink(index) {

            this.customLinks.splice(index, 1);
     
            this.updateFormValue()
        },
        changeLanguage(lang) {

            console.warn(lang)

            this.$emit('setFormValue', {
                language: lang
            })
        }
    },
    computed: {
        newLinkDisabled() {

            return !(this.newLinkTitle.length && this.newLinkURL.length && !this.customLinks.filter(res => res.title === this.newLinkTitle).length);
        }
    }
};
</script>