<template>
    <div class="xlarge-50 large-50 all-100">
        <div class="card no-padding clearfix resource">
            <div class="icon">
                <span :class="resource.icon"></span>
                <span class="type">{{resource.enabled_capabilities}}</span>
            </div>

            <div class="details">
                <router-link class="slab-400" :to="getLink(resource.link)">
                    {{resource.name}}
                </router-link>
                <p v-if="resource.description" class="medium quarter-bottom-space">{{resource.item}}</p>
                <p v-else class="no-data medium quarter-bottom-space">{{labels.NODESCRIPTION}}</p>
                <p class="info">{{resource.info}}</p>
            </div>

            <button v-if="isManager"
                class="unstyled config"
                :title="labels.CONFIGURATION"
                @click="showConfig()"
                data-bind="click: $parent.showConfiguration.bind($parent)">
                <span class="fa fa-cog"></span>
            </button>
        </div>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-resources-item",
    props: {
        resource: Object,
        isManager: Boolean
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        showConfig() {
            alert('TODO');
        },
        getLink(link) {
            let tabRegex = /\?tab.+?(?=&)/gm;
            let idRegex = /&res.+?(?=&)/gm;
            let tabMatch = tabRegex.exec(link)[0];
            let idMatch = idRegex.exec(link)[0];
            return `/${link.substring(1, link.length)
                .replace(tabMatch, `/${tabMatch.substring(tabMatch.indexOf('=') + 1, tabMatch.length)}`)
                .replace(idMatch, `/${idMatch.substring(idMatch.indexOf('=') + 1, idMatch.length)}`)
                .replace('&', '?')}`;
        }
    }
};
</script>
