<template>
    <section class="resources all-100">
        <div class="fillet clearfix">
            <h4 class="slab-400 uppercase no-margin push-left">{{labels.RESOURCES}}</h4>
            <router-link class="view-all push-right"
                :to="'/project/resources/' + project.unix_username + 'filter=type_order&all&page=1'">
                {{labels.VIEWALL}}
            </router-link>
        </div>
        <div class="column-group half-gutters half-top-space">
            <project-resources-item
                v-for="resource in resources"
                :is-manager="project.is_manager"
                :resource="resource"
                :key="resource.pk">
            </project-resources-item>
        </div>
        <!-- ko if: moreResources -->
        <a class="fw-300 medium" data-bind="text: tr.VIEWALL, attr: {href: '#project/' + unix() + '?tab=resources&filter=type_order&all&page=1'}">
            {{labels.VIEWALL}}
        </a>
        <!-- /ko -->
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
import ProjectResourcesItem from './ProjectResourcesItem';
export default {
    name: "project-resources",
    props: {
        project: Object,
        resources: Array
    },
    components: {
        "project-resources-item": ProjectResourcesItem
    },
    data() {
        return {
            labels
        };
    }
};
</script>
