<template>
    <ul class="unstyled contacts">
        <project-contacts-item
            v-for="contact in project.contacts"
            :contact="contact"
            :key="contact.unix">
        </project-contacts-item>
    </ul>
</template>

<script>
import { labels } from "@/services/i18n.service";
import ProjectContactsItem from './ProjectContactsItem';
export default {
    name: "project-contacts",
    components: {
        "project-contacts-item": ProjectContactsItem
    },
    props: {
        project: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
