<template>
    <li class="clearfix">
        <template v-if="contact.type === 'user'">
            <custom-img :photo="contact.avatar" :size="'small'"></custom-img>
            <div>
                <router-link class="name" :to="'user/' + contact.unix">
                    {{contact.name}}
                </router-link>
                <p class="role no-margin">{{contact.label}}</p>
                <a class="mail" :mailto="contact.email">
                    {{contact.email}}
                </a>
            </div>
        </template>

        <template v-else>
            <div class="all-100">
                <p class="mailing-list">
                    <span class="fa fa-list-alt fa-lg quarter-right-space"></span>
                    <a class="mail" :mailto="contact.email">
                        {{contact.email}}
                    </a>
                </p>
            </div>
        </template>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-contacts-item",
    props: {
        contact: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
