<template lang="html">
    <left-drawer-template
        :user="user"
        :topResources="tickets"
        :titleLabel="labels.TICKETS"
        :myResourceLabel="labels.MYTICKETS"
        :myResourceUrl="'/user/'+user.unix_username+'?tab=tickets&filter=-modified_on&Open&page=1'"
        :resourceId="'tickets'"
        :pinLabel="labels.PINTICKET"
        :icon="'ticket'"
        :hasViewMyResource="true">
            <template slot-scope="resource">
                <router-link class="ellipsis w85" :to="getLink(resource.resource.link)">
                    <span class="ink-label medium"
                        :class="{
                            green: resource.resource.green,
                            blue: resource.resource.blue,
                            red: resource.resource.red,
                            orange: resource.resource.orange
                        }">
                        {{resource.resource.status}}
                    </span>
                    <span class="title">{{resource.resource.summary}}</span>
                    <br/>
                    <span class="detail">{{resource.resource.info}}</span>
                    <span class="separator"></span>
                    <span class="fa fa-wrench"></span>
                    <span class="detail">{{resource.resource.resource}}</span>
                </router-link>
            </template>
        </left-drawer-template>
</template>

<script>
import { labels } from "@/services/i18n.service";
import LeftDrawerTemplate from '../LeftDrawerTemplate';

export default {
    name: "left-drawer-tickets",
    props: {
        tickets: Array,
        user: Object
    },
    components: {
        'left-drawer-template': LeftDrawerTemplate
    },
    mounted() {},
    data() {
        return {
            labels
        };
    },
    methods: {
        getLink(link) {
            return `/${link.substring(1)}`;
        }
    },
    computed: {

    }
};
</script>
