<template lang="html">
    <li class="search hide-medium hide-small hide-tiny">
        <form class="ink-form" @submit.prevent="submitSearch()">
            <div class="control-group no-margin">
                <div class="control append-symbol no-margin">
                    <span>
                        <input type="search" v-model="searchTerm"  name="search" id="search" :placeholder="labels.SEARCH_INTRANET">
                        <a @click="submitSearch()"><span class="fa fa-search"></span></a>
                    </span>
                </div>
            </div>
        </form>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "search-bar",
    props: [],
    created() {},
    data() {
        return {
            labels,
            searchTerm: ''
        };
    },
    methods: {
        submitSearch() {
            this.$emit("onSearch", this.searchTerm);
        }
    }
};
</script>