<template>
    <ul class="unstyled project-mailing-lists">
        <!-- ko foreach: mailinglists -->
        <li class="clearfix contacts">
            <!-- <div class="icon push-left">
                <span class="fa fa-envelope"></span>
            </div> -->
            <p class="no-margin uppercase"><a class="name" data-bind="text: name, attr: {href: link}"></a></p>
            <p class="no-margin"><a class="mail" data-bind="text: email, attr: {href: 'mailto:' + email}"></a></p>
            <p class="no-margin">
                <!-- ko ifnot: subscribed() || pending_subscription() -->
                <a class="action subscribe" data-bind="text: $parent.tr.SUBSCRIBE, click: $parent.subscribeMailinglist.bind($parent)">
                    {{labels.SUBSCRIBE}}
                </a>
                <!-- /ko -->
                <!-- ko if: subscribed -->
                <a class="action unsubscribe" data-bind="text: $parent.tr.UNSUBSCRIBE, click: $parent.unsubscribeMailinglist.bind($parent)">
                    {{labels.UNSUBSCRIBE}}
                </a>
                <!-- /ko -->
                <!-- ko if: pending_subscription -->
                <a class="action cancel" data-bind="text: $parent.tr.CANCELREQUEST, click: $parent.cancelMailinglistRequest.bind($parent)">
                    {{labels.CANCELREQUEST}}
                </a>
                <!-- /ko -->
            </p>
        </li>
        <!-- /ko -->
    </ul>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-mailing-lists",
    props: {
        project: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
