<template>
    <div>
        <top-nav :title="navTitle" :is-self="isSelf"></top-nav>
        <div class="ink-grid dashboard">
            <div class="column-group gutters vertical-space">
                <div class="all-30 medium-100 small-100 tiny-100">
                    <div class="bottom-space" v-for="(widget, idx) in leftWidgets" :key="idx">
                        <component :user="user" :is="widget"></component>
                    </div>
                </div>

                <div class="all-50 medium-60 small-100 tiny-100">
                    <!-- <div data-bind="template: {name: 'dashboardCardTemplate', foreach: main}"></div> -->
                    <news></news>
                </div>

                <div class="all-20  medium-40 small-100 tiny-100">
                    <div class="bottom-space">
                        <right-links :links="links"></right-links>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import TicketsWidget from "./widgets/tickets/TicketsWidget";
import TasksWidget from "./widgets/tasks/TasksWidget";
import EventsWidget from "./widgets/events/EventsWidget";
import SkillsWidget from "./widgets/skills/SkillsWidget";

import { mapGetters as mapUserGetters, mapActions as mapUserActions } from "@/user/store";
import { mapMutations as mapTasksMutations } from "@/tasks/store";
import types from "@/mutation.types";
import RightLinks from './right-links/RightLinks';
import News from './news/News.vue';

export default {
    name: "dashboard",
    props: {
        navTitle: String
    },
    components: {
        "tickets-widget": TicketsWidget,
        "tasks-widget": TasksWidget,
        "events-widget": EventsWidget,
        "skills-widget": SkillsWidget,
        "right-links": RightLinks,
        "news": News
    },
    created() {
        this.init();
    },
    data() {
        return {
            leftWidgets: [
                "tickets-widget",
                "tasks-widget",
                "events-widget",
                "skills-widget"
            ]
        };
    },
    methods: {
        ...mapTasksMutations({
            init: types.INIT_APP
        }),
        ...mapUserActions({
            initLinks: types.USER.GET_LINKS
        })
    },
    computed: {
        ...mapUserGetters({
            user: "user",
            links: "links"
        }),
        isSelf() {
            return (
                this.user && this.$route.params.username &&
                this.$route.params.username === this.user.unix_username
            );
        }
    }
};
</script>
