<template lang="html">
    <div class="drawer-tab notifications" >
        <template v-if="notificationsType.length">
            <right-drawer-notifications-type
                :notifications="notifications"
                v-for="notifications in notificationsType" :key="notifications.type"
                @onClearNotifications="$emit('onClearNotifications', $event)"
                @onDismissNotification="$emit('onDismissNotification', $event)">
            </right-drawer-notifications-type>
        </template>

        <p v-else class="no-data">{{labels.YOUDONTHAVENOTIFICATIONS}}</p>
    </div>
</template>

<script>
import { labels } from '@/services/i18n.service';
import RightDrawerNotificationsType from './RightDrawerNotificationsType';

export default {
    name: "right-drawer-notifications",
    props: {
        notificationsType: Array
    },
    components: {
        'right-drawer-notifications-type': RightDrawerNotificationsType
    },
    mounted() {},
    data() {
        return {
            labels
        };
    },
    computed: {

    }
};
</script>
