<template lang="html">
    <div class="link-grp half-top-space">
        <div class="header clearfix">
            <h4 class="title push-left">
                <span>{{notifications.typeLabel}}</span>
                (<span>{{notifications.count}}</span>)
            </h4>
            <button class="clean push-right" @click="$emit('onClearNotifications', notifications.type)">
                {{labels.CLEAR}}
            </button>
        </div>
        <ul>
            <template v-for="notification in notifications.notifications">
                <right-drawer-notifications-project
                    :notification="notification"
                    @onDismissNotification="$emit('onDismissNotification', $event)"
                    v-if="notification.scope === 'project'"
                    :key="notification.id">
                </right-drawer-notifications-project>
                <right-drawer-notifications-user
                    :notification="notification"
                    v-if="notification.scope === 'user'"
                    :key="notification.id">
                </right-drawer-notifications-user>
                <right-drawer-notifications-tasks
                    :notification="notification"
                    @onDismissNotification="$emit('onDismissNotification', $event)"
                    v-if="notification.scope === 'task'"
                    :key="notification.id">
                </right-drawer-notifications-tasks>
                <right-drawer-notifications-tickets
                    :notification="notification"
                    @onDismissNotification="$emit('onDismissNotification', $event)"
                    v-if="notification.scope === 'ticket'"
                    :key="notification.id">
                </right-drawer-notifications-tickets>
            </template>
        </ul>
    </div>
</template>

<script>
import appConfig from "@/app.config";
import { labels } from '@/services/i18n.service';
import RightDrawerNotificationsProject from './projects/RightDrawerNotificationsProject';
import RightDrawerNotificationsUser from './user/RightDrawerNotificationsUser';
import RightDrawerNotificationsTasks from './tasks/RightDrawerNotificationsTasks';
import RightDrawerNotificationsTickets from './tickets/RightDrawerNotificationsTickets';

export default {
    name: "right-drawer-notifications-type",
    props: {
        notifications: Object
    },
    components: {
        'right-drawer-notifications-project': RightDrawerNotificationsProject,
        'right-drawer-notifications-user': RightDrawerNotificationsUser,
        'right-drawer-notifications-tasks': RightDrawerNotificationsTasks,
        'right-drawer-notifications-tickets': RightDrawerNotificationsTickets
    },
    mounted() {},
    data() {
        return {
            labels,
            groupTitle: appConfig.linksGroups
        };
    },
    methods: {
        silentNotificationDismiss() {}
    },
    computed: {}
};
</script>
