<template>
  <section class="card tasks">
      <header class="column-group">
          <div class="all-50">
              <h1>{{labels.TASKS}}</h1>
          </div>
          <form class="ink-form all-50">
              <div class="control-group">
                  <div class="control">
                      <select v-model="selectedFilter" @change="changeFilter()">
                          <option value="all">{{labels.ALL}}</option>
                          <optgroup v-for="filter in filters" :label="filter.project.name" :key="filter.id">
                              <option v-for="board in filter.boards" :value="board.unix_username" :key="board.id">{{board.name}}</option>
                          </optgroup>
                      </select>
                  </div>
              </div>
          </form>
      </header>
      <ul class="unstyled event-list">
          <template v-if="tasks.length">
              <tasks-widget-item v-for="task in tasks" :key="task.pk" :task="task"></tasks-widget-item>
              <li>
                  <router-link class="more" :to="'/user/' + user.unix_username + '?tab=tasks&filter=name&all'">{{labels.VIEWALL}}</router-link>
              </li>
          </template>
          <li v-else class="no-data">{{labels.NOTASKS}}</li>
      </ul>
  </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
import appConfig from "@/app.config";

import {
    mapActions as mapTasksActions,
    mapGetters as mapTasksGetters,
    mapMutations as mapTasksMutations
} from "@/tasks/store";

import types from "@/mutation.types";
import TasksWidgetItem from './TasksWidgetItem';

export default {
    name: "tasks-widget",
    components: {
        'tasks-widget-item': TasksWidgetItem
    },
    props: {
        user: Object
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        ...mapTasksActions({
            getTasks: types.GET,
            getTasksFilters: types.TASKS.GET_FILTERS
        }),
        ...mapTasksMutations({
          setWidgetFilter: types.TASKS.SET_WIDGET_FILTER
        }),
        changeFilter() {
            this.setWidgetFilter(this.selectedFilter);
            this.getTasks({ user: this.user.unix_username, filter: this.selectedFilter });
        }
    },
    computed: {
        selectedFilter: {
          get: function() {
            return this.$store.state['$tasks'].defaultFilter;
          },
          set: function(filter) {
            this.$store.commit(`${appConfig.storeNamespace.tasks}/${types.TASKS.SET_WIDGET_FILTER}`, filter);
          }
        },
        ...mapTasksGetters({
            tasks: "tasks",
            filters: "filters"
        })
    },
    watch: {
        user: function(newUser) {
            if (newUser) {
                this.getTasks({ user: newUser.unix_username, filter: this.selectedFilter })
                this.getTasksFilters({ user: newUser.unix_username });
            }
        }
    }
};
</script>