<template>
    <li>
        <router-link class="title" :to="getLink(task.link)">{{task.name}}</router-link>
        <p class="detail">
            <span class="fa fa-tasks"></span>
            <router-link :to="getLink(task.board_link)">{{task.board_name}}</router-link>
            <span class="separator"></span>
            <span class="fa fa-flask"></span>
            <router-link :to="getLink(task.project_link)">{{task.project_name}}</router-link>
        </p>
    </li>
</template>

<script>
import UtilService from "@/services/helper.service";
export default {
    name: "tasks-widget-item",
    props: {
        task: Object
    },
    methods: {
        getLink(link) {
            return UtilService.getLink(link);
        }
    }
};
</script>