<template>
    <div class="all-30 small-100 tiny-100">
        <h4 class="uppercase fillet slab-400">{{labels.FEEDBACK}}</h4>
        <project-feedback :project="project"></project-feedback>

        <template v-if="project.contacts && project.contacts.length">
            <h4 class="uppercase fillet slab-400 top-space">{{labels.PROJCONTACTS}}</h4>
            <project-contacts :project="project"></project-contacts>
        </template>

        <template v-if="project.mailinglists && project.mailinglists.length">
            <h4 class="uppercase fillet slab-400 top-space">{{labels.PROJMAILINGLISTS}}</h4>
            <project-mailing-lists :project="project"></project-mailing-lists>
        </template>

        <project-members v-if="project.members && project.members.length" :project="project"></project-members>
    </div>
</template>

<script>

import { labels } from "@/services/i18n.service";
import ProjectFeedback from './feedback/ProjectFeedback';
import ProjectContacts from './contacts/ProjectContacts';
import ProjectMailingLists from './mailing-lists/ProjectMailingLists';
import ProjectMembers from './members/ProjectMembers';

export default {
    name: "project-summary-right-column",
    props: {
        project: Object
    },
    components: {
        "project-feedback": ProjectFeedback,
        "project-contacts": ProjectContacts,
        "project-mailing-lists": ProjectMailingLists,
        "project-members": ProjectMembers
    },
    data() {
        return {
            labels
        };
    }
};
</script>
