<template>
    <div class="all-70 small-100 tiny-100" v-if="project">
        <div class="column-group gutters">
            <project-avatar :project="project"></project-avatar>

            <div class="all-85 medium-80 small-100 tiny-100">
                <h4 class="project-desc" style="white-space: pre-wrap">
                    {{project.description}}
                </h4>
            </div>

            <project-media
                :project="project"
                v-if="project.media.length"
                @onClickMediaImage="$emit('onClickMediaImage', $event)">
            </project-media>

            <project-documents
                :project="project"
                v-if="project.docs.length">
            </project-documents>

            <project-links
                :project="project"
                v-if="project.links.length">
            </project-links>

            <project-resources
                :project="project"
                :resources="resources"
                v-if="resources && resources.length">
            </project-resources>

            <project-activity :project="project" v-if="project.is_member || project.is_manager"></project-activity>

            <project-vacations :project="project"></project-vacations>
        </div>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
import ProjectAvatar from './avatar/ProjectAvatar';
import ProjectDocuments from './documents/ProjectDocuments';
import ProjectLinks from './links/ProjectLinks';
import ProjectResources from './resources/ProjectResources';
import ProjectMedia from './media/ProjectMedia';
import ProjectActivity from './activity/ProjectActivity';
import ProjectVacations from './vacations/ProjectVacations';
// import appConfig from '@/app.config';
export default {
    name: "project-summary-left-column",
    props: {
        project: Object,
        resources: Array
    },
    components: {
        "project-avatar": ProjectAvatar,
        "project-media": ProjectMedia,
        "project-links": ProjectLinks,
        "project-documents": ProjectDocuments,
        "project-resources": ProjectResources,
        "project-activity": ProjectActivity,
        "project-vacations": ProjectVacations
    },
    data() {
        return {
            labels
        };
    }
};
</script>
