<template lang="html">
    <div>
        <custom-bar-link
            v-if="!user.is_partner"
            :url="'/search?tab=resources&page=1&filter=all'"
            :icon="'wrench'"
            :label="labels.MODULES">
        </custom-bar-link>
        <custom-bar-link
            v-if="user.is_partner"
            :icon="'wrench'"
            :label="labels.MODULES">
        </custom-bar-link>
        <draggable
            :element="'ul'"
            class="mega-menu"
            id="modules"
            @end="endDrag($event)"
            :options="dragOptions"
            v-model="topResource"
            :list="topResource">
            <template v-if="topResource && topResource.length">
                <li v-for="singleModule in topResource" :key="singleModule.id" class="drag-item" :data-resource-id="singleModule.id">
                    <module-item :single-module="singleModule" :modules-length="topResource.length" :edit-mode="editMode"></module-item>
                </li>
            </template>
            <li v-else class="no-data" slot="footer">
                <span>{{labels.BYPINNING}}</span>
                <span class="fa fa-thumb-tack"></span>
                <span>{{labels.PINMODULE}}</span>
            </li>
            <li slot="footer">
                <div class="all-100">
                    <custom-btn
                        v-if="!editMode"
                        :icon="'pencil'"
                        :label="labels.EDIT"
                        @onClick="onToggleEdit">
                    </custom-btn>
                    <custom-btn
                        v-else
                        :icon="'lock'"
                        :label="labels.LOCK"
                        @onClick="onToggleEdit">
                    </custom-btn>
                </div>
            </li>
        </draggable>
    </div>
</template>

<script>
import ModuleItem from "./ModuleItem";
import { labels } from '@/services/i18n.service';

export default {
    name: "modules-menu",
    props: {
        user: Object,
        topResource: Array,
        dragOptions: Object,
        editMode: Boolean,
        onToggleEdit: Function,
        onEndDrag: Function
    },
    components: {
        "module-item": ModuleItem
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        endDrag(evt) {
            this.onEndDrag({ evt, subtype: 'resource' });
        }
    }
};
</script>

