<template>
    <div class="column-group">
        <div class="quarter-left-space">
            <div class="item-wrapper">
                <p class="no-margin push-left" :title="singleModule.resource_name">
                    <router-link class="title" :to="getLink(singleModule.link)">
                        <span style="color: white;" :class="singleModule.icon"></span>
                        &nbsp;
                        <span>{{singleModule.name}}</span>
                    </router-link>
                </p>
                <p v-if="modulesLength < 10 && singleModule.project_unix" class="detail">
                    <router-link :to="'/project/' + singleModule.project_unix">
                        <span class="fa fa-flask"></span>
                        &nbsp;
                        <span class="uppercase">{{singleModule.project_name}}</span>
                    </router-link>
                </p>
                <i v-if="editMode" class="drag-handle align-center push-right fa fa-bars"></i>
            </div>
        </div>
    </div>
</template>
<script lang="js">
import UtilService from '@/services/helper.service';
export default {
    name: 'module-item',
    props: {
        singleModule: Object,
        editMode: Boolean,
        modulesLength: Number
    },
    mounted() {

    },
    data() {
        return {

        }
    },
    methods: {
        getLink(link) {
            return UtilService.getLink(link);
        }
    },
    computed: {
    }
}
</script>
