<template>
    <div class="xlarge-50 large-50 all-100">
        <div class="column-group gutters">
            <div class="all-100">
                <h4 class="uppercase fillet slab-400">{{labels.ABOUT_ME}}</h4>
                <p class="fw-300" style="white-space: pre-wrap" v-if="user.description">{{user.description}}</p>
                <template v-else>
                    <p class="fw-300 note italic" v-if="isSelf">{{labels.FILLME}}</p>
                    <p class="fw-300 note italic" v-else>{{labels.NODESC}}</p>
                </template>
            </div>
            <div class="all-100">
                <h4 style="display:inline;" class="uppercase fillet slab-400">{{labels.VACATIONPERIODS}}</h4>
                <router-link :to="'/user/' + user.unix_username + '/vacations'" style="font-size:smaller;">
                    {{labels.SEEALL_F}}
                </router-link>
                <div class="ink-form">
                    <div>
                        <div class="clearfix">
                            <ul class="unstyled">
                                <li class="fillet clearfix">
                                    <p v-if="vacationsItems.month === 0" class="push-left no-margin quarter-top-padding">{{noVacationsMonth}}</p>
                                    <p v-else class="push-left no-margin quarter-top-padding">{{currentMonthFullString}}</p>
                                </li>
                                <li class="fillet clearfix">
                                    <p v-if="vacationsItems.nextMonth === 0" class="push-left no-margin quarter-top-padding">{{noVacationsNextMonth}}</p>
                                    <p v-else class="push-left no-margin quarter-top-padding">{{nextMonthFullString}}</p>
                                </li>
                                <li class="fillet clearfix">
                                    <p v-if="vacationsItems.year === 0" class="push-left no-margin quarter-top-padding">{{noVacationsYear}}</p>
                                    <p v-else class="push-left no-margin quarter-top-padding">{{currentYearFullString}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
import moment from 'moment';

export default {
    name: "user-vacations",
    props: {
        user: Object,
        isSelf: Boolean,
        vacations: Array,
        vacationsItems: Object
    },
    data() {
        return {
            labels,
            currentMonth: moment().format('MMMM YYYY'),
            nextMonth: moment().add(1, 'months').format('MMMM YYYY'),
            currentYear: moment().format('YYYY')
        };
    },
    computed: {
        currentMonthFullString() {
            return `${this.vacationsItems.month} ${this.labels.DAYSSCHEDULEDFOR} ${this.currentMonth}`;
        },
        nextMonthFullString() {
            return `${this.vacationsItems.nextMonth} ${this.labels.DAYSSCHEDULEDFOR} ${this.nextMonth}`;
        },
        noVacationsNextMonth() {
            return `${this.labels.NOVACATIONSSCHEDULEDFOR} ${this.nextMonth}`;
        },
        currentYearFullString() {
            return `${this.vacationsItems.year} ${this.labels.DAYSSCHEDULEDFOR} ${this.currentYear}`;
        },
        noVacationsYear() {
            return `${this.labels.NOVACATIONSSCHEDULEDFOR} ${this.currentYear}`;
        },
        noVacationsMonth() {
            return `${this.labels.NOVACATIONSSCHEDULEDFOR} ${this.currentMonth}`;
        }
    }
};
</script>