<template>
    <section class="all-100 activity">
        <h4 class="slab-400 fillet uppercase">{{labels.RECENTACT}}</h4>
        <ul class="unstyled no-margin">
            <!-- ko foreach: events -->
            <li class="panel quarter-padding">
                <p class="desc">
                    <!-- ko foreach: message -->
                    <!-- ko if: typeof($data) == 'string' -->
                    <span data-bind="text: $data"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: typeof($data) == 'string' -->
                    <a data-bind="text: $data.value, attr: {href: $data.link}"></a>
                    <!-- /ko -->
                    <!-- /ko -->
                    <span class="timestamp" data-bind="text: date"></span>
                </p>
            </li>
            <!-- /ko -->
            <li>
                <a class="medium" data-bind="handleMoreEvents, visible: enableMoreEvents">{{labels.SHOWMORE}}</a>
            </li>
        </ul>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-activity-item",
    props: {
        activity: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
