<template>
    <section class="all-100 activity">
        <h4 class="slab-400 fillet uppercase">{{labels.RECENTACT}}</h4>
        <ul class="unstyled no-margin">
            <project-activity-item :activity="activity" :key="activity" v-for="activity in events"></project-activity-item>
            <li>
                <a class="medium" data-bind="handleMoreEvents, visible: enableMoreEvents">{{labels.SHOWMORE}}</a>
            </li>
        </ul>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
import ProjectActivityItem from './ProjectActivityItem';
export default {
    name: "project-activity",
    components: {
        "project-activity-item": ProjectActivityItem
    },
    props: {
        events: Array
    },
    data() {
        return {
            labels
        };
    }
};
</script>
