<template>
    <section class="all-100 holidays">
        <h4 style="display:inline;" class="slab-400 fillet uppercase">{{labels.VACATIONS}}</h4>
        <a data-bind="text:'(' + tr.SEEALL_F + ')', attr:{href: projectVacationsUrl()}" style="font-size:smaller;">
            {{labels.SEEALL_F}}
        </a>
        <ul class="accordion unstyled">
            <!-- ko foreach: visibleVacations -->
            <li class="panel quarter-padding">
                <a>
                    <p data-bind="click: $parent.initVacationsToggleViews.bind($data)" class="desc ink-toggle no-margin" data-target="#accordion-" data-close-on-click="false" data-is-accordion="true">
                        <span data-bind="text: $data[0][0].user_name"></span>
                        <i class="quarter-padding fa fa-caret-down push-right"></i>
                        <i class="quarter-padding fa fa-caret-up push-right"></i>
                    </p>
                </a>
            </li>
            <div id="accordion-" class="block hide-all">
                <ul class="unstyled quarter-left-space">
                    <!-- ko foreach: $data -->
                    <li class="fillet">
                        <p data-bind="text: $parents[1].formatDate($data)" class="desc"></p>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
            <!-- /ko -->
            <li>
                <a class="medium" data-bind="click: showMoreVacationsUsers, visible: hasMoreVacationsUsers">
                    {{labels.SHOWMORE}}
                </a>
            </li>
        </ul>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-vacations",
    props: {
        project: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
