<template>
    <div>
        <top-nav
            :user="userDetail"
            v-if="userDetail && user"
            :show-edit-button="showEditButton"
            :is-self="isSelf()"
            :is-summary="isSummary()"
            @onEdit="editUser()">
            <context-nav
                :user="userDetail"
                :tabs="dashboardTabs"
                :current-tab="currentTab()"
                :show-edit-button="showEditButton"
                :is-summary="isSummary()"
                @onEdit="editUser()">
            </context-nav>
        </top-nav>
        <router-view :key="$route.fullPath" :is-self="isSelf()"></router-view>
    </div>
</template>

<script>

import {
    mapActions as mapUserActions,
    mapGetters as mapUserGetters,
    mapMutations as mapUserMutations
} from "@/user/store";
import types from "@/mutation.types";
import appConfig from '@/app.config';

export default {
    name: "user-dashboard",
    created() {
        this.getUserDetail(this.$route.params.username);
    },
    methods: {
        ...mapUserActions({
            getUserDetail: types.USER.GET_DETAIL
        }),
        ...mapUserMutations({
            clearDetailState: types.CLEAR_STATE
        }),
        isActive(tab) {
            return tab === this.currentTab();
        },
        currentTab() {
            let routePaths = this.$route.path.split('/');
            return routePaths[routePaths.length - 1];
        },
        isSummary() {
            return this.currentTab() === appConfig.userDashboardTabs.summary;
        },
        isSelf() {
            return this.user ? this.$route.params.username === this.user.unix_username : false;
        },
        editUser() {
            this.$router.push({ name: 'summaryEdit' });
        }
    },
    computed: {
        ...mapUserGetters({
            userDetail: "userDetail",
            user: "user",
            dashboardTabs: 'dashboardTabs'
        }),
        showEditButton() {
            return (this.isSelf() || this.user.is_curator) && this.isSummary();
        }
    },
    beforeDestroy: function() {
        this.clearDetailState();
    }
};
</script>
