<template>
    <div class="ink-grid user general vertical-space" v-if="userDetail">
        <section class="vcard ink-form">
            <div class="column-group gutters">
                <user-avatar
                    :user="userDetail"
                    :is-self="isSelf"
                    @onShowKey="showKey()"
                    @onOpenPasswordModal="showPassword()">
                </user-avatar>
                <user-contacts
                    :user="userDetail"
                    :slack-info="slackInfo"
                    :is-self="isSelf"
                    :is-loading-slack="isLoadingSlack"
                    :is-inviting-slack="isInvitingSlack"
                    @onInviteToSlack="inviteSlack()"
                    @onSlackSendPM="slackSendPM($event)">
                </user-contacts>
                <user-vacations
                    v-if="vacationsItems"
                    :user="userDetail"
                    :vacations="vacations"
                    :vacations-items="vacationsItems"
                    :is-self="isSelf">
                </user-vacations>
            </div>
        </section>
        <section class="ink-form top-space">
            <div class="column-group gutters">
                <user-corporate :user="userDetail" v-if="!userDetail.is_partner"></user-corporate>
                <user-skills
                    :user="userDetail"
                    :skills="endorsedSkills"
                    v-if="!userDetail.is_partner && endorsedSkills.length"
                    :is-self="isSelf"
                    @onHandleEndorsement="handleEndorsement($event)"></user-skills>
            </div>
        </section>
        <!-- ko module: {name: 'App.Intra.User.SocialNetworks', data: socialNetworksData} -->
        <!-- /ko -->
        <custom-modal
            :show-modal="SSHModalFlag"
            :title="labels.SSH_KEYS"
            :size="'mini'"
            @onConfirm="closeSSHModal()"
            @onClose="closeSSHModal()">
            <small-modal :message="sshKeyPopupMessage"></small-modal>
        </custom-modal>

        <custom-modal
            v-if="passwordModalFlag"
            :show-modal="passwordModalFlag"
            :title="labels.CHANGEPASSWORD"
            :cancel-btn="labels.CANCEL"
            :ok-btn="labels.CONFIRM"
            :ok-btn-color="'green'"
            :size="'large'"
            :disabled="!validPassword"
            @onConfirm="submitChangePassword()"
            @onClose="closePasswordModal()">
            <password-modal
                :message="sshKeyPopupMessage"
                @onPasswordCheck="checkPassword($event)"
                :password-strength="passwordStrength">
            </password-modal>
        </custom-modal>
    </div>
</template>

<script>
import {
    mapActions as mapUserActions,
    mapGetters as mapUserGetters
} from "@/user/store";
import types from "@/mutation.types";
import { labels } from "@/services/i18n.service";
import UserAvatar from "./view/avatar/UserAvatar";
import UserContacts from "./view/contacts/UserContacts";
import UserSkills from "./view/skills/UserSkills";
import UserVacations from "./view/vacations/UserVacations";
import UserCorporate from "./view/corporate/UserCorporate";
import moment from 'moment';
import UtilService from '@/services/helper.service';
import SlackService from '@/services/slack.service';
import PasswordModal from './view/avatar/PasswordModal';
import {
    mapMutations as mapLayoutMutations
} from "@/layout/store";

export default {
    name: "user-summary",
    components: {
        "user-avatar": UserAvatar,
        "user-contacts": UserContacts,
        "user-skills": UserSkills,
        "user-vacations": UserVacations,
        "user-corporate": UserCorporate,
        "password-modal": PasswordModal
    },
    data() {
        return {
            labels,
            SSHModalFlag: false,
            passwordModalFlag: false,
            validPassword: false,
            newPassword: '',
            currentPassword: ''
        };
    },
    props: {
        'is-self': Boolean
    },
    created() {
        window.scrollTo(0, 0);
    },
    methods: {
        ...mapUserActions({
            getUserVacations: types.USER.GET_VACATIONS,
            getSlackInfo: types.USER.GET_SLACK_INFO,
            inviteToSlack: types.USER.INVITE_TO_SLACK,
            getUserDetail: types.USER.GET_DETAIL,
            getSkills: types.USER.GET_SKILLS,
            endorseSkill: types.USER.ENDORSE_SKILL,
            removeSkillEndorsement: types.USER.REMOVE_ENDORSE_SKILL,
            changePassword: types.USER.CHANGE_PASSWORD
        }),
        ...mapLayoutMutations({
            openToast: types.LAYOUT.OPEN_TOAST_PANEL
        }),
        getExtraUserInfo() {
            this.getUserVacations({
                user: this.userDetail.unix_username,
                start: UtilService.formatAPIDate(moment().startOf('year').toDate()),
                end: UtilService.formatAPIDate(moment().endOf('year').add(1, 'year').toDate())
            });

            this.getSlackInfo(this.userDetail.unix_username);
            this.getSkills(this.userDetail.unix_username);
        },
        slackSendPM(event) {
            window.open(SlackService.generateUserUrl(event.userId, event.teamId), '_blank');
        },
        inviteSlack() {
            this.inviteToSlack(this.userDetail.unix_username);
        },
        handleEndorsement(skill) {
            if (skill.endorsed) {
                this.removeSkillEndorsement({ skill: skill.skill_identifier, user: this.userDetail.unix_username })
            } else {
                this.endorseSkill({ skill: skill.skill_identifier, user: this.userDetail.unix_username });
            }
        },
        showKey() {
            this.SSHModalFlag = true;
        },
        showPassword() {
            this.passwordModalFlag = true;
        },
        closeSSHModal() {
            this.SSHModalFlag = false;
        },
        closePasswordModal() {
            this.passwordModalFlag = false;
        },
        checkPassword(event) {
            this.validPassword = event.valid;
            this.newPassword = event.new_password;
            this.currentPassword = event.current_password;
        },
        submitChangePassword() {
            this.changePassword({ new: this.newPassword, current: this.currentPassword })
                .then(this.changePasswordSuccess)
                .catch(err => {
                    this.openToast({ message: err.message || err, level: 'error' });
                })
        },
        changePasswordSuccess() {
            this.validPassword = false;
            this.newPassword = '';
            this.currentPassword = '';
            this.closePasswordModal();
        }
    },
    computed: {
        ...mapUserGetters({
            user: "user",
            userDetail: "userDetail",
            vacations: "vacations",
            vacationsItems: "vacationsItems",
            slackInfo: "slackInfo",
            isLoadingSlack: "isLoadingSlack",
            isInvitingSlack: "isInvitingSlack",
            endorsedSkills: "endorsedSkills",
            passwordStrength: "passwordStrength"
        }),
        sshKeyPopupMessage() {
            return this.userDetail.ssh_key || labels.NO_SSH_KEYS;
        }
    },
    watch: {
        userDetail: function(newValue) {
            if (newValue) {
                this.getExtraUserInfo();
            }
        }
    }
};
</script>
