<template>
  <div class="ink-grid user general" v-if="userDetail && userForm">
    <div style="display: none">
      <form id="photoSubmitForm">
        <input
          type="file"
          ref="photoBtn"
          name="file"
          accept="image/*"
          @change="changePhoto($event)">
      </form>
    </div>

    <user-contacts-edit
        :user-form="userForm"
        :possible-i-m-services="possibleIMServices"
        :possible-social-networks="possibleSocialNetworks"
        :photo-file="photoFile"
        @onPhotoClicked="openPhotoDialog()"
        @onChangeUserForm="changeUserForm($event)"
        @onRemovePhone="removePhone($event)"
        @onAddPhoneNumber="addPhoneNumber($event)"
        @onAddIMService="addIMService($event)"
        @onRemoveIMService="removeIMService($event)"
        @onAddSocialNetwork="addSocialNetwork($event)"
        @onRemoveSocialNetwork="removeSocialNetwork($event)"
        :is-self="isSelf">
    </user-contacts-edit>

    <user-corporate-edit
        :user="user"
        :user-form="userForm"
        :departments="departments"
        :all-users="allUsers"
        :external-boss-domains="externalBossDomains"
        :user-detail-status="userDetail.status"
        :username-domains="usernameDomains"
        :user-skills="userSkillsCopy"
        :all-skills="allSkills"
        :is-self="isSelf"
        @onChangeUserForm="changeUserForm($event)"
        @onRemoveSkill="removeSkill($event)"
        @onAddSkill="addSkill($event)">
    </user-corporate-edit>

    <user-administration-edit
        v-if="user.is_curator"
        :user="user"
        :user-form="userForm"
        :profiles="userProfiles"
        :network-profiles="networkProfiles"
        :status-types="statusTypes"
        :boss-types="bossTypes"
        @onChangeUserForm="changeUserForm($event)">
    </user-administration-edit>

    <user-custeio-edit
        v-if="user.is_curator"
        :user-form="userForm"
        :categories="categories"
        :contracts="contracts"
        @onChangeUserForm="changeUserForm($event)">
    </user-custeio-edit>

    <edit-bar
        :disable-confirm="!formIsValid"
        :name="labels.EDITUSER"
        :info="labels.EDITUSERDESC"
        :context="user.name"
        @onConfirm="submitForm()"
        @onDismiss="dismissEdit()">
    </edit-bar>
  </div>
</template>

<script>
import {
    mapActions as mapUserActions,
    mapGetters as mapUserGetters
} from "@/user/store";
import {
    mapMutations as mapLayoutMutations
} from "@/layout/store";
import types from "@/mutation.types";
import { labels } from "@/services/i18n.service";
import UserContactsEdit from './edit/contacts/UserContactsEdit';
import UserCorporateEdit from './edit/corporate/UserCorporateEdit';
import UserAdministrationEdit from './edit/administration/UserAdministrationEdit';
import UserCusteioEdit from './edit/custeio/UserCusteioEdit';
import UtilService from '@/services/helper.service';
import appConfig from '@/app.config';
// TODO Nesta página se o user tiver todos os campos disponiveis para serem editados,
// a classe wrap vai cortar os elementos mais em baixo por causa dum margin (acontece tambem em prod)

export default {
    name: "user-summary-edit",
    components: {
        "user-contacts-edit": UserContactsEdit,
        "user-corporate-edit": UserCorporateEdit,
        "user-administration-edit": UserAdministrationEdit,
        "user-custeio-edit": UserCusteioEdit
    },
    data() {
        return {
            labels,
            showModal: false,
            photoFile: null,
            userForm: null,
            usernameDomains: appConfig.usernameDomains,
            forgetSkillsObject: {
                skills: [],
                user: null
            },
            addSkillsObject: [],
            userSkillsCopy: []
        };
    },
    props: {
        'is-self': Boolean
    },
    created() {
        this.getUserDetail(this.$route.params.username);
    },
    methods: {
        ...mapUserActions({
            getUser: types.GET,
            getUserDetail: types.USER.GET_DETAIL,
            editUser: types.USER.EDIT,
            getSkills: types.USER.GET_SKILLS,
            getIMServices: types.USER.GET_IM_SERVICES,
            getSocialNetworks: types.USER.GET_SOCIAL_NETWORKS,
            getDepartments: types.USER.GET_DEPARTMENTS,
            getAllUsers: types.USER.GET_ALL,
            getExternalBossDomains: types.USER.GET_EXTERNAL_BOSS_DOMAINS,
            getUserProfiles: types.USER.GET_USER_PROFILES,
            getNetworkProfiles: types.USER.GET_NETWORK_PROFILES,
            uploadPhoto: types.USER.UPLOAD_PHOTO,
            forgetSkills: types.USER.FORGET_SKILLS,
            claimSkill: types.USER.ADD_SKILL,
            getAllSkills: types.SKILLS.GET_ALL,
            createSkill: types.SKILLS.CREATE_SKILL,
            getCategories: types.USER.GET_CUSTEIO_CATEGORIES,
            getContracts: types.USER.GET_CUSTEIO_CONTRACTS
        }),
        ...mapLayoutMutations({
            openToast: types.LAYOUT.OPEN_TOAST_PANEL,
            closeOverlay: types.LAYOUT.CHANGE_OVERLAY_STATE
        }),
        getExtraUserInfo() {
            this.copyForm();
            this.getIMServices();
            this.getSocialNetworks();
            this.getDepartments();
            this.getAllUsers();
            this.getExternalBossDomains();
            this.getUserProfiles();
            this.getNetworkProfiles();
            this.getSkills(this.userDetail.unix_username);
            this.getAllSkills();
            this.getCategories();
            this.getContracts();
        },
        changePhoto(event) {
            if (window.FileReader) {
                let reader = new FileReader();
                let input = this.$refs.photoBtn;
                reader.onload = e => {
                    this.userForm.photo = e.target.result;
                    this.photoFile = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        },
        dismissEdit() {
            this.$router.push({ name: 'summary' });
        },
        async submitForm() {
            let valid = await this.$validator.validate()
            if (valid) {
                this.editUser({ user: this.userForm, username: this.userDetail.unix_username })
                    .then(() => this.photoFile && this.uploadNewPhoto())
                    .then(this.submitForgetSkills)
                    .then(this.submitAddSkills)
                    .then(this.goToUserSummary)
                    .catch((err) => {
                        this.resetSkills();
                        this.openToast({ message: err.message || err, level: 'error' });
                        this.closeOverlay();
                    })
            }
        },
        submitForgetSkills() {
            if (this.forgetSkillsObject.skills.length) {
                this.forgetSkillsObject.user = this.userDetail.unix_username;
                return this.forgetSkills(this.forgetSkillsObject);
            }
        },
        submitAddSkills() {
            let createSkills = [];
            let addSkills = [];
            this.addSkillsObject.forEach(skill => {
                if (skill.new_skill) {
                    createSkills.push(this.createSkill({ creator: this.userDetail.unix_username, name: skill.name }));
                }
                // Again...nao me culpem pelo replace, culpem o developer original da intra. Bye Doggy
                addSkills.push(skill.name.trim().replace(/ /g, '_'));
            });
            return Promise.all(createSkills).then(() => this.claimSkill({ skills: addSkills }));
        },
        resetSkills() {
            this.forgetSkillsObject = {
                skills: [],
                user: null
            };
            this.addSkillsObject = [];
        },
        uploadNewPhoto() {
            let formData = new FormData();
            let file = new Blob([this.$refs.photoBtn.files[0]]);
            formData.append('file', file, file.name)
            return this.uploadPhoto({ photo: formData, username: this.userDetail.unix_username });
        },
        copyForm() {
            this.userForm = UtilService.copyForm(this.userDetail);
        },
        goToUserSummary() {
            this.$router.push({ name: 'summary', params: { username: this.userDetail.unix_username } });
        },
        openPhotoDialog() {
            this.$refs.photoBtn.click();
        },
        changeUserForm(event) {
            this.userForm[event.name] = event.value;
        },
        addPhoneNumber(phone) {
            let newPhone = UtilService.manglePhoneNumber(phone);
            if (newPhone) {
                this.userForm.phone_numbers.push(newPhone);
            } else {
                this.openToast({ message: labels.INVALIDCONTACT, level: 'info' });
            }
        },
        removePhone(phone) {
            this.userForm.phone_numbers.splice(this.userForm.phone_numbers.indexOf(phone), 1);
        },
        addIMService(imService) {
            this.userForm.im_services.push(imService);
        },
        removeIMService(imService) {
            this.userForm.im_services.splice(this.userForm.im_services.indexOf(imService), 1);
        },
        addSocialNetwork(network) {
            this.userForm.social_networks.push({ network: network.service, username: network.username });
        },
        removeSocialNetwork(network) {
            let copyNetwork = { network: network.service, username: network.username };
            this.userForm.social_networks.splice(this.userForm.social_networks.indexOf(copyNetwork), 1);
        },
        removeSkill(skill) {
            this.userSkillsCopy.splice(this.userSkillsCopy.indexOf(skill), 1);
            // Que fique bem claro que nao tenho nada a ver com este replace. Culpem quem fez originalmente a intra. Vergonha.
            this.forgetSkillsObject.skills.push(skill.name.trim().replace(/ /g, '_'));
        },
        addSkill(skill) {
            this.userSkillsCopy.push(skill);
            this.addSkillsObject.push(skill);
        }
    },
    computed: {
        ...mapUserGetters({
            user: "user",
            userDetail: "userDetail",
            imServices: "imServices",
            socialNetworks: "socialNetworks",
            departments: "departments",
            allUsers: "allUsers",
            externalBossDomains: "externalBossDomains",
            userPossibleProfiles: "userProfiles",
            networkProfiles: "networkProfiles",
            statusTypes: "statusTypes",
            bossTypes: "bossTypes",
            userSkills: "skills",
            allSkills: "allSkills",
            contracts: "custeioContracts",
            categories: "custeioCategories"
        }),
        formIsValid() {
            return !this.$validator.errors.items.length;
        },
        possibleIMServices() {
            return (this.imServices && this.userForm && this.imServices.filter(imservice =>
                !this.userForm.im_services.length || !this.userForm.im_services.filter(userService => userService.service === imservice).length
            )) || [];
        },
        possibleSocialNetworks() {
            return (this.socialNetworks && this.userForm && this.socialNetworks.filter(socialNetwork =>
                !this.userForm.social_networks.length || !this.userForm.social_networks.filter(userNetwork => userNetwork.network === socialNetwork).length
            )) || [];
        },
        userProfiles() {
            if (this.userPossibleProfiles) {
                return this.userPossibleProfiles.map(profile => ({ ...profile, checked: this.userDetail.profiles.indexOf(profile.value) > -1 }))
            }
        }
    },
    watch: {
        userDetail: function(newValue) {
            if (newValue) {
                this.getExtraUserInfo();
            }
        },
        userSkills: function(newValue) {
            this.userSkillsCopy = newValue.slice().map(skill => ({
                name: skill.skill_name,
                identifier: skill.skill_identifier,
                count: skill.count
            }));
        }
    }
};
</script>
