<template>
    <div class="ink-grid user general vertical-space">
            
        <h4 class="slab-300 fillet uppercase">
            <span class="fw-700">{{totalMailingLists}} </span> 
            <span> {{labels.MAILINGLISTTEXT}}</span>
        </h4>

        <section class="vcard ink-form">
            <div class="column-group gutters half-top-space">
                <div class="all-80 medium-70 small-100 tiny-100">

                    <ul class="unstyled mail-list">
                        <mailing-list-item v-for="item in userMailingLists" :key="item.pk" :item="item">
                        </mailing-list-item>
                    </ul>

                    <nav 
                        v-if="userMailingLists.length"
                        class="ink-navigation align-center medium"
                    >
            
                        <custom-pagination
                            :current-page="currentPage"
                            :pages="pages"
                            @onChangePage="changePage($event)"
                        ></custom-pagination>
                    </nav>

                    <p v-else class="note italic fw-300">{{labels.NOLISTS}}</p>
                </div>

                <options-filter 
                    :search="labels.FILTERLISTS"
                    :order="order"
                    :type="type"
                    :currentPage="currentPage"
                    :currentFilters="currentFilters"
                    :viewAll="viewAll"
                    @changePage="changePage"
                    @changeFilters="changeFilters"
                ></options-filter>

            </div>
        </section>
    </div>
</template>

<script>
import {
    mapActions as mapUserActions,
    mapGetters as mapUserGetters
} from "@/user/store";

import {
    mapMutations as mapFooterMutations
} from "@/footer/store";

import {
    mapActions as mapUserMailingListsActions,
    mapGetters as mapUserMailingListsGetters
} from "@/mailing-lists/store";

import types from "@/mutation.types";
import { labels } from "@/services/i18n.service";

import MailingListItem from "@/components/MailingListItem.vue";
import OptionsFilter from "@/components/OptionsFilter.vue";


export default {
    name: "user-mailing-list",
    props: {
        helpTOCId: String
    },
    components: {
        "mailing-list-item": MailingListItem,
        "options-filter": OptionsFilter,
    },
    data() {
        return {
            labels,
            currentPage: 1,
            pageSize: 30,
            totalMailingLists: 0,
            currentFilters: {},
            order: [
                { label: "ALPHABETICAL", value: "name" },
                { label: "NRSUBSCRIBERS", value: "-subscribers_count" },
                { label: "LASTCHANGE", value: "-modified_on" }
            ],
            type: [
                { label: "ALL", value: "all" },
                { label: "MANAGER", value: "manager" },
                { label: "POPULAR", value: "popular" }
            ],
            viewAll: {
                label: "VIEWMAILINGLISTS",
                path: "#mailinglist?filter=name&all"
            }
        };
    },
    created() {
        this.setHelpId(this.helpTOCId);
        this.getUserDetail(this.$route.params.username);
    },
    methods: {
        ...mapUserActions({
            getUserDetail: types.USER.GET_DETAIL
        }),
        ...mapFooterMutations({
            setHelpId: types.FOOTER.SET_HELP_ID
        }),
        ...mapUserMailingListsActions({
            getUserMailingLists: types.MAILING_LISTS.GET_USER_MAILING_LISTS
        }),
        getMailingLists() {
            this.getUserMailingLists({
                user: this.userDetail.unix_username,
                type: this.currentFilters.type,
                order: this.currentFilters.order,
                search: this.currentFilters.search,
                start: (this.currentPage - 1) * this.pageSize,
                end: (this.currentPage - 1) * this.pageSize + this.pageSize
            });
        },
        changeFilters(type, value, init) {
            this.currentFilters[type] = value;
            !init && this.getMailingLists();
        },
        changePage(page) {
            this.currentPage = page;
            this.getMailingLists();
        }
    },
    computed: {
        ...mapUserGetters({
            userDetail: "userDetail"
        }),
        ...mapUserMailingListsGetters({
            userMailingLists: "userMailingLists",
            isLoading: "isLoading"
        }),
        pages() {
            return Math.ceil(this.totalMailingLists / this.pageSize);
        }
    },
    watch: {
        userDetail(newValue) {
            newValue && this.getMailingLists();
        }
    }
};
</script>
