@charset "UTF-8";
@font-face {
  font-family: 'SymbolFont';
  src: url("../fonts/symbol-font.eot?v=0.1.0");
  /* IE9 Compat Modes */
  src: url("../fonts/symbol-font.eot?#iefix?v=0.1.0") format("embedded-opentype"), url("../fonts/symbol-font.woff?v=0.1.0") format("woff"), url("../fonts/symbol-font.otf?v=0.1.0") format("opentype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
}
.sf {
  display: inline-block;
  font-family: SymbolFont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sf-large {
  font-size: 1.5em;
}

.sf-double {
  font-size: 2em;
}

.sf-arrow-down:before {
  content: "";
}

.sf-arrow-left:before {
  content: "";
}

.sf-arrow-right:before {
  content: "";
}

.sf-arrow-up:before {
  content: "";
}

.sf-chevron-down:before {
  content: "";
}

.sf-chevron-left:before {
  content: "";
}

.sf-chevron-right:before {
  content: "";
}

.sf-chevron-up:before {
  content: "";
}

.sf-triangle-down:before {
  content: "";
}

.sf-triangle-left:before {
  content: "";
}

.sf-triangle-right:before {
  content: "";
}

.sf-triangle-up:before {
  content: "";
}

.sf-triangle-down-circle:before {
  content: "";
}

.sf-triangle-left-circle:before {
  content: "";
}

.sf-triangle-right-circle:before {
  content: "";
}

.sf-triangle-up-circle:before {
  content: "";
}

.sf-chevron-down-circle:before {
  content: "";
}

.sf-chevron-left-circle:before {
  content: "";
}

.sf-chevron-right-circle:before {
  content: "";
}

.sf-chevron-up-circle:before {
  content: "";
}

.sf-triangle-down-circle-o:before {
  content: "";
}

.sf-triangle-left-circle-o:before {
  content: "";
}

.sf-triangle-right-circle-o:before {
  content: "";
}

.sf-triangle-up-circle-o:before {
  content: "";
}

.sf-chevron-down-circle-o:before {
  content: "";
}

.sf-chevron-left-circle-o:before {
  content: "";
}

.sf-chevron-right-circle-o:before {
  content: "";
}

.sf-chevron-up-circle-o:before {
  content: "";
}

.sf-plus:before {
  content: "";
}

.sf-minus:before {
  content: "";
}

.sf-check:before {
  content: "";
}

.sf-x:before {
  content: "";
}

.sf-empty-circle:before {
  content: "";
}

.sf-plus-circle:before {
  content: "";
}

.sf-minus-circle:before {
  content: "";
}

.sf-checked-circle:before {
  content: "";
}

.sf-x-circle:before {
  content: "";
}

.sf-empty-circle-o:before {
  content: "";
}

.sf-plus-circle-o:before {
  content: "";
}

.sf-minus-circle-o:before {
  content: "";
}

.sf-checked-circle-o:before {
  content: "";
}

.sf-x-circle-o:before {
  content: "";
}

.sf-empty-square:before {
  content: "";
}

.sf-plus-square:before {
  content: "";
}

.sf-minus-square:before {
  content: "";
}

.sf-checked-square:before {
  content: "";
}

.sf-x-square:before {
  content: "";
}

.sf-empty-square-o:before {
  content: "";
}

.sf-plus-square-o:before {
  content: "";
}

.sf-minus-square-o:before {
  content: "";
}

.sf-checked-square-o:before {
  content: "";
}

.sf-x-square-o:before {
  content: "";
}

.sf-calendar:before {
  content: "";
}

.sf-calendar-day:before {
  content: "";
}

.sf-calendar-day-o:before {
  content: "";
}

.sf-calendar-o:before {
  content: "";
}

.sf-alarm-clock:before {
  content: "";
}

.sf-alarm-clock-o:before {
  content: "";
}

.sf-clock:before {
  content: "";
}

.sf-clock-o:before {
  content: "";
}

.sf-clock-reverse:before {
  content: "";
}

.sf-stopwatch:before {
  content: "";
}

.sf-stopwatch-o:before {
  content: "";
}

.sf-dribbble:before {
  content: "";
}

.sf-facebook:before {
  content: "";
}

.sf-google-plus:before {
  content: "";
}

.sf-linkedin:before {
  content: "";
}

.sf-twitter:before {
  content: "";
}

.sf-comment:before {
  content: "";
}

.sf-comment-o:before {
  content: "";
}

.sf-reply:before {
  content: "";
}

.sf-reply-o:before {
  content: "";
}

.sf-compass:before {
  content: "";
}

.sf-compass-o:before {
  content: "";
}

.sf-direction:before {
  content: "";
}

.sf-direction-o:before {
  content: "";
}

.sf-poi:before {
  content: "";
}

.sf-poi-o:before {
  content: "";
}

.sf-star:before {
  content: "";
}

.sf-star-o:before {
  content: "";
}

.sf-half-star:before {
  content: "";
}

.sf-half-star-o:before {
  content: "";
}

.sf-reorder:before {
  content: "";
}

.sf-tag:before {
  content: "";
}

.sf-tag-o:before {
  content: "";
}

.sf-ticket:before {
  content: "";
}

.sf-ticket-o:before {
  content: "";
}

.sf-ul:before {
  content: "";
}

.sf-tasks:before {
  content: "";
}

.sf-power-off:before {
  content: "";
}

.sf-search:before {
  content: "";
}

.sf-mail:before {
  content: "";
}

.sf-test-tube:before {
  content: "";
}

.sf-thumbs-up:before {
  content: "";
}

.sf-thumbs-down:before {
  content: "";
}

.sf-player-play:before {
  content: "";
}

.sf-player-pause:before {
  content: "";
}

.sf-player-stop:before {
  content: "";
}

.sf-player-ff:before {
  content: "";
}

.sf-player-previous:before {
  content: "";
}

.sf-player-next:before {
  content: "";
}

.sf-player-replay:before {
  content: "";
}

.sf-player-shuffle:before {
  content: "";
}

.sf-player-repeat:before {
  content: "";
}

.sf-player-volume-muted:before {
  content: "";
}

.sf-player-volume-middle:before {
  content: "";
}

.sf-player-volume-max:before {
  content: "";
}

.sf-resize:before {
  content: "";
}

.sf-resize-h:before {
  content: "";
}

.sf-resize-v:before {
  content: "";
}

.sf-resize-expand:before {
  content: "";
}

.sf-resize-compress:before {
  content: "";
}

.sf-reload:before {
  content: "";
}

.sf-refresh:before {
  content: "";
}

.sf-home:before {
  content: "";
}

.sf-external:before {
  content: "";
}

.sf-cog:before {
  content: "";
}

.sf-cogs:before {
  content: "";
}

.sf-badge:before {
  content: "";
}

.sf-badge-neg:before {
  content: "";
}

.sf-question-mark-circle:before {
  content: "";
}

.sf-sapo:before {
  content: "";
}

/*# sourceMappingURL=symbol-font.css.map */
