<template>
  <section>
    <div class="column-group gutters">
      <form class="ink-form all-55 tiny-100 small-100">
        <form-input
          :auto-focus="true"
          :class-names="'control-group validation'"
          :type="'password'"
          v-model="formObject.currentPassword"
          :label="labels.CURRENTPASSWORD"
          :label-class="'slab-400'"
          :name="'password'"
          :max-length="64"
          v-validate="'required'"
          :required="true"
          :error="errors.first('password')"
        ></form-input>

        <form-input
          :class-names="'control-group validation'"
          :type="'password'"
          :label="labels.NEWPASSWORD"
          :label-class="'slab-400'"
          :name="'new_password'"
          v-model="formObject.newPassword"
          :max-length="64"
          :required="true"
          v-validate="'required|validPassword'"
          ref="new_password"
          :error="errors.first('new_password')"
        >
          <div v-if="!errors.has('new_password') && formObject.newPassword && passwordStrength.label"
            style="padding: 0em 0em 0em 0.5em;"
            :class="[passwordStrength.class, 'ink-alert basic']">
              <p class="tip">{{passwordStrength.label}}</p>
          </div>
        </form-input>

        <form-input
          :class-names="'control-group validation'"
          :type="'password'"
          v-model="formObject.confirmPassword"
          :label="labels.CONFIRMPASSWORD"
          :label-class="'slab-400'"
          :name="'confirm_password'"
          :max-length="64"
          v-validate="'confirmed:new_password'"
          data-vv-as="'confirm_password'"
          :required="true"
          :error="errors.first('confirm_password')"
        ></form-input>
      </form>
      <div class="all-45 tiny-100 small-100">
        <h5>{{labels.RULES}}</h5>
        <ul>
          <li>{{labels.RULE1}}</li>
          <li>{{labels.RULE2}}</li>
          <li>{{labels.RULE3}}</li>
          <li>{{labels.RULE4}}</li>
          <li>{{labels.RULE5}}</li>
          <li>{{labels.RULE6}}</li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
  name: "password-modal",
  props: {
    message: String,
    passwordStrength: Object
  },
  data() {
    return {
      labels,
      formObject: {
        currentPassword: "",
        newPassword: "",
        confirmPassword: ""
      }
    };
  },
  watch: {
    formObject: {
      handler() {
        this.$validator.validateAll().then((valid, teste) => {
          this.$emit("onPasswordCheck", {
            valid,
            new_password: this.formObject.newPassword,
            current_password: this.formObject.currentPassword
          });
        });
      },
      deep: true
    }
  }
};
</script>