<template>
    <div class="xlarge-20 large-20 medium-30 small-100 tiny-100">
        <div class="user-avatar">
            <custom-img v-if="user.photo" :photo="user.photo" :bust-cache="true"></custom-img>
            <div v-if="user.status === 'Inactive'" class="inactive">{{labels.INACTIVE}}</div>
        </div>
        <div v-if="isSelf" class="quarter-bottom-space">
            <button class="ink-button orange all-100" @click="$emit('onOpenPasswordModal')">{{labels.CHANGEPASSWORD}}</button>
        </div>
        <div>
            <button class="ink-button blue all-100" @click="$emit('onShowKey')">{{labels.SSH_KEYS}}</button>
        </div>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "user-avatar",
    props: {
        user: Object,
        isSelf: Boolean
    },
    data() {
        return {
            labels
        };
    }
};
</script>