<template lang="html">
    <div class="drawer-tab notifications">
        <p v-if="!notifications.length" class="no-data">{{labels.YOUDONTHAVENOTIFICATIONS}}</p>
    </div>
</template>

<script>
import { labels } from '@/services/i18n.service';

export default {
    name: "right-drawer-notifications-user",
    props: {
        user: Object,
        notifications: Array
    },
    mounted() {},
    data() {
        return {
            labels
        };
    },
    computed: {

    }
};
</script>
