<template>
    <section class="card news bottom-space">
        <header>
            <div>
                <h1>{{labels.NEWS}}</h1>
                <a :href="newsUrl">
                    ({{labels.SEEALL_F}})
                </a>
            </div>
        </header>
        <lazy-load-scroll @onThreshold="loadNews()" :delay="300" :threshold="1000">
            <news-item
                :article="article"
                v-for="article in news"
                :key="article.link">
            </news-item>
        </lazy-load-scroll>
    </section>
</template>
<script>
import { labels } from "@/services/i18n.service";
import { mapGetters, mapActions } from "../store";
import types from "@/mutation.types";
import NewsItem from "./NewsItem";

export default {
    name: "news",
    components: {
        "news-item": NewsItem
    },
    created() {
        this.getNews();
        this.getNewsUrl();
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        ...mapActions({
            getNews: types.GET,
            getNewsUrl: types.NEWS.GET_URL
        }),
        loadNews() {
            this.getNews();
        }
    },
    computed: {
        ...mapGetters({
            news: "news",
            newsUrl: "newsArchiveUrl"
        })
    }
};
</script>
<style lang="scss" scoped>
h1 {
    display: inline;
}

a {
    font-size: smaller;
}
</style>
