<template>
    <div>
        <article class="half-vertical-padding">
            <h2 class="title">{{article.title}}</h2>
            <p class="detail">
                <span class="timestamp half-right-space">
                        <span class="fa fa-calendar"></span>
                <time pubdate="pubdate">{{article.date | date}}</time>
                </span>
                <span class="author">
                        <span class="fa fa-user"></span>
                <span>{{article.author}}</span>
                </span>
            </p>
            <div v-sanitize="article.content"></div>
        </article>
    </div>
</template>

<script>


export default {
    name: "news-item",
    props: {
        article: Object
    }
};
</script>
