<template>
    <li class="clearfix">{{_props}}</li>
</template>

<script>

export default {
    name: "item",
    props: {
        resource: Object,
        ticket: Object,
        task: Object,
        user: Object,
        document: Object
    }
};
</script>