<template>
    <div>
        <form class="ink-form big-search column-group">
            <div class="control-group all-60 small-90 tiny-90 push-center">
                <div class="control append-symbol">
                    <span>
                        <input 
                            type="search" 
                            name="search" 
                            id="search" 
                            maxlength="40" 
                            :placeholder="labels.SEARCH"
                            v-model="searchKeyword"
                        >
                        <a @click="performSearch()"><span class="fa fa-search"></span></a>
                    </span>
                </div>
            </div>
        </form>
        <nav class="ink-navigation all-100 context-menu clearfix">
            <ul class="menu horizontal">
                <li 
                    v-for="tab of tabs"
                    :key="tab.key"
                    :class="{ 'active': currentTab === tab }"
                    @click="toggleTab(tab)"
                >
                    <a>
                        <span>{{ labels[tab.label] }} </span>
                        <span class="medium"> ({{ stats[tab.key] }})</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="search">
            <div class="xlarge-70 large-80 medium-95 small-90 tiny-90 push-center top-space">
                <nav v-if="showTopPaginator" class="ink-navigation medium">showTopPaginator</nav>
                <div class="column-group horizontal-gutters vertical-space">
                    <div class="all-70 medium-80 small-100 tiny-100">
                        <p v-if="resultset.length" class="no-data">
                            <strong>{{ currentItems }} </strong>
                            <span>
                                <span>{{ labels.PAGINATOR_PAGES_SEPARATOR }} </span>
                                <span>{{ currentCount }} </span>
                                <span>{{ labels.RESULTS }}</span>
                            </span>
                        </p>
                        <p v-if="searchSuggestion" class="sugestion">
                            <span>{{ labels.DIDYOUMEAN }}</span>
                            <a @click="suggestionSearch()">{{ searchSuggestion }}</a>
                        </p>
                        <template v-if="isLoading">
                            <div class="vertical-space">
                                <loader></loader>
                            </div>
                        </template>
                        <template v-else>
                            <ul 
                                v-if="resultset.length"
                                class="fw-300 unstyled results" 
                                data-bind="foreach: pageResults, lazyLoader: {}, lazyLoaderObserve: pageResults"
                            >
                                <li v-for="(item, index) of resultset" :key="index">
                                    <div :is="item.type" v-bind="{ [item.type]: item }"></div>
                                </li>
                            </ul>
                            <div v-else>
                                <p class="fw-300">
                                    <span>{{ labels.NOSEARCHRESULTS }}</span>:<br>
                                    <strong>{{ searchKeyword }}</strong>
                                    <template v-if="Object.values(currentFilters).length">
                                        <span>{{ labels.WITHFILTERS }}</span>
                                        <strong data-bind="text: selectedFilters()"></strong>
                                    </template>
                                </p>
                                <div class="panel half-padding">
                                    <h3 class="fw-400">
                                        <span>{{ labels.WESUGGESTTHAT }}</span>:
                                    </h3>
                                    <ul class="">
                                        <li>{{ labels.VERIFYALLWORDS }}</li>
                                        <li>{{ labels.REMOVESOMEFILTER }}</li>
                                        <li>{{ labels.TRYOTHERWORDS }}</li>
                                        <li>{{ labels.TRYMOREGENERALIZEDWORDS }}</li>
                                    </ul>
                                </div>
                            </div>
                        </template>
                    </div>
                    <options-filter 
                        :currentFilters="currentFilters"
                        @changeFilters="changeFilters"
                        :order="filters.order"
                        :type="filters.type"
                        :status="filters.status"
                        :relation="filters.relation"
                        :filter="filters.filter"
                        :resourceType="filters.resourceType"
                    ></options-filter>
                </div>
                <nav class="ink-navigation medium bottom-space" data-bind="paginator: searchResults, pagerTemplate: 'App.Intra.PaginatorServer'"></nav>
            </div>
        </div>
    </div>
</template>
<script>

import { 
    mapGetters as mapUserGetters 
} from "@/user/store";

import { 
    mapGetters as mapSearchGetters,
    mapActions as mapSearchActions
} from "@/search/store";

import { labels } from "@/services/i18n.service";

import appConfig from '@/app.config';

import types from "@/mutation.types";

import UtilService from "@/services/helper.service";

import ProjectItem from '@/user/projects/ProjectItem.vue';

import Item from '@/search/Item.vue';

export default {
    name: "page-search",
    components: {
        "project": ProjectItem,
        "resource": Item,
        "ticket": Item,
        "task": Item,
        "user": Item,
        "document": Item
    },
    created() {
        let id = 0;
        this.tabs.forEach((tab, index) => {
            const alias = tab.label.toLowerCase();
            if(this.$route && this.$route.query && this.$route.query.tab && alias === this.$route.query.tab) id = index;
            this.stats[tab.key] = 0;
        });
        this.toggleTab(this.tabs[id]);
    },
    data() {
        return {
            labels,
            tabs: appConfig.search.tabs,
            currentItems: 0,
            currentCount: 0,
            currentTab: null,
            searchKeyword: '',
            searchSuggestion: '',
            stats: {},
            resultset: [],
            currentFilters: {},
            filters: {}
        };
    },
    methods: {
        ...mapSearchActions({
            getSearch: types.SEARCH.PERFORM
        }),
        performSearch() {
            this.getSearch({
                start: 0,
                end: 30,
                query: this.searchKeyword,
                type: (this.currentTab.label || 'ALL').toLowerCase()
            }).then(res => {
                this.stats = res.stats;
                this.stats['all'] = res.total_count;
                this.currentCount = res.count;
                this.searchSuggestion = res.suggestion || '';
                this.filterResultset();
            });
        },
        toggleTab(tab) {
            this.currentTab = tab;
            this.filters = tab.filters;
            this.performSearch();
        },
        changeFilters(type, value, init) {
            this.currentFilters[type] = value;
            !init && this.performSearch();
        },
        filterResultset() {
            this.resultset = this.search.data.filter(item => {
                if([item.type, "all"].includes(this.currentTab.key)) return item;
            })
        },
        suggestionSearch() {
            this.searchKeyword = this.searchSuggestion;
        }
    },
    computed: {
        ...mapUserGetters({
            user: "user"
        }),
        ...mapSearchGetters({
            search: "search",
            isLoading: "isLoading"
        }),
        showTopPaginator() {
            return (this.currentFilters.order && this.currentFilters.order === 'name') && (this.currentTab.key === 'all' || this.currentTab.key === 'project' || this.currentTab.key === 'user');
        }
    },
    watch: {
        searchKeyword() {
            UtilService.debounce(() => this.performSearch(), 500);
        }
    }
};
</script>