<template lang="html">
    <div v-if="user">
        <header>
            <h3 class="user">{{user.name}}</h3>
            <div class="clearfix">
                <p class="profile push-left">
                    <a @click="$emit('onGoToProfile')">{{labels.VIEWPROFILE}}</a>
                    <span class="separator"></span>
                    <router-link :to="'/preferences'">{{labels.PREFERENCES}}</router-link>
                </p>
                <router-link class="push-right ink-button red logout" :to="logoutUrl">
                    <span class="fa fa-power-off"></span>
                    <span>{{labels.LOGOUT}}</span>
                </router-link>
            </div>
        </header>

        <div class="button-group">
            <button v-for="tab in tabs" :key="tab.alias" class="ink-button" @click="toggleTab(tab)" v-bind:class="{ active: currentTab.label === tab.label }">{{tab.label}}</button>
        </div>

        <right-drawer-notifications
            :user="user"
            :notificationsType="notificationsType"
            @onClearNotifications="$emit('onClearNotifications', $event)"
            @onDismissNotification="$emit('onDismissNotification', $event)"
            v-if="currentTab.label === labels.NOTIFICATIONS">
        </right-drawer-notifications>
        <right-drawer-links
            :user="user"
            :links="links"
            v-if="currentTab.label === labels.LINKS">
        </right-drawer-links>
    </div>
</template>

<script>
import RightDrawerLinks from "./RightDrawerLinks";
import RightDrawerNotifications from "./notifications/RightDrawerNotifications";
import { labels } from '@/services/i18n.service';

export default {
    name: "right-drawer",
    components: {
        "right-drawer-links": RightDrawerLinks,
        "right-drawer-notifications": RightDrawerNotifications
    },
    props: {
        user: Object,
        links: Array,
        notificationsType: Array
    },
    data() {
        let tabs = [{ label: labels.NOTIFICATIONS }, { label: labels.LINKS }];
        return {
            labels,
            tabs,
            currentTab: tabs[0]
        };
    },
    methods: {
        toggleTab(tab) {
            this.currentTab = tab;
        }
    },
    computed: {
        getCurrentTab() {
            return this.currentTab || this.tabs[0];
        },
        logoutUrl() {
            return `/Shibboleth.sso/Logout?return=https://login.intra.sapo.pt/Logout.do%3Freturn%3Dhttps%3A%2F%2F${encodeURIComponent(
                document.location.host
            )}`;
        }
    }
};
</script>

<style scoped lang="scss">
.right-drawer {
    -webkit-box-shadow: -2px 0 10px 0 rgba(0, 0, 0, 0.4)!important;
    -moz-box-shadow: -2px 0 10px 0 rgba(0, 0, 0, 0.4)!important;
    box-shadow: -2px 0 10px 0 rgba(0, 0, 0, 0.4)!important;
}
</style>
