<template lang="html">
    <div class="drawer-tab links">
        <div v-if="group.links.length > 0" class="link-grp half-top-space" v-for="group in links" :key="group.group">
            <div class="header">
                <h4 class="title"><span>{{groupTitle[group.group]}}</span></h4>
            </div>
            <ul>
                <li v-for="link in group.links" :key="link.link">
                    <router-link :to="link.link" target="_blank">{{link.title}}</router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import appConfig from "@/app.config";

export default {
    name: "right-drawer-links",
    props: {
        links: Array
    },
    mounted() {},
    data() {
        return {
            groupTitle: appConfig.linksGroups
        };
    },
    methods: {},
    computed: {}
};
</script>
