<template>
    <section>
        <h4 class="uppercase fillet slab-400">Custeio</h4>
        <section class="ink-form column-group gutters">
            <div class="all-50 small-100 tiny-100 control-group">
                <p class="slab label">{{labels.CATEGORY}}</p>
                    <custom-select
                        :selected="userForm.category"
                        :name="'category'"
                        @onChange="$emit('onChangeUserForm', { name: 'category', value: $event })"
                        :options="categories">
                    </custom-select>
            </div>
            <div class="all-50 small-100 tiny-100 control-group">
                <p class="slab label">{{labels.CONTRACT}}</p>
                <custom-select
                    :selected="userForm.contract"
                    :name="'category'"
                    @onChange="$emit('onChangeUserForm', { name: 'contract', value: $event })"
                    :options="contracts">
                </custom-select>
            </div>
            <div class="all-50 small-100 tiny-100 control-group">
                <p class="slab label">{{labels.PARTTIME}}</p>
                <custom-checkbox
                    @onChangeCheckbox="$emit('onChangeUserForm', { name: 'part_time', value: $event })"
                    :checked="userForm.part_time">
                </custom-checkbox>
            </div>
            <div class="all-50 small-100 tiny-100 control-group">
                <p class="slab label">{{labels.STARTDATE}}</p>
                <datepicker
                    :language="datepickerDefaultConfig.language"
                    id="start-date"
                    name="start-date"
                    :value="userForm.start_date"
                    :format="datepickerDefaultConfig.datepickerFormat"
                    @selected="changeDate($event)">
                </datepicker>
            </div>
        </section>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
import appConfig from '@/app.config';
import Datepicker from "vuejs-datepicker";
import UtilService from '@/services/helper.service';

export default {
    name: "user-custeio-edit",
    props: {
        userForm: Object,
        contracts: Array,
        categories: Array
    },
    components: {
        Datepicker
    },
    data() {
        return {
            labels,
            datepickerDefaultConfig: appConfig.datepickerDefaultConfig
        };
    },
    methods: {
        changeDate(date) {
            this.$emit('onChangeUserForm', { name: 'start_date', value: UtilService.formatAPIDate(date) });
        }
    }
};
</script>