<template>
    <section class="all-50 small-100 tiny-100 fw-300">
        <h4 class="slab-400 fillet uppercase">{{labels.DOCUMENTS}}</h4>
        <ul>
            <project-documents-item
                v-for="document in project.docs"
                :document="document"
                :key="document.pk">
            </project-documents-item>
        </ul>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
import ProjectDocumentsItem from './ProjectDocumentsItem';
export default {
    name: "project-documents",
    props: {
        project: Object
    },
    components: {
        "project-documents-item": ProjectDocumentsItem
    },
    data() {
        return {
            labels
        };
    }
};
</script>
