<template>
    <li>
        <a target="_blank" :href="document.link">
            {{document.label}}
        </a>
        <span class="note italic parenthesis">
            {{document.type}}
        </span>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-documents-item",
    props: {
        document: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
