<template lang="html">
    <li>
        <p>
            <router-link
                :to="'/project/' + notification.content.unix">
                {{notification.content.name}}
            </router-link>
        </p>
        <button class="remove fa fa-times-circle push-right"
            @click="$emit('onDismissNotification', notification.id)">
        </button>
        <p class="no-data">{{notification.date}}</p>
        <p class="note">
            <template v-for="(message, index) in notification.content.message" >
                <span :key="index" v-if="message.link">
                    <router-link
                        :to="getLink(message.link)"
                        @click="silentNotificationDismiss()">
                        {{message.value}}
                    </router-link>
                </span>
                <span v-else :key="index">{{message.value}}</span>
            </template>
        </p>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";
import UtilService from "@/services/helper.service";

export default {
    name: "right-drawer-notifications-project",
    props: {
        notification: Object
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        silentNotificationDismiss() {},
        getLink(link) {
            return UtilService.getLink(link);
        }
    },
    computed: {}
};
</script>
