<template>
    <div class="media-thumbnail all-25 medium-33 small-50 tiny-100" data-bind="css: {video: type == 'Video'}">
        <template v-if="media.type === 'Image'">
            <a @click="$emit('onClickMediaImage', media.link)" data-bind="click: $parent.showLightbox.bind($parent)">
                <custom-img :photo="media.thumbnail" :title="media.label" :absolute-url="true"></custom-img>
            </a>
        </template>
        <template v-else-if="media.type === 'Video'">
            <a :href="media.link" :title="media.label" target="_blank">
                <custom-img :photo="media.thumbnail"></custom-img>
            </a>
        </template>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-media-item",
    props: {
        media: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
