<template>
    <div class="all-100 top-space">
        <h4 class="slab-400 fillet uppercase">{{labels.MEDIA}}</h4>
        <div class="column-group gutters">
            <project-media-item
                v-for="media in project.media"
                :media="media"
                :key="media.pk"
                @onClickMediaImage="$emit('onClickMediaImage', $event)">
            </project-media-item>
        </div>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
import ProjectMediaItem from './ProjectMediaItem';
export default {
    name: "project-media",
    props: {
        project: Object
    },
    components: {
        "project-media-item": ProjectMediaItem
    },
    data() {
        return {
            labels
        };
    }
};
</script>
