<template lang="html">
    <li>
        <p>
            <span class="ink-label quarter-right-space lowercase"
                :class="[notification.green ? 'green' : '', notification.red ? 'red' : '', notification.orange ? 'orange' : '']">
                {{notification.label}}
            </span>
            <span>
                <span class="fa fa-wrench"></span>
                <a
                    :href="notification.content.resource_link">
                    {{notification.content.resource}}
                </a>
                <span class="separator"></span>
                <span class="fa fa-flask"></span>
                <router-link
                    :to="getLink(notification.content.project_link)">
                    {{notification.content.project}}
                </router-link>
            </span>
        </p>
        <p class="no-data">{{notification.date}}</p>
        <p class="note">
            <template v-for="(message, index) in notification.content.message" >
                <span :key="index" v-if="message.link">
                    <a
                        :href="message.link"
                        @click="silentNotificationDismiss()">
                        {{message.value}}
                    </a>
                </span>
                <span v-else :key="index">{{message.value}}</span>
            </template>
        </p>
        <button class="remove fa fa-times-circle push-right"
            @click="$emit('onDismissNotification', notification.id)">
        </button>
    </li>
</template>

<script>
import { labels } from '@/services/i18n.service';
import UtilService from "@/services/helper.service";
export default {
    name: "right-drawer-notifications-tickets",
    props: {
        notification: Object
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        silentNotificationDismiss() {},
        dismissNotification() {},
        getLink(link) {
            return UtilService.getLink(link);
        }
    },
    computed: {

    }
};
</script>
