<template>
    <div class="column-group">
        <div class="item-wrapper push-left">
            <p class="no-margin">
                <router-link class="title" :to="'/project/' + project.unix_username">{{project.name}}</router-link>
            </p>

            <p class="detail" v-if="projectsLength < 10">
                <router-link :to="'/project/' + project.unix_username + '?tab=resources&filter=type_order&all&page=1'">
                    <span class="fa fa-wrench"></span>
                    &nbsp;
                    <span class="uppercase">{{labels.RESOURCES}}</span>
                </router-link>

                <template v-if="project.hasTickets">
                    <span class="separator"></span>
                    <router-link :to="'/project/' + project.unix_username + '?tab=tickets&filter=-modified_on&Open&all&all&all&all&page=1'">
                        <span class="fa fa-ticket"></span>
                        &nbsp;
                        <span class="uppercase">{{labels.TICKETS}}</span>
                    </router-link>
                </template>

                <template v-if="project.hasTasks">
                    <span class="separator"></span>
                    <router-link :to="'/project/' + project.unix_username + '?tab=tickets&filter=-modified_on&Open&all&all&all&all&page=1'">
                        <span class="fa fa-tasks"></span>
                        &nbsp;
                        <span class="uppercase">{{labels.TASKS}}</span>
                    </router-link>
                </template>
            </p>
        </div>
        <i class="drag-handle align-center push-right fa fa-bars" v-if="editMode"></i>
    </div>
</template>
<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-item",
    props: {
        project: Object,
        projectsLength: Number,
        editMode: Boolean
    },
    mounted() {},
    data() {
        return {
            labels
        };
    }
};
</script>
