<template>
    <div>
        <custom-bar-link
            v-if="!user.is_partner"
            :url="'/search?tab=projects&page=1&order=-score'"
            :icon="'flask'"
            :label="labels.PROJECTS">
        </custom-bar-link>
        <custom-bar-link
            v-if="user.is_partner"
            :url="'/user/'+user.unix_username+'?tab=projects&filter=name&all&page=1'"
            :icon="'flask'"
            :hideIcon="true"
            :label="labels.PROJECTS">
        </custom-bar-link>
        <draggable
            :element="'ul'"
            class="mega-menu"
            id="projects"
            :options="dragOptions"
            @end="endDrag($event)"
            :list="topResource">
            <template v-if="topResource && topResource.length > 0">
                <li v-for="project in topResource" :key="project.id" class="drag-item" :data-resource-id="project.id">
                    <project-item :project="project" :edit-mode="editMode" :projects-length="topResource.length">
                    </project-item>
                </li>
            </template>
            <li v-else class="no-data">
                <span>{{labels.BYPINNING}}</span>
                <span class="fa fa-thumb-tack"></span>
                <span>{{labels.PINPROJECT}}</span>
            </li>
            <li class="column-group" slot="footer">
                <div class="all-30 push-middle">
                    <router-link class="more" to="/search?tab=projects&page=1&order=-score">{{labels.MYPROJECTS}}</router-link>
                </div>
                <div v-if="!user.is_partner" class="all-70">
                    <router-link class="ink-button quarter-vertical-space medium push-right" to="/project?create=true">
                        <span class="fa fa-plus-circle"></span>
                        <span>{{labels.CREATEPROJECT}}</span>
                    </router-link>
                    <custom-btn v-if="!editMode" :icon="'pencil'" :label="labels.EDIT" @onClick="onToggleEdit"></custom-btn>
                    <custom-btn v-else :icon="'lock'" :label="labels.LOCK" @onClick="onToggleEdit"></custom-btn>
                </div>
            </li>
        </draggable>
    </div>
</template>

<script>
import ProjectItem from "./ProjectItem";
import { labels } from '@/services/i18n.service';

export default {
    name: "projects-menu",
    props: {
        user: Object,
        topResource: Array,
        dragOptions: Object,
        editMode: Boolean,
        onToggleEdit: Function,
        onEndDrag: Function
    },
    components: {
        "project-item": ProjectItem
    },
    mounted() {},
    data() {
        return {
            labels
        };
    },
    methods: {
        endDrag(evt) {
            this.onEndDrag({ evt, subtype: 'project' });
        }
    }
};
</script>
