<template>
    <div class="control-group"
        :class="[
        {
            'warning': errors.has(inputName)
        }, {
            'required': validations && validations.required || required
        }, {
            'validation' : validations
        }]">
        <label class="slab" v-if="label">{{label}}</label>
        <div class="control-group">
            <input class="no-margin" type="search" style="display: none;" />
            <div class="pink-auto-complete control-group no-margin">
                <div class="control" :class="clearBtn ? 'append-button' : (searchIcon ? 'append-symbol' : '')">
                    <span>
                        <input
                            :name="inputName"
                            :placeholder="placeholder"
                            type="text"
                            @focus="focus()"
                            @blur="blur()"
                            @input="$emit('onInput', searchTerm)"
                            v-model="searchTerm"
                            v-validate="validations">
                        <i class="fa fa-search" v-if="searchIcon"></i>
                    </span>
                    <div class="ink-button" @click="clearSearch()" v-if="clearBtn">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="pink-auto-complete-options" :style="showList && filterList.length ? 'display: block;' : 'display: none;'">
                    <nav class="ink-navigation">
                        <ul class="menu vertical">
                            <li v-for="object in filterList" :key="object[listKey]" @mousedown="selectItem(object)">
                                <slot :object="object"></slot>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "auto-complete",
    props: {
        objectArray: Array,
        selected: String | Number,
        filterMinLength: {
            type: Number,
            default: 1
        },
        placeholder: String,
        label: String,
        displayProp: String,
        validations: Object,
        inputName: String,
        listKey: String,
        required: Boolean,
        clearBtn: Boolean,
        searchIcon: Boolean,
        exceptionsArray: Array
    },
    data() {
        return {
            labels,
            searchTerm: '',
            showList: false
        }
    },
    created() {
        this.filteredArray = this.objectArray.slice();
        this.getSelectedObject();
    },
    methods: {
        clearSearch() {
            this.searchTerm = '';
        },
        selectItem(object) {
            document.body.focus();
            this.showList = false;
            this.$emit('onSelectItem', object);
            this.getSelectedObject(object[this.listKey]);
        },
        getSelectedObject(selectedKey = this.selected) {
            let selectedListObject = this.filteredArray.find(filteredObject => filteredObject[this.listKey] === selectedKey);
            this.searchTerm = selectedListObject ? selectedListObject[this.displayProp] : null;
        },
        focus() {
            this.showList = true;
        },
        blur() {
            this.showList = false;
        }
    },
    computed: {
        filterList() {
            return this.filteredArray.filter(filteredObject =>
                this.searchTerm && this.searchTerm.length > this.filterMinLength &&
                    filteredObject[this.displayProp].toLowerCase().indexOf(this.searchTerm.toLowerCase()) > -1 &&
                        (!this.exceptionsArray || !this.exceptionsArray.length ||
                            (!this.exceptionsArray.find(exception => exception[this.listKey] === filteredObject[this.listKey]))));
        }
    },
    watch: {
        selected(newValue) {
            this.searchTerm = newValue;
        }
    }
};
</script>
