<template>
        <a class="clearfix medium">
            <custom-img style="pointer-events: none; width: 38px"
                :photo="object.photo" :css-class="'push-left quarter-right-space'"
                size='small'>
            </custom-img>
            <p class="member" style="pointer-events: none;">
                <span class="name">{{object.name}}</span>
                <span class="role">{{object.title}}</span>
                <span v-if="object.vacations" class="ink-label red medium push-right hide-tiny">
                    <i class="fa fa-exclamation-circle quarter-right-space"></i>
                    <span>{{object.vacations}}</span>
                </span>
            </p>
        </a>
</template>

<script>
export default {
    name: "auto-complete-boss",
    props: ['object']
}
</script>

