<template>
    <ul class="menu horizontal uppercase">
        <li class="proj-name hide-xlarge hide-large hide-medium">
            <h1 class="fw-100 normal">{{title}}</h1>
        </li>
        <template if="!user.is_partner ">
            <li :class="[tabs.summary === currentTab ? 'active' : '']">
                <router-link :to="tabs.summary">
                    {{labels.SUMMARY}}
                </router-link>
            </li>
            <li v-if="tabs.projects" :class="[tabs.projects === currentTab ? 'active' : '']">
                <router-link :to="tabs.projects + '?filter=name&type=all&page=1'">
                    {{labels.PROJECTS}}
                </router-link>
            </li>
            <li :class="[tabs.tickets === currentTab ? 'active' : '']">
                <router-link :to="tabs.tickets + '?filter=-modified_on&Open&page=1'">
                    {{labels.TICKETS}}
                </router-link>
            </li>
            <li :class="[tabs.tasks === currentTab ? 'active' : '']">
                <router-link :to="tabs.tasks + '?filter=name&type=all'">
                    {{labels.TASKS}}
                </router-link>
            </li>
            <li :class="[tabs.lists === currentTab ? 'active' : '']">
                <router-link :to="tabs.lists + '?filter=name&type=all&page=1'">
                    {{labels.LISTS}}
                </router-link>
            </li>
            <li :class="[tabs.vacations === currentTab ? 'active' : '']">
                <router-link :to="tabs.vacations">
                    {{labels.VACATIONS}}
                </router-link>
            </li>
            <li v-if="tabs.metrics && project && project.is_member && isStaff" :class="[tabs.metrics === currentTab ? 'active' : '']">
                <router-link :to="tabs.vacations">
                    {{labels.METRICS}}
                </router-link>
            </li>
        </template>

        <li class="hide-xlarge hide-large hide-medium" v-if="showEditButton || (project && isSummary)">
            <template v-if="project">
                <!-- ko if: isMember || isManager -->
                <span v-if="project.is_member || project.is_manager" class="ink-button no-margin">
                    <!-- ko if: isManager -->
                    <span class="fw-300">{{labels.MANAGER}}</span>
                <!-- /ko -->
                <!-- ko if: isMember && !isManager -->
                <span class="fw-300">{{labels.MEMBER}}</span>
                <!-- /ko -->
                </span>
            </template>

            <button class="ink-button" @click="$emit('onEdit')">
                <span class="fa fa-cog"></span>
            </button>
        </li>
    </ul>
</template>
<script>
import { labels } from "@/services/i18n.service";
export default {
    name: 'context-nav',
    props: {
        // PROJECTO
        isSummary: Boolean,
        project: Object,
        isStaff: Boolean,

        // USER
        user: Object,

        // COMUNS
        tabs: Object,
        showEditButton: Boolean,
        currentTab: String
    },
    data() {
        return {
            labels
        };
    },
    computed: {
        title() {
            return this.user ? this.user.name : (this.project ? this.project.name : '');
        }
    }
}
</script>
