<template>
    <input type="checkbox"
        :id="object.value"
        :value="object.value"
        :checked="object.checked"
        v-model="modelCopy"
        @change="$emit('onChangeCheckbox', modelCopy)">
</template>

<script>
export default {
    name: "custom-group-checkbox",
    props: {
        object: Object,
        model: Array
    },
    created() {
        this.modelCopy = this.model ? this.model.slice() : null;
    },
    watch: {
        model: function(newValue) {
            this.modelCopy = newValue.slice();
        }
    },
    data() {
        return {
            modelCopy: null
        }
    }
};
</script>
