<template>
    <transition
        name="fade">
        <div class="ink-shade fade" :class="showModal ? 'visible ' : ''" v-if="showModal && this.copyWidth && this.copyHeight" style="display: block">
            <div class="ink-modal visible"
                ref="modal"
                :data-width="copyWidth+'px'"
                :data-height="copyHeight+'px'"
                :style="{ width: copyWidth+'px', height: copyHeight+'px', marginTop: (- copyHeight / 2)+'px' }">
                <div class="modal-header">
                    <button class="unstyled modal-close ink-dismiss" @click="close()">
                        <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-close fa-stack-1x"></i>
                        </span>
                    </button>
                    <h1 class="modal-title">{{title}}</h1>
                </div>
                <div class="modal-body" id="modalContent" style="overflow-y: auto; flex: 1 1 0%;">
                    <slot></slot>
                </div>
                <div class="modal-footer">
                    <div class="push-right">
                        <button class="ink-button ink-dismiss"
                            v-if="cancelBtn"
                            @click="close()">
                            {{cancelBtn}}
                        </button>
                        <button class="ink-button" :class="okBtnColor"
                            :disabled="disabled"
                            v-if="okBtn"
                            @click="confirm()">
                            {{okBtn}}
                        </button>
                    </div>
                    <div class="push-left" data-bind="foreach: taskButtons"></div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import appConfig from '@/app.config';

export default {
    name: "custom-modal",
    props: {
        size: {
            type: String,
            default: 'medium',
            required: true
        },
        cancelBtn: {
            default: 'Cancelar',
            type: String
        },
        okBtn: {
            default: 'Ok',
            type: String
        },
        title: {
            type: String
        },
        showModal: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        okBtnColor: {
            type: String,
            default: 'grey'
        }
    },
    data() {
        return {
            copyWidth: appConfig.modal[this.size].width,
            copyHeight: appConfig.modal[this.size].height
        }
    },
    created() {
        window.addEventListener('resize', this.calculateDimensions);
        this.showModal && document.body.classList.add('ink-modal-open');
        this.calculateDimensions();
    },
    methods: {
        close() {
            document.body.classList.remove('ink-modal-open');
            this.$emit('onClose');
        },
        confirm() {
            document.body.classList.remove('ink-modal-open');
            this.$emit('onConfirm');
        },
        calculateDimensions() {
            this.copyWidth = appConfig.modal[this.size].width;
            this.copyHeight = appConfig.modal[this.size].height;

            let y = window.innerHeight;
            let x = window.innerWidth;
            if (x < this.copyWidth) {
                this.copyWidth = x - 40;
            } else {
                this.copyWidth = appConfig.modal[this.size].width;
            }
            if (y < this.copyHeight) {
                this.copyHeight = y - 40;
            } else {
                this.copyHeight = appConfig.modal[this.size].height;
            }
        },
        teste() {
            alert(1)
        }
    },
    watch: {
        showModal: function(newValue) {
            newValue && document.body.classList.add('ink-modal-open');
        }
    }
};
</script>
<style lang="scss" scoped>
.ink-shade {
    .ink-modal{
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-top: -150px;
        flex-direction: column;
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
