<template>
    <nav class="ink-navigation align-center medium">
        <ul class="pagination grey">
            <li :class="currentPage === 1 ? 'disabled': ''">
                <a @click="$emit('onChangePage', currentPage - 1)">
                    <span class="fa fa-long-arrow-left"></span>
                    <span class="hide-small hide-tiny" >{{labels.PAGINATOR_PREVIOUS}}</span>
                </a>
            </li>

            <li v-for="page in pages" :key="page" :class="currentPage === page ? 'active': ''">
                <a @click="$emit('onChangePage', page)">{{page}}</a>
            </li>

            <li :class="currentPage === pages ? 'disabled': ''">
                <a @click="$emit('onChangePage', currentPage + 1)">
                    <span class="hide-small hide-tiny">{{labels.PAGINATOR_NEXT}}</span>
                    <span class="fa fa-long-arrow-right"></span>
                </a>
            </li>
        </ul>
    </nav>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "custom-pagination",
    props: {
        currentPage: Number,
        pages: Number,
        pageSize: {
            type: Number,
            default: 30
        }
    },
    data() {
        return {
            labels
        };
    }
};
</script>
<style lang="scss">
.disabled{
    pointer-events: none;
}
</style>

