<template>
  <div
    id="full-calendar-container"
    class="ink-grid top-space"
    :class="{ 'validToAdd': validToAdd }"
  >
    <div id="parent" class="column-group half-gutters">
      <div id="info" class="all-20 medium-30 small-100 tiny-100">
        <template v-if="project">SEARCH
          <br>MEMBERS
        </template>
        <template v-else>
          <div v-if="isSelf">
            <input type="checkbox" v-model="groupVacations" id="group" name="group">
            <label for="group">{{labels.GROUPVACATIONS}}</label>
          </div>
          <h4 class="uppercase fillet slab-400">{{labels.VACATIONPERIODS}}</h4>
          <div class="users-holder">
            <div v-if="groupedVacations.length" class="all-95 small-100 tiny-100 control-group">
              <ul class="control unstyled user-entry">
                <li
                  v-for="group of groupedVacations"
                  :key="group.id"
                  class="vacation-group-entry"
                  :style="{ 'background': getColor() }"
                >
                  <!-- TODO -->
                  <div
                    class="vacation-group-text fw-300"
                    @click="onGroupClicked(group)"
                  >{{formatGroupToString(group)}}</div>
                  <div v-if="isSelf" class="trash-icon" @click="deleteGroup({group: group})">
                    <span class="fa fa-trash"></span>
                  </div>
                </li>
              </ul>
            </div>
            <div
              v-else
              class="fw-200 all-95 small-100 tiny-100 control-group"
            >{{labels.NOVACATIONSPERIODSSCHEDULED}}</div>
          </div>
        </template>
      </div>
      <div class="all-80 medium-70 small-100 tiny-100">
        <form class="ink-form" v-if="isSelf && !project">
          <div
            style="display:flex;justify-content:center;"
            class="control-group column-group horizontal-gutters"
          >
            <div class="control all-40 xlarge-25 small-100 tiny-100">
              <div class="control-group column-group">
                <label for="start-date" class="all-20 small-30 fw-300">{{labels.START}}</label>
                <div class="control all-80 small-70">
                  <datepicker
                    :placeholder="labels.STARTDATE"
                    v-model="startDate"
                    format="dd-MM-yyyy"
                    input-class="fill"
                  ></datepicker>
                </div>
              </div>
            </div>
            <div class="control all-40 xlarge-25 small-100 tiny-100">
              <div class="control-group column-group">
                <label for="end-date" class="all-20 small-30 fw-300">{{labels.END}}</label>
                <div class="control all-80 small-70">
                  <datepicker
                    :placeholder="labels.ENDDATE"
                    v-model="endDate"
                    format="dd-MM-yyyy"
                    input-class="fill"
                  ></datepicker>
                </div>
              </div>
            </div>
            <div class="control all-20 xlarge-15 small-100 tiny-100">
              <div
                class="ink-button blue"
                @click="createUserVacations()"
                style="width: 100%;"
              >{{labels.MARK_VACATION}}</div>
            </div>
          </div>
        </form>
        <div id="calendar" class="fc fc-unthemed fc-ltr">
          <full-calendar
            :events="events"
            :config="config"
            @day-click="dayClick"
            @event-selected="eventSelected"
            @event-render="eventRender"
            @event-resize="eventResize"
            ref="calendar"
          ></full-calendar>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
#full-calendar-container {
  .fill {
    width: 100%;
  }

  #calendar .fc-widget-content .fc-scroller.fc-day-grid-container {
    overflow-y: hidden !important;
  }

  #parent {
    margin-top: 3em;

    #info {
      .user-entry {
        color: white;
        cursor: pointer;
      }

      .unselect {
        background: #eeebe5 !important;
        color: #555 !important;
      }
    }
  }

  ul.user-entry {
    border-radius: 2px;
  }

  .fc-day.day-selected {
    background-color: #b9d198;
  }

  .day-full-height {
    height: 100%;
  }

  .highlight-plus-sign-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
  }

  .highlight-plus-sign {
    font-size: 2em;
    color: black;
  }

  .users-photo {
    width: 40px;
  }

  .fc-content {
    .trash-icon {
      display: none;
    }

    &:hover {
      .trash-icon {
        display: block;
        float: right;
        height: 17px;
        line-height: 17px;
      }
    }
  }

  .vacation-group-entry {
    display: flex;

    .trash-icon {
      padding: 2px;
      display: flex;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      flex: 5;
    }

    .vacation-group-text {
      flex: 95;
    }
  }

  .fc-basic-view .fc-body .fc-row {
    min-height: 96px;
  }

  .fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-resizable {
    .fc-content {
      display: flex;
    }

    .fc-title {
      flex: 1;
    }
  }

  .fc-highlight {
    position: relative;
    opacity: 1;
    background: #cdebf1;
  }

  &.validToAdd .fc-highlight:before {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #58767a;
    font-size: 32px;
  }
}
</style>

<script>
import "fullcalendar/dist/locale/pt";
import appConfig from "@/app.config";
import {
  mapActions as mapUserActions,
  mapGetters as mapUserGetters
} from "@/user/store";
import { mapMutations as mapFooterMutations } from "@/footer/store";
import types from "@/mutation.types";
import { labels } from "@/services/i18n.service";
import {
  mapActions as mapUserVacationsActions,
  mapGetters as mapUserVacationsGetters
} from "@/vacations/store";
import { FullCalendar } from "vue-full-calendar";
import "fullcalendar/dist/fullcalendar.css";
import Datepicker from "vuejs-datepicker";
import * as moment from "moment";
import UtilService from "@/services/helper.service";
import CalendarService from "@/services/calendar.service";
export default {
  name: "custom-calendar",
  props: {
    isSelf: Boolean,
    helpTOCId: String,
    project: String
  },
  components: {
    FullCalendar,
    Datepicker
  },
  data() {
    return {
      labels,
      currentFilters: {},
      startDate: moment()
        .startOf("month")
        .toDate(),
      endDate: moment()
        .endOf("month")
        .toDate(),
      selectedDay: moment().toDate(),
      lastClickedDay: null,
      groupVacations: true,
      validToAdd: false,
      config: Object.assign(
        {},
        appConfig.calendar.config,
        appConfig.calendar.events
      )
    };
  },
  created() {
    this.setHelpId(this.helpTOCId);
    this.getUserDetail(this.$route.params.username).then(res => {
      this.fetchUserVacations();
      this.fetchHolidays();
    });
  },
  methods: {
    ...mapUserActions({
      getUserDetail: types.USER.GET_DETAIL
    }),
    ...mapFooterMutations({
      setHelpId: types.FOOTER.SET_HELP_ID
    }),
    ...mapUserVacationsActions({
      getUserVacations: types.VACATIONS.GET_USER_VACATIONS,
      getHolidays: types.VACATIONS.GET_HOLIDAYS,
      editUserVacations: types.VACATIONS.EDIT_USER_VACATIONS
    }),
    getColor(random) {
      return appConfig.calendar.colors[random ? Math.floor(Math.random() * 5) : 0];
    },
    dayClick(event) {
      this.validToAdd = false;

      const validToAdd = this.vacations.filter(res => {
        return (
          res[appConfig.calendar.api_key] ===
            UtilService.formatAPIDate(event) ||
          CalendarService.isDayWeekend(event)
        );
      });

      this.validToAdd = validToAdd && !validToAdd.length;

      UtilService.formatAPIDate(this.selectedDay) ===
        UtilService.formatAPIDate(event) && this.createUserVacations(true);
      this.selectedDay = event;
      this.startDate = this.endDate = event.toDate();
    },
    eventSelected(event, res) {
      event &&
        res &&
        res.target &&
        res.target.classList &&
        res.target.classList.contains("trash-icon") &&
        this.deleteGroup({
          start: event.start,
          end: event.end
        });
    },
    eventResize(event) {
      this.createUserVacations(
        false,
        CalendarService.dateIntervalToDates(event.start, event.end)
      );
    },
    eventRender(event) {
      setTimeout(() => {
        let content = document.querySelectorAll(
          "." + event.className + " > .fc-content"
        );

        let trash = document.createElement("span");
        trash.classList.add("trash-icon");
        trash.classList.add("fa");
        trash.classList.add("fa-trash");

        content[0].appendChild(trash);
      }, 50);
    },
    fetchUserVacations(start, end) {
      this.getUserVacations({
        user: this.userDetail.unix_username,
        start: UtilService.formatAPIDate(start || moment().startOf("year")),
        end: UtilService.formatAPIDate(end || moment().endOf("year"))
      });
    },
    fetchHolidays(since, until) {
      this.getHolidays({
        since: UtilService.formatAPIDate(since || moment().startOf("year")),
        until: UtilService.formatAPIDate(until || moment().endOf("year"))
      });
    },
    deleteGroup(args) {
      // Deletes a group of vacations, supports both arrays and start-end dates
      if (!args.group && args.start && args.end) {
        args.group = CalendarService.dateIntervalToDates(
          args.start,
          args.end
        ).map(date => {
          return {
            [appConfig.calendar.api_key]: UtilService.formatAPIDate(
              moment(date)
            )
          };
        });
      }
      this.editUserVacations({
        user: this.userDetail.unix_username,
        start: UtilService.formatAPIDate(
          moment(args.group[0][appConfig.calendar.api_key]).toDate()
        ),
        end: UtilService.formatAPIDate(
          moment(
            args.group[args.group.length - 1][appConfig.calendar.api_key]
          ).toDate()
        ),
        payload: {
          dates: CalendarService.removeWeekendsAndHolidays(
            args.group.map(date => {
              return {
                active: false,
                [appConfig.calendar.api_key]: date[appConfig.calendar.api_key]
              };
            }),
            appConfig.calendar.api_key
          )
        }
      })
        .then(res => this.fetchUserVacations())
        .catch(err => {
          this.fetchUserVacations();
          console.error(err);
        });
    },
    createUserVacations(single, range) {
      if (!range) {
        range = CalendarService.dateIntervalToDates(
          this.startDate,
          this.endDate
        );
      }
      const dates = CalendarService.removeWeekendsAndHolidays(single ? [this.selectedDay] : range)
      .map(date => ({ [appConfig.calendar.api_key]: UtilService.formatAPIDate(date) }))

      dates.length &&
        this.editUserVacations({
          user: this.userDetail.unix_username,
          start: UtilService.formatAPIDate(moment().startOf("year")),
          end: UtilService.formatAPIDate(moment().endOf("year")),
          payload: {
            dates: dates
          }
        });
    },
    formatGroupToString(group) {
      return CalendarService.formatGroupToString(group);
    },
    onGroupClicked(group) {
      if (group && group.length) {
        if (group.length === 1) {
          this.$refs.calendar.fireMethod(
            "select",
            moment(
              group[0][appConfig.calendar.api_key],
              appConfig.calendar.api_format
            )
          );
        } else {
          this.$refs.calendar.fireMethod(
            "select",
            moment(
              group[0][appConfig.calendar.api_key],
              appConfig.calendar.api_format
            ),
            moment(
              group[group.length - 1][appConfig.calendar.api_key],
              appConfig.calendar.api_format
            ).add(1, "day")
          );
        }
      }
    }
  },
  computed: {
    ...mapUserGetters({
      userDetail: "userDetail"
    }),
    ...mapUserVacationsGetters({
      vacations: "vacations",
      holidays: "holidays",
      isLoading: "isLoading"
    }),
    groupedVacations() {
      return CalendarService.groupedVacations(this.vacations, this.holidays);
    },
    events() {
      let events = [];
      let end;
      const color = this.getColor();
      this.vacations.forEach(vacation => {
        const start = moment(vacation[appConfig.calendar.api_key]);
        const skip =
          UtilService.formatAPIDate(start) === UtilService.formatAPIDate(end) &&
          this.groupVacations &&
          end;
        end = moment(start).add(1, "days");
        skip
          ? (events[events.length - 1].end = end)
          : events.push(
              Object.assign(
                {
                  title: UtilService.shortName(vacation.user_name),
                  start: moment(vacation[appConfig.calendar.api_key]).toDate(),
                  end: end.toDate(),
                  color: color,
                  editable: false,
                  allDay: true,
                  className: "EVT" + start.format("YYYYMMDD")
                },
                appConfig.calendar.events
              )
            );
      });
      return events;
    }
  },
  watch: {
    startDate(date) {
      if (moment(date).isAfter(this.endDate)) this.endDate = this.startDate;
    },
    endDate(date) {
      if (moment(date).isBefore(this.startDate)) this.startDate = this.endDate;
    }
  }
};
</script>