<template>
    <input type="radio"
        :id="object.value"
        :value="object.value"
        v-model="modelCopy"
        :name="name"
        @change="$emit('onChangeRadio', modelCopy)">
</template>

<script>
export default {
    name: "custom-radio",
    props: {
        object: Object,
        selected: String | Number,
        name: String
    },
    created() {
        this.modelCopy = this.selected;
    },
    watch: {
        selected: function(newValue) {
            this.modelCopy = newValue.slice();
        }
    }
};
</script>
