<template>
    <div
        :class="[{ required }, { warning: errors.has(name)}, classNames]">
        <label class="slab-400 fillet uppercase">{{label}}</label>
        <div class="control">
            <textarea
                :value="inputValue"
                v-validate="validations"
                :name="name"
                @input="$emit('onInput', $event.target.value)"
                :rows="rows">
            </textarea>
        </div>
    </div>
</template>

<script>
export default {
    name: "custom-text-area",
    props: {
        inputValue: String,
        rows: Number,
        validations: Object | String,
        name: String,
        required: Boolean,
        label: String,
        classNames: String
    }
};
</script>
