<template>
    <input type="checkbox"
        v-model="modelCopy"
        @change="$emit('onChangeCheckbox', modelCopy)">
</template>

<script>
export default {
    name: "custom-checkbox",
    props: {
        checked: Boolean
    },
    created() {
        this.modelCopy = this.checked;
    },
    watch: {
        checked: function(newValue) {
            this.modelCopy = this.checked;
        }
    },
    data() {
        return {
            modelCopy: null
        }
    }
};
</script>
