<template>
  <img
    :class="getCssClass"
    :src="lazy ? false : getImagePath()"
    :data-src="lazy ? getImagePath() : false">
</template>

<script>
export default {
  name: "custom-img",
  props: {
    photo: String,
    cssClass: String,
    size: String,
    lazy: Boolean,
    bustCache: Boolean,
    absoluteUrl: Boolean
  },
  computed: {
    getCssClass() {
      return this.lazy ? `lazyload-item ${this.cssClass}` : this.cssClass;
    }
  },
  methods: {
    refresh() {
      this.$forceUpdate();
    },
    getImagePath() {
      if (this.absoluteUrl) return this.photo;

      let photoName = this.size
        ? `${this.photo.substring(0, this.photo.lastIndexOf("."))}-${
            this.size
          }${this.photo.substring(this.photo.lastIndexOf("."))}`
        : this.photo;
      return `${window.location.protocol}//${
        window.location.hostname
      }/${photoName}${
        this.bustCache ? `?${Math.floor(Math.random() * 1000)}` : ""
      }`;
    }
  }
};
</script>
