<template>
    <router-link :to="url || ''">
        <span class="hide-large hide-medium hide-small hide-tiny" >{{label}}</span>
        &nbsp;
        <span v-if="!hideIcon" style="line-height: 1.8em;" :class="'hide-all show-large fa fa-'+icon+' push-left quarter-right-space'"></span>
        <span class="fa fa-caret-down"></span>
    </router-link>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
  name: "custom-bar-link",
  props: {
    icon: String,
    url: String,
    label: String,
    hideIcon: Boolean
  },
  data() {
      return {
          labels
      };
  }
};
</script>
