<template>
    <select v-model="selectedOption" @change="onChange()">
        <option
            v-for="option in options"
            :value="getValue(option)"
            :key="option.value ? option.value : null">
            {{option.label || option}}
        </option>
    </select>
</template>

<script>
export default {
    name: "custom-select",
    props: {
        selected: String | Number,
        options: Array
    },
    data() {
        return {
            selectedOption: null
        }
    },
    created() {
        this.selectedOption = this.selected;
    },
    methods: {
        onChange() {
            this.$emit("onChange", this.selectedOption);
        },
        getValue(option) {
            return (option.value || option.value === null) ? option.value : option
        }
    },
    watch: {
        selected: function(newValue) {
            this.selectedOption = newValue;
        }
    }
};
</script>
