<template>
  <button @click="onClick()" class="ink-button quarter-vertical-space quarter-right-space medium push-right">
      <span :class="'fa fa-'+icon"></span>
      <span>{{label}}</span>
  </button>
</template>

<script>
export default {
    name: "custom-btn",
    props: {
        icon: String,
        label: String
    },
    methods: {
        onClick() {
            this.$emit("onClick");
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
