<template>
    <div id="modalEditBar" class="half-padding" :class="isOpen ? 'visible' : ''">
        <div class="push-left resource-info">
            <h1 class="proj-name" v-if="context">{{context}}</h1>

            <p class="no-margin fw-300">{{title}}</p>

            <h3 v-if="textDescription" class="fw-100">{{textDescription}}</h3>

            <h3 class="no-margin" v-if="name || info">
                <span class="fw-100">{{name}}</span>
                <span class="fa fa-play small"></span>
                <span class="fw-400">{{info}}</span>
            </h3>

        </div>

        <div class="actions">
            <button class="ink-button" @click="dismiss()">{{labels.DISMISS}}</button>
            <button class="ink-button green"  @click="$emit('onConfirm')" :disabled="disableConfirm">{{labels.CONFIRM}}</button>
        </div>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "edit-bar",
    props: {
        disableConfirm: Boolean,
        context: String,
        title: String,
        textDescription: String,
        name: String,
        info: String
    },
    created() {
        setTimeout(() => { this.isOpen = true }, 0);
    },
    data() {
        return {
            labels,
            isOpen: false
        };
    },
    methods: {
        dismiss() {
            this.isOpen = false;
            setTimeout(() => this.$emit('onDismiss'), 300);
        }
    }
};
</script>
