<template>
    <div
        :class="[{'warning': errors.has(name) || error}, {'required': required }, classNames]">
        <label :class="labelClass">{{label}}</label>
        <div class="control" :class="subClassNames">
            <input :type="type"
                :value="inputValue"
                @input="$emit('onInput', $event.target.value)"
                :maxlength="maxLength"
                :name="name"
                :autofocus="autoFocus"
                :placeholder="placeholder"
                v-validate="validations">
            <p class="tip" v-if="errors.first(name) || error">{{errors.first(name) || error}}</p>
        </div>
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: "form-input",
    model: {
        prop: 'inputValue',
        event: 'onInput'
    },
    props: {
        inputValue: String | Number,
        label: String,
        labelClass: {
            type: String,
            default: 'slab'
        },
        classNames: String,
        validations: Object | String,
        name: String,
        type: String,
        maxLength: Number,
        autoFocus: Boolean,
        placeholder: String,
        subClassNames: String,
        required: Boolean,
        error: String
    }
};
</script>