<template>
    <div ref="container">
        <slot></slot>
    </div>
</template>

<script>
import UtilService from '@/services/helper.service';
export default {
    name: "lazy-load-scroll",
    props: {
        delay: Number,
        threshold: Number
    },
    deta() {
        return {
            firstEvent: true
        }
    },
    created() {
        window.addEventListener('scroll', this.handleScroll);
    },
    destroyed () {
        window.removeEventListener('scroll', this.handleScroll);
    },
    methods: {
        handleScroll() {
            let diff = document.documentElement.scrollHeight - document.documentElement.scrollTop
            if (diff < this.threshold && this.firstEvent) {
                this.$emit('onThreshold');
                this.firstEvent = false;
            } else if (diff < this.threshold && !this.firstEvent) {
                UtilService.debounce(() => this.$emit('onThreshold'), this.delay);
            }
        }
    }
};
</script>
