<template>
    <span>{{labels.LOADING}}</span>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "loader",
    data() {
        return {
            labels
        };
    }
};
</script>