<template>
    <div id="standbyLightBox" :class="{ 'visible': isActive }">
        <div class="lightbox-container">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
    </div>
</template>

<script>
export default {
    name: "loading-overlay",
    props: {
        isActive: Boolean
    }
};
</script>
