<template>
    <li>
        <div class="details">
            <a class="slab-400" data-bind="text: name, attr: {href: '#mailinglist/' + unix_username}">{{item.title}}</a>
            <!-- ko if: is_manager -->
            <span class="ink-label small blue quarter-left-space" data-bind="text: $parent.tr.MANAGER">TODO</span>
            <!-- /ko -->
            <!-- ko if: is_member && !is_manager -->
            <span class="ink-label small grey quarter-left-space" data-bind="text: $parent.tr.SUBSCRIBED">TODO</span>
            <!-- /ko -->
            <p class="desc" data-bind="text: description">{{item.desc}}</p>

            <!-- ko ifnot: description -->
            <p class="no-data" data-bind="text: $parent.tr.NODESCRIPTION">TODO</p>
            <!-- /ko -->

            <p class="no-margin">
                <a class="mail" data-bind="attr: {href: 'mailto:' + email}, text: email">TODO</a>
                <!-- ko if: is_popular-->
                <span class="ink-label small green quarter-left-space" data-bind="text: $parent.tr.POPULAR">TODO</span>
                <!-- /ko -->
            </p>
        </div>
        <div class="pin">
            <!-- ko ifnot: subscribed() || pendingSubscription() -->
            <button class="ink-button green sub-list" data-bind="click: $parent.subscribeList.bind($parent), attr: {'disabled': $parent.disableButton()}">
                <span data-bind="text: $parent.tr.SUBSCRIBE">TODO</span>
            </button>
            <!-- /ko -->
            <!-- ko if: subscribed -->
            <!-- ko if: is_manager -->
            <a class="ink-button sub-list" data-bind="attr: {href: '#mailinglist/res=' + unix_username + '&configuration&edit=true'}">
                <span class="fa-cog"></span>
                <span data-bind="text: $parent.tr.MANAGE">TODO</span>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: is_manager -->
            <button class="ink-button sub-list" data-bind="click: $parent.unsubscribeList.bind($parent), attr: {'disabled': $parent.disableButton()}">
                <span data-bind="text: $parent.tr.UNSUBSCRIBE">TODO</span>
            </button>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: pendingSubscription -->
            <button class="ink-button sub-list" data-bind="click: $parent.cancelRequest.bind($parent), attr: {'disabled': $parent.disableButton()}">
                <span data-bind="text: $parent.tr.CANCELREQUEST">TODO</span>
            </button>
            <!-- /ko -->
        </div>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "mailing-list-item",
    props: {
        item: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
