<template>
  <div class="all-20 medium-30 hide-small hide-tiny">
        <form class="ink-form" onsubmit="return false;" v-if="search">
            <div class="control-group">
                <div class="control append-symbol" role="search">
                    <span>
                        <input 
                            type="search" 
                            maxlength="40" 
                            :placeholder="search"
                            v-model="currentFilters.search"
                            @keyup="changeFilters('search', currentFilters.search)"
                            autofocus="true"
                            id="" />
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </form>

        <options-filter-group 
            v-for="group in groups" 
            :key="group.alias" 
            :group="group" 
            :items="_props[group.alias]" 
            :currentPage="currentPage" 
            @changeFilters="changeFilters"
        ></options-filter-group>

        <!-- FITLERS (project) TODO -->
        <ul v-if="viewAll" class="unstyled filter-list">
            <div class="half-top-space fillet"></div>
            <li><a :href="viewAll.path + `&page=${currentPage}`">{{labels[viewAll.label]}}</a></li>
        </ul>

    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";

import OptionsFilterGroup from "@/components/OptionsFilterGroup.vue";

export default {
    name: "options-filter", 
    components: {
        "options-filter-group": OptionsFilterGroup
    },
    props: [
        "filters",
        "order",
        "type",
        "status",
        "relation",
        "filter",
        "resourceType",
        "viewAll",
        "currentPage",
        "currentFilters",
        "search"
    ],
    data() {
        return {
            labels,
            groups: [ 
                { alias: "filters" }, 
                { label: "ORDER", alias: "order" }, 
                { label: "TYPE", alias: "type" }, 
                { label: "STATUS", alias: "status" }, 
                { label: "FILTER", alias: "filter" }, 
                { label: "RELATION", alias: "relation" }, 
                { label: "RESOURCETYPE", alias: "resourceType" }
            ]
        };
    },
    methods: {
        changeFilters(type, value, init) {
            this.$emit('changeFilters', type, value, init);
        }
    }
};
</script>
