<template>

    <ul v-if="items" class="unstyled filter-list top-space">

        <li v-if="group.label" class="title">{{labels[group.label]}}</li>

        <li 
            v-for="item in items" 
            :key="item.label" 
            @click="itemClick(item)" 
            :class="{ 'active': item.label == selected}"
        >
            <a>{{labels[item.label]}}</a>
        </li>
    </ul>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "options-filter-group",  
    props: [ 
        "group",
        "items",
        "currentPage"
    ],
    data() {
        return {
            labels,
            selected: null
        };
    },
    created() {
        this.init();
    },
    methods: {
        init() {
            this.items && this.items.length && this.itemClick(this.items[0], true);
        },
        itemClick(item, init) {
            this.selected = item.label;
            this.$emit('changeFilters', this.group.alias, item.value, init);
        }
    },
    watch: {
        items(items) {
            this.init();
        }
    }
};
</script>
