<template lang="html">
    <component :is="component" v-if="component" @onCreated="onChildCreated" :extras="extras"></component>
</template>

<script lang="js">
  import registerModule from '../services/module.service.js';

  export default {
    name: 'register-module-component',
    props: ['componentPath', 'extras'],
    data() {
      return {
        component: null
      }
    },
    methods: {
      onChildCreated(newModule) {
        registerModule(newModule.nameSpace, newModule);
      }
    },
    created() {
      this.component = this.componentPath;
    }
}
</script>
