<template>
    <div>
        {{message}}
    </div>
</template>

<script>
export default {
    name: "small-modal",
    props: {
        message: String
    }
};
</script>
<style lang="scss" scoped>
div {
    word-wrap: break-word;
}
</style>
