<template>
    <div id="toastPanel">
        <div :class="['ink-alert basic', level]">
            {{message}}
        </div>
    </div>
</template>

<script>
export default {
    name: "toast-panel",
    props: {
        level: String,
        message: String,
        timeout: Number
    },
    created() {
        setTimeout(() => this.$emit('onDismiss'), this.timeout);
    }
};
</script>
