<template>
    <nav class="ink-navigation context-menu clearfix ink-grid" :class="[isSelf ? 'profile' : '', isInactive() ? 'inactive' : '']">
        <div class="push-left title" v-if="project">
            <h1 class="fw-100">{{title}}</h1>
            <template v-if="isSummary">
                <button v-if="project.is_subscribed"
                    class="ink-button green pin-proj"
                    data-bind="click: unsubscribeProject, attr: {disabled: disablePinBtn}">
                    <span>{{labels.UNPIN}}</span>
                    <span class="fa fa-thumb-tack quarter-left-space"></span>
                </button>

                <button v-else
                    class="ink-button pin-proj"
                    data-bind="click: subscribeProject, attr: {disabled: disablePinBtn}">
                    <span>{{labels.PIN}}</span>
                    <span class="fa fa-thumb-tack quarter-left-space"></span>
                </button>
            </template>
        </div>

        <div class="push-left hide-small hide-tiny" v-else-if="user">
            <h1 class="no-margin fw-100">{{user.name}}</h1>
        </div>

        <div class="no-margin push-right hide-small hide-tiny" v-if="isSummary">
            <template v-if="project">
                <span class="ink-button no-margin" v-if="project.is_member || project.is_manager || showEditButton">
                    <span v-if="isStaff" class="fw-300">Superuser </span>
                    <span class="fw-300" v-if="project.is_manager">{{labels.MANAGER}}</span>
                    <span class="fw-300" v-if="!project.is_manager && project.is_member">{{labels.MEMBER}}</span>
                </span>
            </template>

            <button class="ink-button"  v-if="showEditButton" @click="$emit('onEdit')">
                <span class="fa fa-cog"></span>
            </button>
        </div>

        <template v-if="project && isSummary && !(project.is_member || project.is_manager)">
            <button
                v-if="!requestStatus"
                class="ink-button push-right quarter-right-space hide-small hide-tiny"
                data-bind="click: requestAccess">
                {{labels.REQUESTACCESS}}
            </button>
            <button
                v-else
                class="ink-button push-right quarter-right-space hide-small hide-tiny"
                data-bind="click: cancelRequestAccess, attr: {disabled: requesting}">
                {{labels.CANCELREQUESTACCESS}}
            </button>
        </template>

        <slot></slot>
    </nav>
</template>

<script>
// A TopNav e a ContextNav eu criei de forma a serem usadas tantos nos projects como nos users (ate agora, pode haver mais).
// Nas props estao descriminadas quais delas sao exclusivas ou quais sao comuns.
// Poderia ter feito navs individuais também, mas elas sao quase iguais
import { labels } from "@/services/i18n.service";
export default {
    name: "top-nav",
    props: {
        // PROJECTO
        project: Object,
        requestStatus: Boolean,
        isStaff: Boolean,
        isSummary: Boolean,

        // USER
        user: Object,
        isSelf: Boolean,

        // COMUNS
        showEditButton: Boolean
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        isInactive() {
            return this.user && this.user.status === 'Inactive';
        }
    },
    computed: {
        title() {
            return this.user ? this.user.name : this.project.name
        }
    }
};
</script>