<template lang="html">
  <div>
    <top-nav :title="capitalizeFirstChar(navTitle)" :is-self="isSelf"></top-nav>
    <div class="vertical-space user preferences ink-grid">
        <div class="config column-group gutters top-space">
            <div class="preferences-config-panel ink-navigation all-100">
                <ul class="menu vertical">
                    <li
                        v-for="item of tabs"
                        :key="item"
                        @click="setCurrentTab(item)"
                        :class="{ 'active': item === currentTab }"
                    >
                        <a>{{ capitalizeFirstChar(labels[item]) }}</a>
                    </li>
                </ul>
            </div>

            <section v-if="user && userSettings" class="ink-form preferences-config all-100">

                <preferences-general
                    v-show="tabs[0] === currentTab"
                    :user="user"
                    :userSettings="userSettings"
                    @setFormValue="setFormValue"
                ></preferences-general>

                <preferences-notifications
                    v-show="tabs[1] === currentTab"
                    :user="user"
                    :userSettings="userSettings"
                    @setFormValue="setFormValue"
                ></preferences-notifications>

                <preferences-experimental
                    v-show="tabs[2] === currentTab"
                    :user="user"
                    :userSettings="userSettings"
                    @setFormValue="setFormValue"
                ></preferences-experimental>
            </section>
        </div>

        <edit-bar
            v-if="user"
            :disable-confirm="!formIsValid"
            :name="capitalizeFirstChar(labels.PREFERENCES)"
            :info="labels.PREFDESC"
            :context="user.name"
            :title="capitalizeFirstChar(labels.EDITPREF)"
            @onConfirm="submitForm()"
            @onDismiss="dismissEdit()">
        </edit-bar>
    </div>
  </div>
</template>

<script>

import {
  mapActions as mapUserActions,
  mapGetters as mapUserGetters
} from "@/user/store";

import types from "@/mutation.types";

import appConfig from '@/app.config';

import { labels } from "@/services/i18n.service";

import UtilService from "@/services/helper.service";

import PreferencesGeneral from "./general/PreferencesGeneral";
import PreferencesExperimental from "./experimental/PreferencesExperimental";
import PreferencesNotifications from "./notifications/PreferencesNotifications";

export default {
  name: "preferences",
  components: {
    "preferences-general": PreferencesGeneral,
    "preferences-experimental": PreferencesExperimental,
    "preferences-notifications": PreferencesNotifications
  },
  props: {
      navTitle: String
  },
  created() {

    this.currentTab = this.tabs[0];

    this.getUser();

    this.getUserSettings().then(res => {
      
      this.setFormValue(res)

      this.$route.params && this.$route.params.view && this.setCurrentTab(this.$route.params.view);
    });
  },
  data() {
    return {
      labels,
      tabs: appConfig.preferences.tabs,
      currentTab: null,
      formValue: {}
    };
  },
  methods: {
    ...mapUserActions({
      getUser: types.GET,
      getUserSettings: types.USER.GET_ACCOUNT_PREFERENCES,
      editUserSettings: types.USER.EDIT_ACCOUNT_PREFERENCES
    }),
    dismissEdit() {
      this.$router.go(-1);
    },
    capitalizeFirstChar(str) {
      return UtilService.capitalizeFirstChar(str);
    },
    setCurrentTab(tab) {
      if (tab) {
        tab = tab.toUpperCase();
        const index = this.tabs.indexOf(tab);
        if (index >= 0) this.currentTab = tab;
        this.$router.replace({
          params: {
            view: tab.toLowerCase()
          }
        });
      }
    },
    setFormValue(fieldset) {

      Object.assign(this.formValue, fieldset);
    },
    submitForm() {

      this.editUserSettings({
        payload: {
          account_preferences: this.formValue
        },
        username: this.user.unix_username
      })
        .then(() => this.dismissEdit())
        .catch(err => {
          
          console.warn(err)
          this.dismissEdit()
        })
    }
  },
  computed: {
    ...mapUserGetters({
      user: "user",
      userSettings: "userSettings"
    }),
    getCurrentTab() {
      return this.currentTab || this.tabs[0];
    },
    formIsValid() {
      return true;
    },
    isSelf() {
        return (
            this.user && this.$route.params.username &&
            this.$route.params.username === this.user.unix_username
        );
    }
  }
};
</script>