<template>
    <div>
        <div class="fillet top-space clearfix">
            <h4 class="uppercase slab-400 push-left no-margin">{{labels.MEMBERS}}</h4>
            <a class="view-all push-right" data-bind="text: tr.VIEWALL, attr: {href: '#project/' + unix() + '?tab=members&filter=name&all'}">
            {{labels.VIEWALL}}</a>
        </div>
        <ul class="unstyled contacts">
            <!-- ko foreach: visibleMembers -->
            <li class="clearfix">
                <img class="avatar push-left" data-bind="smallUserPhoto: unix" alt="">
                <div class="">
                    <a class="name" data-bind="text: name, attr: {href: '#user/' + unix}"></a>
                    <p class="role no-margin" data-bind="text: title"></p>
                    <a class="mail" data-bind="text: email, attr: {href: 'mailto:' + email}"></a>
                    <!-- ko ifnot: title -->
                    <p class="role no-margin">&nbsp;</p>
                    <!-- /ko -->
                </div>
            </li>
            <!-- /ko -->
            <!-- ko if: moreMembers -->
            <li>
                <a class="medium" data-bind="text: tr.VIEWALL, attr: {href: '#project/' + unix() + '?tab=members&filter=name&all'}">
                {{labels.VIEWALL}}</a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-members",
    props: {
        project: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
