<template lang="html">
    <left-drawer-template
        :user="user"
        :topResources="topProjects"
        :titleLabel="labels.PROJECTS"
        :myResourceLabel="labels.MYPROJECTS"
        :myResourceUrl="'/user/'+user.unix_username+'?tab=projects&filter=name&all&page=1'"
        :resourceId="'projects'"
        :pinLabel="labels.PINPROJECT"
        :hasBoth="true"
        :viewAllUrl="'/search?tab=projects&page=1&order=-score'"
        :icon="'flask'">
        <template slot-scope="resource">
            <router-link class="ellipsis w85" :to="getLink(resource.resource.unix_username)">
                {{resource.resource.name}}
            </router-link>
        </template>
    </left-drawer-template>
</template>

<script>
import { labels } from "@/services/i18n.service";
import LeftDrawerTemplate from "../LeftDrawerTemplate";

export default {
    name: "left-drawer-projects",
    props: {
        user: Object,
        topProjects: Array
    },
    components: {
        "left-drawer-template": LeftDrawerTemplate
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        getLink(link) {
            return `/project/${link}`;
        }
    }
};
</script>
