<template>
  <section class="vcard vertical-space ink-grid user tasks">
    <h4 class="slab-400 uppercase fillet">{{ labels.TASKSBOARDS }}</h4>

    <div class="column-group gutters half-top-space">
      <div class="all-80 medium-70 small-100 tiny-100">
        <div v-if="hasBoards" class="column-group half-gutters">
          <div
            v-for="(board, index) of tasksBoards"
            :key="index"
            class="all-50 small-100 tiny-100"
            @click="viewProject(board)"
          >
            <div class="card clearfix ellipsis">
              <a class="slab-400" data-bind="href: link">{{ board.name }}</a> (
              <span class="nediun">{{ board.project_name }}</span>)
              <p
                class="ellipsis desc note quarter-bottom-space"
                data-bind="text: description"
              >{{ board.description }}</p>
              <p class="ellipsis medium italic no-margin">
                <span>{{ board.info && board.info.message ? board.info.message : '' }}</span>
                <template v-if="board.hasTasks">-
                  <strong>{{ board.assignedTasks }}</strong>
                </template>
              </p>
              <p v-if="board.exceededDueDate" class="ink-label red">
                <span class="fa fa-exclamation-circle"></span>
                <span data-bind="text: dueDate"></span>
              </p>
              <p v-if="board.exceedingDueDate" class="ink-label orange">
                <span class="fa fa-clock-o"></span>
                <span data-bind="text: dueDate"></span>
              </p>
            </div>
          </div>
        </div>

        <p v-else class="note italic fw-300">{{ labels.NOBOARDS }}</p>
      </div>

      <options-filter
        :order="order"
        :status="status"
        :currentFilters="currentFilters"
        :search="labels.FILTERPROJECTS"
        @changeFilters="changeFilters"
      ></options-filter>
    </div>
  </section>
</template>

<script>
// TODO
// Remover os data-bind
// Isolar os componentes do v-for
// Remover o @click da div da task -> existe um anchor para esse efeito
// Passar o anchor do ponto acima para um router-link (ver em qualquer sitio que abre projectos/tarefas, etc)
import {
  mapActions as mapUserActions,
  mapGetters as mapUserGetters
} from "@/user/store";
import { mapMutations as mapFooterMutations } from "@/footer/store";
import types from "@/mutation.types";
import { labels } from "@/services/i18n.service";
import UtilService from "@/services/helper.service";

export default {
  name: "user-tasks",
  props: {
    isSelf: Boolean,
    helpTOCId: String
  },
  data() {
    return {
      labels,
      tasksBoards: [],
      hasBoards: false,
      currentFilters: {},
      order: [
        { label: "ALPHABETICAL", value: "name" },
        { label: "LASTCHANGE", value: "-modified_on" }
      ],
      status: [
        { label: "ALL", value: "all" },
        { label: "OWNTASKS", value: "assignedTasks" },
        { label: "EXCEEDTIMES", value: "exceedTimes" }
      ]
    };
  },
  created() {
    this.setHelpId(this.helpTOCId);
    this.getUserDetail(this.$route.params.username).then(res =>
      this.getBoards()
    );
  },
  methods: {
    ...mapUserActions({
      getUserDetail: types.USER.GET_DETAIL,
      getUserBoards: types.USER.GET_BOARDS
    }),
    ...mapFooterMutations({
      setHelpId: types.FOOTER.SET_HELP_ID
    }),
    changeFilters(type, value, init) {
      this.currentFilters[type] = value;
      !init && this.getBoards();
    },
    getBoards() {
      this.getUserBoards({
        pk: this.userDetail.pk,
        order: this.currentFilters.order
      });
    },
    viewProject(board) {
      this.$router.push({
        path: "/project/" + board.project_name
      });
    }
  },
  computed: {
    ...mapUserGetters({
      userDetail: "userDetail",
      boards: "boards"
    })
  },
  watch: {
    boards(val) {
      let tomorrow;

      this.tasksBoards = this.boards.map(board => {
        board.exceededDueDate = false;
        board.exceedingDueDate = false;
        board.hasTasks = false;

        if (board.info.due_date) {
          const today = new Date();
          tomorrow = new Date();
          tomorrow.setDate(tomorrow.getDate() + 1);
          board.dueDate = new Date(board.info.due_date);
          if (board.dueDate < today) board.exceededDueDate = true;
          else if (
            UtilService.formatAPIDate(board.dueDate) ===
            UtilService.formatAPIDate(tomorrow)
          ) {
                board.exceedingDueDate = true;
            }
          board.dueDate = UtilService.formatAPIDate(board.dueDate);
        }

        if (board.info.assigned_tasks) {
          board.hasTasks = true;
          board.assignedTasks = board.info.assigned_tasks
            ? board.info.assigned_tasks
            : "";
        }

        return board;
      });

      this.hasBoards = this.tasksBoards && this.tasksBoards.length;
    }
  }
};
</script>
