<template lang="html">
    <li>
        <a @click="toggleVisibility()" :class="isActive ? 'active' : ''">
            <span>{{labels.MODULES}}</span>
            <span class="fa fa-wrench push-right"></span>
        </a>
        <ul id="modules-drawer" class="submenu unstyled" :class="isActive ? 'show-all' : 'hide-all'">
            <li class="column-group">
                <div class="all-100">
                <router-link :to="'/search?tab=resources&page=1&filter=all'">
                    <span style="pointer-events: none" class="fa fa-chevron-right"></span>
                    <span style="pointer-events: none">{{labels.VIEWALL}}</span>
                </router-link>
                </div>
            </li>
            <template v-if="topModules.length > 0">
                <li v-for="singleModule in topModules" :key="singleModule.id">
                    <div class="column-group">
                        <router-link class="ellipsis w85" :to="getLink(singleModule.link)">{{singleModule.name}}</router-link>
                    </div>
                </li>
            </template>
            <li v-else class="no-data medium">
                <span>{{labels.BYPINNING}}</span>
                <span class="fa fa-thumb-tack"></span>
                <span>{{labels.PINMODULE}}</span>
            </li>
        </ul>
    </li>
</template>


<template lang="html">
    <left-drawer-template
        :user="user"
        :topResources="topModules"
        :titleLabel="labels.MODULES"
        :resourceId="'modules'"
        :pinLabel="labels.PINMODULE"
        :hasViewAll="true"
        :viewAllUrl="'/search?tab=resources&page=1&filter=all'"
        :icon="'wrench'">
            <template slot-scope="resource">
                <router-link class="ellipsis w85" :to="getLink(resource.resource.link)">
                    {{resource.resource.name}}
                </router-link>
            </template>
        </left-drawer-template>
</template>

<script>
import { labels } from "@/services/i18n.service";
import LeftDrawerTemplate from "../LeftDrawerTemplate";

export default {
    name: "left-drawer-modules",
    props: {
        user: Object,
        topModules: Array
    },
    components: {
        "left-drawer-template": LeftDrawerTemplate
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        getLink(link) {
            return `/${link.substring(1)}`;
        }
    }
};
</script>
