<template>
    <ul class="event-list unstyled">
        <li class="clearfix">
            <div class="member">
                <img :src="'/' + userSkill.photo">
                <router-link :to="'/user/' + userSkill.unix_username">
                    <span class="fw-400">{{userSkill.name}} </span>
                </router-link>
                <span>{{labels.KNOWSABOUT}}</span>
                <router-link :to="'/skill/' + userSkill.skills.identifier">
                    <span class="fw-400"> {{userSkill.skills.name}}</span>
                </router-link>?
            </div>
            <button class="dismiss unstyled" @click="$emit('onUserSkillDismiss', userSkill)">
                <span class="fa fa-times-circle"></span>
            </button>
            <button class="ink-button blue endorse"
                @click="$emit('onEndorse', userSkill)">
                <span class="fa fa-plus"></span>
            </button>
        </li>
    </ul>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "skills-widget-item",
    props: {
        userSkill: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
