<template>
  <section class="card skills">
      <header>
          <h1>{{labels.SKILLS}}</h1>
          <p v-if="visibleUserSkills.length">{{labels.SKILLSHELPER}}</p>
      </header>
      <div>
        <skills-widget-item
          :user-skill="userSkill"
          @onEndorse="endorseSkill($event)"
          @onUserSkillDismiss="dismissSkill($event)"
          v-for="userSkill in visibleUserSkills"
          :key="userSkill.id">
        </skills-widget-item>
      </div>
      <div v-if="!visibleUserSkills.length">
          <p class="no-data">{{labels.NOPERSONS}}</p>
      </div>
      <a style="font-size: smaller" href="/skill">{{labels.GOTOSKILLS}}</a>
  </section>
</template>
<script>
import { labels } from "@/services/i18n.service";
import SkillsWidgetItem from "./SkillsWidgetItem";
import appConfig from '@/app.config';
import { mapGetters, mapActions } from "../../store";
import types from "@/mutation.types";
import UtilService from "@/services/helper.service";

export default {
    name: "skills-widget",
    components: {
        "skills-widget-item": SkillsWidgetItem
    },
    props: {
        user: Object
    },
    created() {
        this.getSkills();
    },
    data() {
        return {
            labels,
            visibleUserSkills: [],
            clonedUserSkills: []
        };
    },
    methods: {
        ...mapActions({
            getSkills: types.SKILLS.GET_PROPOSED_SKILLS
        }),
        async endorseSkill(userSkill) {
            await this.$store.dispatch(`${appConfig.storeNamespace.dashboard}/${types.SKILLS.ENDORSE_SKILL}`, { userSkill });
            this.dismissSkill(userSkill);
        },
        dismissSkill(userSkill) {
            let removedIndex = this.visibleUserSkills.indexOf(userSkill);
            this.visibleUserSkills.splice(removedIndex, 1);
            this.clonedUserSkills.splice(removedIndex, 1);
            if (!this.clonedUserSkills.length) {
                this.getSkills();
            } else {
                this.handleSkills();
            }
        },
        handleSkills() {
            let availableSlots = appConfig.skillsVisibleUsers - this.visibleUserSkills.length;
            let skillsToAdd = UtilService.shuffleArray(this.clonedUserSkills);
            skillsToAdd = skillsToAdd.filter(skill => skill.unix_username !== this.user.unix_username).splice(0, availableSlots);
            this.visibleUserSkills = this.visibleUserSkills.concat(skillsToAdd);
        }
    },
    computed: {
        ...mapGetters({
            userSkills: "userSkills"
        })
    },
    watch: {
        userSkills: function(newSkills) {
            if (newSkills.length) {
                this.clonedUserSkills = newSkills.slice();
                this.handleSkills();
            }
        }
    }
};
</script>

<style lang="scss" scoped>
header {
    p {
        margin-bottom: 0.5em;
        margin-top: -0.5em;
        font-size: smaller;
    }
}
</style>
