<template>
    <li>
        <a v-if="link.external" :href="link.link" target="_blank">{{link.title}}</a>
        <router-link v-else :to="link.link" target="_blank">{{link.title}}</router-link>
        <span class="fa fa-angle-right"></span>
    </li>
</template>

<script>
export default {
    name: "right-link-item",
    props: {
        link: Object
    },
    data() {
        return {
        };
    }
};
</script>
