<template>
    <section class="card links bottom-space">
        <header>
            <h1>{{labels.LINKS}}</h1>
        </header>
        <template v-for="group in links">
            <div class="link-group" v-if="group.links.length" :key="group.group">
                <h5 class="title">{{groupTitle[group.group]}}</h5>
                <ul class="link-list unstyled">
                    <right-link-item :link="link" v-for="link in group.links" :key="link.link"></right-link-item>
                </ul>
            </div>
        </template>
    </section>
</template>
<script>
import RightLinkItem from './RightLinkItem';
import { labels } from '@/services/i18n.service';
import appConfig from '@/app.config';

export default {
    name: "right-links",
    components: {
        "right-link-item": RightLinkItem
    },
    data() {
        return {
            labels,
            groupTitle: appConfig.linksGroups
        }
    },
    props: {
        links: Array
    }
};
</script>
