<template lang="html">
    <div>
        <div class="vertical-space">
            <h4 class="uppercase fillet slab-400">{{ labels.DIGEST }}</h4>
            <p class="fw-300 note italic">{{ labels.DIGEST_HELPER }}</p>
            <ul v-if="userSettings" class="control unstyled">
                <li>
                    <input type="checkbox" v-model="dailySummary" id="digest">
                    <label class="fw-300" for="digest">{{ labels.RECEIVE }}</label>
                </li>
            </ul>
        </div>

        <div class="vertical-space">
            <h4 class="uppercase fillet slab-400">{{ labels.PROJECTNOTIFICATIONS }}</h4>
            <p class="fw-300 note italic">{{ labels.NOTIFICATIONSDESC }}</p>
            <div class="column-group gutters">

                <div v-if="userProjects" class="all-80 medium-70 small-100 tiny-100">
                    
                    <ul v-if="userProjects.length" class="unstyled project-list-notif">
                        
                        <li    
                            v-for="(project, index) in userProjects"
                            :key="index"
                            class="clearfix"
                        >
                            <custom-img class="icon" :photo="user.photo"></custom-img>
                            <!-- <img class="avatar push-left hide-tiny" data-bind="mediumProjectAvatar: unix_username"> -->
                            <div class="details">
                                <p class="title">
                                    <a class="slab-400">{{ project.name }}</a>
                                </p>
                                
                                <p v-if="project.description" class="desc">{{ project.description }}</p>
                                
                                <p v-if="!project.description" class="no-data">{{ labels.NODESCRIPTION }}</p>
                            </div>
                            <div class="notif-group button-group" v-if="userSettings && projectNotifications">
                                <button class="ink-button notif-btn" @click="setNotification(project.unix_username, '')" :class="{ 'green': !projectNotifications[project.unix_username] || projectNotifications[project.unix_username] === '' }">
                                    <span>{{ labels.ALL }}</span>
                                </button>
                                <button class="ink-button notif-btn" @click="setNotification(project.unix_username, 'me')" :class="{ 'green': projectNotifications[project.unix_username] === 'me' }">
                                    <span>{{ labels.JUSTFORME }}</span>
                                </button>
                                <button class="ink-button notif-btn" @click="setNotification(project.unix_username, 'none')" :class="{ 'green': projectNotifications[project.unix_username] === 'none' }">
                                    <span>{{ labels.NONE }}</span>
                                </button>
                            </div>
                        </li>
                    </ul>

                    <nav class="ink-navigation align-center medium">
            
                        <custom-pagination
                            v-if="userProjects.length"
                            :current-page="currentPage"
                            :pages="pages"
                            @onChangePage="changePage($event)"
                        ></custom-pagination>
                    </nav>

                    <p v-if="!userProjects.length" class="note italic fw-300">{{ labels.NOPROJECTS }}</p>
                </div>
                
                <div v-if="isLoading" class="all-80 small-100 tiny-100">
                    <loader></loader>
                </div>
                
                <options-filter 
                    :filters="filters"
                    :currentFilters="currentFilters"
                    :search="labels.FILTERPROJECTS"
                    @changePage="changePage"
                    @changeFilters="changeFilters"
                ></options-filter>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.icon {
  width: 72px;
  float: left;
  background: white;
}
</style>


<script>
import {
  mapActions as mapProjectsActions,
  mapGetters as mapProjectsGetters
} from "@/projects/store";

import { labels } from "@/services/i18n.service";

import OptionsFilter from "@/components/OptionsFilter.vue";

import types from "@/mutation.types";
import CustomImg from "@/components/CustomImg.vue";

export default {
  name: "preferences-notifications",
  props: {
    user: Object,
    userSettings: Object
  },
  components: {
    "options-filter": OptionsFilter,
    "custom-img": CustomImg
  },
  data() {
    return {
      labels,
      currentPage: 1,
      pageSize: 30,
      projectNotifications: {},
      currentFilters: {
        search: ""
      },
      filters: [
        { label: "ALL", value: "all" },
        { label: "MANAGER", value: "manager" },
        { label: "PARTICIPANT", value: "contributer" },
        { label: "GUEST", value: "participant" }
      ],
      dailySummary: null
    };
  },
  created() {
    this.getUserProjects();
    this.dailySummary = this.userSettings.digest;
    this.projectNotifications = Object.assign({}, this.userSettings.notifications);
  },
  methods: {
    ...mapProjectsActions({
      getProjects: types.PROJECTS.GET_USER_PROJECTS
    }),
    getUserProjects() {
      this.getProjects({
        user: this.user.unix_username,
        type: this.currentFilters.type,
        order: "name",
        status: this.currentFilters.search,
        start: (this.currentPage - 1) * this.pageSize,
        end: (this.currentPage - 1) * this.pageSize + this.pageSize
      });
    },
    changeFilters(type, value, init) {
      this.currentFilters[type === "filters" ? "type" : type] = value;
      !init && this.getUserProjects();
    },
    changePage(page) {
      this.currentPage = page;
      this.getUserProjects();
    },
    setNotification(project, val) {
      this.$set(this.projectNotifications, project, val);
      this.$emit('setFormValue', {
        notifications: this.projectNotifications
      })
    }
  },
  computed: {
    ...mapProjectsGetters({
      userProjects: "userProjects",
      userProjectsCount: "userProjectsCount",
      isLoading: "isLoading"
    }),
    pages() {
      return Math.ceil(this.userProjectsCount / this.pageSize);
    }
  },
  watch: {
    dailySummary(val) {
      this.$emit('setFormValue', {
        digest: val
      })
    }
  }
};
</script>