<template>
    <router-link v-if="message.href" :to="message.href" class="fw-400">{{message.value}}</router-link>
    <span v-else-if="message.value">{{message.value}}</span>
    <span v-else>{{message}}</span>
</template>

<script>
export default {
    name: "events-widget-item-message",
    props: ['message']
};
</script>