<template>
  <section class="card activity">
      <header class="column-group horizontal-gutters">
          <div class="all-50">
              <h1>{{labels.ACTIVITY}}</h1>
          </div>
          <form v-if="filters && filters.length > 0" class="ink-form all-50">
              <div class="control-group">
                  <div class="control">
                      <custom-select :selected="currentFilter" :options="filters" @onChange="changeFilter($event)"></custom-select>
                  </div>
              </div>
          </form>
      </header>
      <ul class="event-list unstyled">
          <template v-if="events && events.length">
              <li v-for="event in events" :key="event.pk">
                  <event-widget-item :event="event"></event-widget-item>
              </li>
              <li>
                  <router-link class="more" :to="'/project/' + currentFilter">{{labels.VIEWMORE}}</router-link>
              </li>
          </template>
          <li v-else class="no-data">{{labels.NOEVENTS}}</li>
      </ul>
  </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
import {
    mapActions as mapEventsActions,
    mapGetters as mapEventsGetters
} from "@/projects/store";

import types from "@/mutation.types";
import EventsWidgetItem from './EventsWidgetItem';

export default {
    name: "events-widget",
    components: {
        'event-widget-item': EventsWidgetItem
    },
    props: {
        user: Object
    },
    data() {
        return {
            currentFilter: null,
            labels
        };
    },
    created() {
        this.getFilters();
    },
    methods: {
        ...mapEventsActions({
            getFilters: types.PROJECTS.GET_EVENTS_FILTERS,
            getEvents: types.PROJECTS.GET_EVENTS
        }),
        changeFilter(filter) {
            this.currentFilter = filter;
            this.getEvents({ project: filter });
        }
    },
    computed: {
        ...mapEventsGetters({
            filters: "eventsFilters",
            events: "events"
        })
    },
    watch: {
        filters: function(newValue) {
            if (newValue.length) {
                this.getEvents({
                    project: newValue[0].value
                });
                this.currentFilter = newValue[0].value;
            }
        }
    }
};
</script>