<template>
    <p class="desc no-margin" v-if="event">
        <events-widget-item-message
            v-for="(message, index) in event.decodedMessage"
            :key="index"
            :message="message">
        </events-widget-item-message>
        <span class="timestamp">
            <span> - </span>
            <span>{{event.date | timeSince}}</span>
        </span>
    </p>
</template>

<script>
import EventsWidgetItemMessage from './EventsWidgetItemMessage';

export default {
    name: "events-widget-item",
    components: {
        "events-widget-item-message": EventsWidgetItemMessage
    },
    props: {
        event: Object
    }
};
</script>