<template lang="html">
    <div>
        <div class="vertical-space">
            <h4 class="uppercase fillet slab-400">{{ labels.EXPERIMENTALFEATURES }}</h4>
            <p class="fw-300 note italic no-margin">{{ labels.EXPERIMENTALHELPER1 }}</p>
            <p class="fw-300 note italic">{{ labels.EXPERIMENTALHELPER2 }}</p>
            <ul v-if="hasFeatures" class="control unstyled">

                <preferences-experimental-feature
                    v-for="feature of experimentalFeatures" 
                    :key="feature.id"
                    :feature="feature"
                    :alias="feature.id"
                    :value="features[feature.id]"
                    @setExperimentalFeature="setExperimentalFeature"
                ></preferences-experimental-feature>
            </ul>
            <p v-if="!hasFeatures" class="fw-300 note italic">{{ labels.NOFEATURES }}</p>
        </div>
    </div>
</template>

<script>

import {
    mapActions as mapUserActions,
    mapGetters as mapUserGetters
} from "@/user/store";

import types from "@/mutation.types";

import { labels } from '@/services/i18n.service';

import PreferencesExperimentalFeature from "./PreferencesExperimentalFeature";

export default {
    name: "preferences-experimental",
    components: {
        "preferences-experimental-feature": PreferencesExperimentalFeature
    },
    props: {
        user: Object
    },
    data() {
        return {
            labels,
            hasFeatures: false,
            features: {}
        }
    },
    created() {

        this.getExperimentalFeatures().then(() => {

            this.experimentalFeatures.forEach(feature => {
                
                this.$set(this.features, feature.id, this.user.experimental[feature.id] || false)
            });

            this.hasFeatures = this.experimentalFeatures && this.experimentalFeatures.length;
        })
    },
    methods: {
        ...mapUserActions({
            getExperimentalFeatures: types.USER.GET_EXPERIMENTAL_FEATURES
        }),
        setExperimentalFeature(alias, status) {

            this.$set(this.features, alias, status);
    
            this.$emit('setFormValue', {
                experimental: this.features
            })
        }
    },
    computed: {
        ...mapUserGetters({
            experimentalFeatures: "experimentalFeatures"
        })
    }
};
</script>