<template lang="html">
    <li>
        <div class="column-group">
            <span class="fa fa-flask right-space"></span>
            <div class="right-space">
                <p class="no-margin">{{ feature.name }}</p>
                <p class="fw-300 note italic">{{ feature.description }}</p>
            </div>
            <div class="control">
                <input type="checkbox" :id="alias" v-model="model">
                <label class="fw-300" :for="alias">{{ labels.TRY }}</label>
            </div>
        </div>
    </li>
</template>

<script>

import { labels } from '@/services/i18n.service';

export default {
    name: "preferences-experimental",
    props: {
        feature: Object,
        alias: String,
        value: null
    },
    data() {
        return {
            labels,
            model: this.value
        }
    },
    watch: {
        model(val) {

            this.$emit('setExperimentalFeature', this.alias, val);
        }
    }
};
</script>