// After the default variables are set, import the required Compass partials.
@import "compass/support";
@import "compass/css3/box-sizing";
// @import "compass/typography/vertical_rhythm";

// The default font family.
// $base-font-family: $sans-serif-font-stack !default;

// The base font size.
$base-font-size: 1em !default; // Override default set in Compass' Vertical Rhythm partial.

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 1.45 !default; // Override default set in Compass' Vertical Rhythm partial.

$vertical-rhythm-unit: ($base-line-height * 90) !default; // Defaults to $base-line-height * 90 (135%) of the $base-font-size

// The font sizes for h1-h6.
$h1-font-size: 2.2em !default;
$h2-font-size: 1.75em !default;
$h3-font-size: 1.50em !default;
$h4-font-size: 1.25em !default;
$h5-font-size: 1.1em !default;
$h6-font-size: 1em !default;
$p-font-size: 1em !default;

// The amount lists and blockquotes are indented.
$indent-amount: 25px !default;

// sans-serif font stack
$sans-serif-font-stack		: "Roboto", Arial, Helvetica, sans-serif !default;

// serif font stack
$serif-font-stack			: Times, "Times New Roman", serif !default;

// mono font stack
$mono-font-stack			: 'Courier New', Monaco, 'Andale Mono', monospace !default;

// condensed font stack
$condensed-font-stack		: Roboto_condensed, Arial, Helvetica, sans-serif !default;

// condensed font stack
$slab-font-stack			: Roboto_slab, Arial, Helvetica, sans-serif !default;
