<template>
    <tr v-if="row">
        <td class="align-center hide-small hide-tiny">
            <!-- !subscribed -->
            <button 
                class="ink-button pin-proj" 
                data-bind="click: $parent.subscribeTicket.bind($parent), attr: {'disabled': $parent.disableButton()}"
            >
                <span>Pin</span>
                <span class="fa fa-thumb-tack"></span>
            </button>
            <!-- subscribed -->
            <button class="ink-button green pin-proj" data-bind="click: $parent.unsubscribeTicket.bind($parent), attr: {'disabled': $parent.disableButton()}">
                <span>Unpin</span>
                <span class="fa fa-thumb-tack"></span>
            </button>
        </td>
        <td>
            <a class="title" data-bind="attr: {href: link}">{{ row.name }}</a>
            <p class="note" data-bind="text: $parent.ticketFooter($data)"></p>
            <p class="hide-medium hide-large hide-xlarge" style="padding-top: 0.5em;font-size: smaller;margin-bottom: 0px;">
                <span class="fa fa-wrench"></span>&nbsp;<a data-bind="attr: {href: resource_url}">{{ row.resource_name }}</a>
                <span class="separator"></span>
                <span class="fa fa-flask"></span>&nbsp;<a data-bind="attr: {href: '#project/' + project_unix_username + '?tab=tickets&filter=-modified_on&Open&all&all&all&all&page=1'}">{{ row.project_name }}</a>
            </p>
        </td>
        <td v-if="showProjectLinks" class="hide-small hide-tiny">
            <a data-bind="attr: {href: '#project/' + project_unix_username + '?tab=tickets&filter=-modified_on&Open&all&all&all&all&page=1'}">{{ row.project_name }}</a>
        </td>
        <td v-else class="align-center hide-small hide-tiny">
            <a class="medium" data-bind="attr: {href: resource_url}">{{ row.resource_name }}</a>
        </td>
        <td class="align-center">
            <span class="ink-label medium" data-bind="css: {green: $parent.ticketIsNew(status), blue: $parent.ticketIsAssigned(status), orange: $parent.ticketIsOpen(status), red: $parent.ticketIsClosed(status)}">{{ row.status }}</span>
        </td>
        <td class="medium align-center hide-small hide-tiny" data-bind="css: {high: $parent.ticketIsPrioritary(priority)}">{{ row.priority }}</td>
        <td class="medium align-center hide-small hide-tiny" data-bind="text: $parent.ticketModifiedDate(modified_on), css: {high: $parent.ticketDueToday(due_date)}"></td>
        <td v-if="row.owner_name" class="hide-small hide-tiny">
            <!-- TODO: Remove fixed width and use a css class -->
            <img class="avatar push-left quarter-right-space hide-small hide-tiny" style="width: 38px" data-bind="smallUserPhoto: owner">
            <p class="role">
                <a data-bind="attr: {title: owner_name, href: '#user/' + owner}">{{ row.owner_name }}</a>
                <span>{{ row.owner_title }}</span>
            </p>
        </td>
        <td v-else class="no-data medium hide-small hide-tiny">{{ labels.NOTASSIGNED }}</td>
    </tr>
</template>

<script>

import { labels } from "@/services/i18n.service";

export default {
    name: "tickets-table-row",
    props: {
        row: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>