<template>
    <table class="ink-table hover half-vertical-space">
        <thead>
            <tr>
                <th class="align-center hide-small hide-tiny" style="width:100px">
                    <span>{{ labels.PIN }}</span> <span class="fa fa-thumb-tack"></span>
                </th>
                <th class="all-30 small-100 tiny-100 align-left">
                    <span>{{ labels.SUBJECT }}</span>
                </th>
                <th class="align-left hide-small hide-tiny" @click="setOrder(showProjectLinks ? 'project_name' : 'resource_name')">
                    <button class="unstyled">
                        <span>{{ labels[showProjectLinks ? 'PROJECT' : 'RESOURCE'] }}</span>
                        <span class="fa" :class="sortIcons(showProjectLinks ? 'project_name' : 'resource_name')"></span>
                    </button>
                </th>
                <th class="align-center" @click="setOrder('status')">
                    <button class="unstyled">
                        <span>{{ labels.STATUS }}</span>
                        <span class="fa" :class="sortIcons('status')"></span>
                    </button>
                </th>
                <th class="align-center hide-small hide-tiny" @click="setOrder('priority')">
                    <button class="unstyled">
                        <span>{{ labels.PRIORITY }}</span>
                        <span class="fa" :class="sortIcons('priority')"></span>
                    </button>
                </th>
                <th class="align-center hide-small hide-tiny" @click="setOrder('modified_on')">
                    <button class="unstyled">
                        <span>{{ labels.MODIFIEDDATE }}</span>
                        <span class="fa" :class="sortIcons('modified_on')"></span>
                    </button>
                </th>
                <th class="all-20 medium-25 hide-small hide-tiny" @click="setOrder('owner_name')">
                    <button class="unstyled">
                        <span>{{ labels.ASSIGNEDTO }}</span>
                        <span class="fa" :class="sortIcons('owner_name')"></span>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <template v-if="ticketsReady">

                <tickets-table-row
                    v-for="(row, index) of tickets"
                    :key="index"
                    :row="row"
                    :showProjectLinks="showProjectLinks"
                ></tickets-table-row>
                
                <tr v-if="!tickets.length">
                    <td class="no-data" colspan="7">{{ labels.NOTICKETS }}</td>
                </tr>
            </template>
            <tr v-else>
                <td class="no-data" colspan="7">
                    <loader></loader>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>

import { labels } from "@/services/i18n.service";

import TicketsTableRow from "./TicketsTableRow";

export default {
    name: "tickets-table",
    components: {
        "tickets-table-row": TicketsTableRow
    },
    props: {
        tickets: Array
    },
    data() {
        return {
            labels,
            showProjectLinks: true,
            ticketsReady: false,
            orderColumn: '',
            orderType: 'fa-sort'
        };
    },
    methods: {
        setOrder(column) {

            let revert = column === this.orderColumn;

            this.orderType = revert ? (this.orderType === 'fa-sort-down' ? 'fa-sort-up' : 'fa-sort-down') : 'fa-sort-up';

            this.orderColumn = column;
        },
        sortIcons(column) {
            return {
                [column === this.orderColumn ? this.orderType : 'fa-sort']: true
            }
        }
          
    },
    watch: {
        tickets() {

            this.ticketsReady = true;
        }
    }
};
</script>