<template>
    <div class="ink-grid user tickets">
        <section class="vertical-space column-group gutters tickets">

            <div class="all-80 small-100 tiny-100">
                <tickets-table
                    :tickets="tickets"
                ></tickets-table>
            </div>

            <options-filter 
                :filter="filter"
                :currentFilters="currentFilters"
                :search="labels.SEARCHTICKETS"
                @changeFilters="changeFilters"
            ></options-filter>
        </section>
    </div>
</template>

<script>

import {
    mapActions as mapUserActions,
    mapGetters as mapUserGetters
} from "@/user/store";

import {
    mapActions as mapTicketsActions,
    mapGetters as mapTicketsGetters
} from "@/tickets/store";

import {
    mapMutations as mapFooterMutations
} from "@/footer/store";

import types from "@/mutation.types";

import { labels } from "@/services/i18n.service";

import TicketsTable from "./TicketsTable";

export default {
    name: "user-tickets",
    components: {
        "tickets-table": TicketsTable
    },
    props: {
        isSelf: Boolean,
        helpTOCId: String
    },
    data() {
        return {
            labels,
            currentFilters: {},
            filter: [
                { label: "OPEN", value: "Open" },
                { label: "ASSIGNEDME", value: "Assigned" },
                { label: "CREATEDME", value: "Created" },
                { label: "CLOSED", value: "Closed" },
                { label: "ALL", value: "all" }
            ]
        };
    },
    created() {
        this.setHelpId(this.helpTOCId);
        this.getUserDetail(this.$route.params.username)
            .then(res => this.getUserTickets())
    },
    methods: {
        ...mapUserActions({
            getUserDetail: types.USER.GET_DETAIL,
            getUserBoards: types.USER.GET_BOARDS
        }),
        ...mapTicketsActions({
            getTickets: types.GET
        }),
        ...mapFooterMutations({
            setHelpId: types.FOOTER.SET_HELP_ID
        }),
        changeFilters(type, value, init) {
            this.currentFilters[type] = value;
            !init && this.getUserTickets();
        },
        getUserTickets() {
            this.getTickets({
                user: this.$route.params.username
            });
        }
    },
    computed: {
        ...mapUserGetters({
            userDetail: "userDetail"
        }),
        ...mapTicketsGetters({
            tickets: "tickets"
        })
    }
};
</script>
