<template>
    <div class="skill clearfix">
        <div class="skill-container push-left">
            <span class="skill-pill">
                <span class="count">{{skill.count}}</span>
                <router-link class="name" :to="'skill/' + skill.skill_identifier">{{skill.skill_name}}</router-link>
            </span>
            <button v-if="!isSelf" class="action unstyled" @click="$emit('onHandleEndorsement', skill)">
                <span class="fa" :class="[skill.endorse ? 'fa-minus' : 'fa-plus']"></span>
            </button>
        </div>
        <div class="endorsers-container">
            <ul class="endorsers push-right">
                <li v-for="(endorser, index) in skill.endorsements" :key="index" :title="endorser.name">
                    <custom-img style="width: 28px" :size="'small'" :photo="endorser.photo"></custom-img>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "user-skills-item",
    props: {
        user: Object,
        isSelf: Boolean,
        skill: Object
    }
};
</script>