<template>
    <section class="all-50 medium-100 small-100 tiny-100">
        <h4 class="slab-400 fillet uppercase">{{labels.SKILLS}}</h4>

        <div v-if="!skills.length">
            <p class="no-data" v-if="isSelf">
                <span>{{labels.YOUHAVENOSKILLS}}</span>
                <button class="unstyled link" @click="$emit('onEditSkills')">{{labels.SKILLSEDIT}}</button>
            </p>

            <p class="no-data" v-else>{{labels.HAVENOSKILLS}}</p>
        </div>

        <div v-if="skills.length">
            <user-skills-item
                v-for="skill in visibleSkills"
                :key="skill.skill_identifier"
                :skill="skill"
                :is-self="isSelf"
                :user="user"
                @onHandleEndorsement="$emit('onHandleEndorsement', $event)">
            </user-skills-item>
        </div>
        <div v-if="hasMoreSkills" class="half-top-space">
            <a class="medium fw-300" @click="viewMore()">{{labels.VIEWMORE}}</a>
        </div>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
import UserSkillsItem from "./UserSkillsItem";

export default {
    name: "user-skills",
    props: {
        user: Object,
        isSelf: Boolean,
        skills: Array
    },
    components: {
        "user-skills-item": UserSkillsItem
    },
    data() {
        return {
            labels,
            skillsOffset: 5
        };
    },
    methods: {
        viewMore() {
            this.skillsOffset = this.skillsOffset * 2;
        }
    },
    computed: {
        hasMoreSkills() {
            return this.skills.length > this.skillsOffset;
        },
        visibleSkills() {
            return this.skills.slice().splice(0, this.skillsOffset);
        }
    }
};
</script>