<template lang="html">
    <li class="search">
        <form class="ink-form" @submit.prevent="submitSearch()">
            <div class="control-group">
                <div class="control append-symbol">
                    <span>
                        <input type="search" name="search" id="search-drawer" :placeholder="labels.SEARCH_INTRANET" v-model="searchTerm"/>
                        <a>
                            <span class="fa fa-search" @click.prevent="submitSearch()"></span>
                        </a>
                    </span>
                </div>
            </div>
        </form>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "left-drawer-search",
    props: {
        user: Object
    },
    mounted() {},
    data() {
        return {
            labels,
            searchTerm: ""
        };
    },
    methods: {
        submitSearch() {
            this.$emit("onSearch", this.searchTerm);
            this.searchTerm = "";
        }
    }
};
</script>
