<template>
    <div class="intra-wrapper">
        <!-- <iframe style="display: none" :src="sseFrameSrc"></iframe> -->
        <div class="wrap">
            <router-view name="intra-bar" />

            <div id="mainContent" class="content-drawer main wrap">
                <router-view></router-view>
            </div>
        </div>

        <router-view name="footer"></router-view>

        <loading-overlay :is-active="isLoadingOverlayActive"></loading-overlay>

        <toast-panel
            :message="toastPanelMessage"
            :level="toastPanelLevel"
            :timeout="toastPanelTimeout"
            v-if="toastPanelLevel"
            @onDismiss="dismissToast()">
        </toast-panel>
    </div>
</template>

<script>
import appConfig from "@/app.config";
import types from "@/mutation.types";
import {
    mapGetters,
    mapMutations
} from "@/layout/store";
import ValidationService, { VALIDATION_MESSAGES } from '@/services/validations.service';

export default {
    name: "app",

    computed: {
        sseFrameSrc: () => {
            let impersonate = window.location.search.replace("?", "");
            return `${appConfig.baseURL}/sseframe?${window.location.origin}${(impersonate ? "&" + impersonate : "")}`;
        },
        ...mapGetters({
            isLoadingOverlayActive: "activeOverlay",
            toastPanelMessage: "toastPanelMessage",
            toastPanelLevel: "toastPanelLevel",
            toastPanelTimeout: "toastPanelTimeout"
        })
    },
    created() {
        this.$validator.localize("en", VALIDATION_MESSAGES);
        this.$validator.localize("pt", VALIDATION_MESSAGES);
        this.$validator.extend("validDomains", ValidationService.validDomains(this.$validator), ["domains"]);
        this.$validator.extend("validUnix", ValidationService.validUnix);
        this.$validator.extend("validPassword", ValidationService.validPassword(this.$store));
    },
    methods: {
        ...mapMutations({
            dismissToast: types.LAYOUT.CLOSE_TOAST_PANEL
        })
    }
};

</script>

<style lang="scss" scoped>
.intra-wrapper{
    height: 100%;
}
</style>
