<template>
    <section>
        <h4 class="uppercase fillet slab-400">{{labels.ADMINISTRATION}}</h4>
        <section class="ink-form column-group gutters">
            <div class="all-50 small-100 tiny-100 control-group" v-if="profiles.length">
                <p class="slab label">{{labels.USERPROFILES}}</p>
                <ul class="control unstyled">
                    <user-profile-item-edit
                        v-for="profile in profiles"
                        :profile="profile"
                        :model="userForm.profiles"
                        @onChangeProfile="$emit('onChangeUserForm', { name: 'profiles', value: $event })"
                        :key="profile.value">
                    </user-profile-item-edit>
                </ul>
            </div>
            <div class="all-50 small-100 tiny-100 control-group" v-if="networkProfiles.length">
                <p class="slab label">{{labels.NETWORKPROFILES}}</p>
                <ul class="control unstyled">
                    <user-profile-item-edit
                        v-for="profile in networkProfiles"
                        :profile="profile"
                        :model="userForm.profiles"
                        @onChangeProfile="$emit('onChangeUserForm', { name: 'network_profiles', value: $event })"
                        :key="profile.value">
                    </user-profile-item-edit>
                </ul>
            </div>
            <div class="all-50 small-100 tiny-100 control-group">
                <p class="slab label">{{labels.STATE}}</p>
                <p class="note italic fw-300" style="line-height:normal">{{labels.WARNING}}</p>
                <ul class="unstyled control">
                    <user-status-item-edit
                        v-for="state in statusTypes"
                        :state="state"
                        :key="state.value"
                        :selected="userForm.status"
                        :name="'status'"
                        @onChangeStatus="$emit('onChangeUserForm', { name: 'status', value: $event })">
                    </user-status-item-edit>
                </ul>
            </div>
            <div v-if="userForm.status === 'Active'" class="all-50 small-100 tiny-100 control-group required validation"
                :class="{'warning': errors.has('expiration-date')}">
                <p class="slab label">{{labels.VALIDITY}}</p>
                <p class="note italic fw-300" style="line-height:normal">{{labels.VALIDITYDESC}}</p>
                <div class="control all-30 small-70">
                    <datepicker
                        :language="datepickerDefaultConfig.language"
                        id="inactive_date"
                        name="inactive_date"
                        v-validate="'required'"
                        :value="userForm.inactive_date"
                        :disabledDates="disabledDates"
                        :format="datepickerDefaultConfig.format"
                        @selected="changeDate($event)">
                    </datepicker>
                </div>
            </div>
            <div class="all-50 small-100 tiny-100 control-group required validation"
                :class="{'warning': errors.has('boss-type')}">
                <p class="slab label">{{labels.BOSSTYPE}}</p>
                <div class="control all-30 small-70">
                    <custom-select
                        :selected="userForm.boss_type"
                        :name="'boss-type'"
                        @onChange="$emit('onChangeUserForm', { name: 'boss_type', value: $event })"
                        v-validate="'required'"
                        :options="bossTypes">
                    </custom-select>
                </div>
            </div>
        </section>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
import UserProfileItemEdit from './UserProfileItemEdit';
import UserStatusItemEdit from './UserStatusItemEdit';
import Datepicker from "vuejs-datepicker";
import appConfig from '@/app.config';
import UtilService from '@/services/helper.service';

export default {
    name: "user-administration-edit",
    props: {
        user: Object,
        userForm: Object,
        profiles: Array,
        networkProfiles: Array,
        statusTypes: Array,
        bossTypes: Array
    },
    components: {
        "user-profile-item-edit": UserProfileItemEdit,
        "user-status-item-edit": UserStatusItemEdit,
        Datepicker
    },
    data() {
        return {
            labels,
            datepickerDefaultConfig: appConfig.datepickerDefaultConfig,
            disabledDates: appConfig.disableDatesUserStatus
        };
    },
    methods: {
        changeDate(date) {
            this.$emit('onChangeUserForm', { name: 'inactive_date', value: UtilService.formatAPIDate(date) });
        }
    }
};
</script>