<template>
    <li>
        <custom-group-checkbox
            :object="profile"
            @onChangeCheckbox="$emit('onChangeProfile', $event)"
            :model="model">
        </custom-group-checkbox>
        <label class="fw-300" :for="profile.value">{{profile.label}}</label>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "user-profile-item-edit",
    props: {
        profile: Object,
        model: Array
    },
    data() {
        return {
            labels
        };
    }
};
</script>