<template>
    <li>
        <custom-radio
            :object="state"
            :selected="selected"
            :name="name"
            @onChangeRadio="$emit('onChangeStatus', $event)"></custom-radio>
        <label class="fw-300" :for="state.value">{{state.label}}</label>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "user-status-item-edit",
    props: {
        state: Object,
        selected: String | Number,
        name: String
    },
    data() {
        return {
            labels
        };
    }
};
</script>