<template>
    <section class="card tickets">
        <header class="column-group">
            <div class="all-50">
                <h1>{{labels.TICKETS}}</h1>
            </div>
            <form class="ink-form all-50">
                <div class="control-group">
                    <div class="control">
                        <custom-select :selected="currentFilter" :options="filters" @onChange="changeFilter($event)"></custom-select>
                    </div>
                </div>
            </form>
        </header>
        <ul class="unstyled event-list">
            <template v-if="tickets.length">
                <tickets-widget-item :ticket="ticket" v-for="ticket in tickets" :key="ticket.id"></tickets-widget-item>
                <li>
                    <router-link class="more" :to="'/user/' + user.unix_username + 'tab=tickets&filter=-modified_on&Open&page=1'">{{labels.VIEWALL}}</router-link>
                </li>
            </template>
            <li v-if="tickets.length === 0" class="no-data">{{labels.NOTICKETS}}</li>
        </ul>
    </section>
</template>
<script>
import { labels } from "@/services/i18n.service";
import appConfig from "@/app.config";
import {
    mapActions as mapTicketsActions,
    mapGetters as mapTicketsGetters
} from "@/tickets/store";
import types from "@/mutation.types";
import TicketsWidgetItem from './TicketsWidgetItem';

export default {
    name: "tickets-widget",
    components: {
        'tickets-widget-item': TicketsWidgetItem
    },
    props: {
        user: Object
    },
    data() {
        let filters = appConfig.ticketsFilters;
        return {
            currentFilter: filters[0].value,
            labels,
            filters
        };
    },
    methods: {
        ...mapTicketsActions({
            getTickets: types.GET
        }),
        changeFilter(filter) {
            this.currentFilter = filter;
            this.getTickets({ user: this.user.unix_username, filter });
        }
    },
    computed: {
        ...mapTicketsGetters({
            tickets: "tickets"
        })
    },
    watch: {
        user: function(newUser) {
            newUser && this.getTickets({ user: newUser.unix_username, filter: appConfig.ticketsFilters[0].value });
        }
    }
};
</script>
