<template>
    <li >
        <p class="no-margin">
            <span class="ink-label small" :class="[{'red': ticket.red}, {'green': ticket.green}, {'blue': ticket.blue}, {'orange': ticket.orange}]">
                {{ticket.status}}
            </span>
            <a class="title" :href="ticket.link">{{ticket.name}}</a>
            <span class="ticket">
                {{getTicketNumber(ticket)}}
            </span>
        </p>
        <p class="detail">
            <span class="fa fa-wrench"></span>
            <a :href="ticket.resource_url">{{ticket.resource_name}}</a>
            <span class="separator"></span>
            <span class="fa fa-flask"></span>
            <router-link :to="'/project/' + ticket.project_unix_username">{{ticket.project_name}}</router-link>
        </p>
    </li>
</template>

<script>
export default {
    name: "tickets-widget-item",
    props: {
        ticket: Object
    },
    methods: {
        getTicketNumber(ticket) {
          return `#${ticket.identifier.substring(ticket.identifier.lastIndexOf('_') + 1)}`;
        }
    }
};
</script>