<template>
    <li class="hide-medium hide-small hide-tiny" v-if="!user.is_partner">
        <custom-bar-link
            :url="'search?tab=persons&page=1&order=-score&filter=all'"
            :icon="'users'"
            :label="labels.PERSONS">
        </custom-bar-link>
        <ul id="people" class="mega-menu">
            <li>
                <router-link class="title" :to="'search?tab=persons&page=1&order=-score&filter=all'">
                    <span class="fa fa-search quarter-right-space"></span>
                    <span>{{labels.LISTUSERS}}</span>
                </router-link>
            </li>
            <li>
                <router-link class="title" :to="'skill?filter=name&page=1'">
                    <span class="fa fa-list-ul quarter-right-space"></span>
                    <span>{{labels.LISTSKILLS}}</span>
                </router-link>
            </li>

            <li>
                <router-link class="title" :class="{'quarter-bottom-space': user && !user.is_curator}" :to="'requests/new'">
                    <span class="fa fa-external-link-square quarter-right-space"></span>
                    <span>{{labels.REQUESTEXTERNALACCESS}}</span>
                </router-link>
            </li>
            <template v-if="user.is_curator">
                <li>
                    <router-link class="title" :to="'requests/list?page=1'">
                    <span class="fa fa-list-ul quarter-right-space"></span>
                    <span>{{labels.LISTEXTERNALACCESS}}</span>
                </router-link>
                </li>
                <li>
                    <router-link class="ink-button quarter-bottom-space" :to="'user?create=true'">
                    <span class="fa fa-plus-circle quarter-right-space"></span>
                    <span>{{labels.CREATEUSERACCOUNT}}</span>
                </router-link>
                </li>
            </template>

        </ul>
    </li>
</template>

<script>
import { labels } from '@/services/i18n.service';

export default {
    name: "people-menu",
    props: {
        user: Object
    },
    data() {
        return {
            labels,
            onEditMode: false
        };
    }
};
</script>
