<template>
    <div class="column-group">
        <div class="quarter-left-space">
            <p class="no-margin">
                <router-link class="title" :to="getLink(task.link)">{{task.name}}</router-link>
            </p>
            <p class="detail">
                <router-link :to="getLink(task.board_link)">
                    <span class="fa fa-wrench"></span>
                    &nbsp;
                    <span>{{task.board_name}}</span>
                </router-link>
                <span class="separator"></span>
                <router-link :to="getLink(task.project_link)">
                    <span class="fa fa-flask"></span>
                    &nbsp;
                    <span>{{task.project_name}}</span>
                </router-link>
            </p>
        </div>
        <i class="drag-handle align-center fa fa-bars" v-if="editMode"></i>
    </div>
</template>

<script>
import UtilService from '@/services/helper.service';
export default {
    name: "task-item",
    props: {
        task: Object,
        projectsLength: Number,
        editMode: Boolean
    },
    methods: {
        getLink(link) {
            return UtilService.getLink(link);
        }
    },
    computed: {}
};
</script>
