<template>
    <div>
        <custom-bar-link
            :url="'/user/'+ user.unix_username + '?tab=tasks&filter=name&all'"
            :icon="'tasks'"
            :label="labels.TASKS">
        </custom-bar-link>
        <draggable
            :element="'ul'"
            class="mega-menu"
            id="tasks"
            :options="dragOptions"
            @end="endDrag($event)"
            v-model="topResource"
            :list="topResource">
            <template v-if="topResource && topResource.length">
                <li v-for="task in topResource" class="drag-item" :key="task.name" :data-resource-id="task.pk">
                    <task-item :task="task" :edit-mode="editMode"></task-item>
                </li>
            </template>
            <li v-else class="no-data">
                <span>{{labels.BYPINNING}}</span>
                <span class="fa fa-thumb-tack"></span>
                <span>{{labels.PINPROJECT}}</span>
            </li>
            <li class="column-group" slot="footer">
                <div class="all-50 push-middle">
                    <router-link
                        class="more quarter-vertical-space"
                        :to="'/user/'+ user.unix_username + '?tab=tasks&filter=name&all'">{{labels.MYTASKS}}
                    </router-link>
                </div>
                <div class="all-50">
                    <custom-btn v-if="!editMode" :icon="'pencil'" :label="labels.EDIT" @onClick="onToggleEdit"></custom-btn>
                    <custom-btn v-else :icon="'lock'" :label="labels.LOCK" @onClick="onToggleEdit"></custom-btn>
                </div>
            </li>
        </draggable>
    </div>
</template>
<script>
import TaskItem from "./TaskItem";
import { labels } from '@/services/i18n.service';

export default {
    name: "tasks-menu",
    props: {
        user: Object,
        topResource: Array,
        dragOptions: Object,
        editMode: Boolean,
        onToggleEdit: Function,
        onEndDrag: Function
    },
    components: {
        "task-item": TaskItem
    },
    data() {
        return {
            labels
        };
    },
    methods: {
        endDrag(evt) {
            this.onEndDrag({ evt, subtype: 'task' });
        }
    }
};
</script>