<template>
    <div>
        <label class="slab">{{title}}</label>
        <div class="column-group half-gutters" v-if="services.length">
            <div class="control all-30 small-30 tiny-100">
                <select v-model="pickedService">
                    <option v-for="(service, index) in services" :key="index" :value="service">{{service}}</option>
                </select>
            </div>
            <div class="control all-50 small-70 tiny-100">
                <input type="text" maxlength="70" :placeholder="labels.PROFILEUSERNAME" v-model="username">
            </div>
            <div class="control all-20 small-100 tiny-100">
                <button class="ink-button" :disabled="!username.length" @click="addService()">{{labels.ADD}}</button>
            </div>
        </div>
        <ul class="web-profile unstyled fw-300 medium" v-if="userForm[servicePropName] && userForm[servicePropName].length">
            <user-contacts-edit-array-services-item
                class="panel"
                v-for="(service, index) in userForm[servicePropName]"
                :key="index"
                :service="service"
                @onRemoveService="$emit('onRemoveService', $event)">
            </user-contacts-edit-array-services-item>
        </ul>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
import UserContactsEditArrayServicesItem from './UserContactsEditArrayServicesItem';

export default {
    name: "user-contacts-edit-array-services",
    components: {
        "user-contacts-edit-array-services-item": UserContactsEditArrayServicesItem
    },
    props: {
        userForm: Object,
        services: Array,
        title: String,
        servicePropName: String
    },
    data() {
        return {
            labels,
            username: '',
            pickedService: null
        };
    },
    created() {
        this.pickedService = this.services[0];
    },
    methods: {
        addService() {
            this.$emit('onAddService', {
                service: this.pickedService,
                username: this.username
            })
        }
    },
    watch: {
        services: function(newValue) {
            this.pickedService = newValue.length && this.services[0];
        }
    }
};
</script>