<template>
    <ul class="unstyled fw-300 medium">
        <li class="panel" v-for="(phone, index) in phoneNumbers" :key="index">
            <div class="column-group half-horizontal-gutters">
                <div class="all-80 push-middle">
                    <span v-if="phone.prefix">{{phone.prefix}} </span>
                    <span>{{phone.number}}</span>
                </div>
                <div class="all-20 align-right">
                    <button class="unstyled" @click="$emit('onRemovePhone', phone)">
                        <span class="fa fa-times-circle"></span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
export default {
    name: "user-contacts-edit-phone-numbers",
    props: {
        phoneNumbers: Array
    }
};
</script>