<template>
    <li class="panel">
        <div class="column-group half-horizontal-gutters">
        <div class="all-80 push-middle">
            <span :class="['label', serviceObject]">
                <span
                    :title="serviceObject"
                    :class="['fa', serviceObject, serviceObject === 'sapoim' || serviceObject == 'gtalk' ? 'fa-comments': '', serviceObject == 'skype' ? 'fa-skype': '']">
                </span>
                <span class="slab-400">{{serviceObject}}</span> (<span class="italic fw-300">{{service.username}}</span>)
            </span>
        </div>
        <div class="all-20 align-right">
            <button
                :title="'Remove '+ serviceObject"
                @click="$emit('onRemoveService', service)"
                class="unstyled"
                style="padding: 0.35em">
                <span class="fa fa-times-circle"></span>
            </button>
        </div>
        </div>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
  name: "user-contacts-edit-im-services-item",
  props: {
    service: Object
  },
  data() {
    return {
      labels
    };
  },
  computed: {
      serviceObject() {
          return this.service.service || this.service.network;
      }
  }
};
</script>