<template>
    <div class="quarter-top-space user-avatar">
        <img v-if="photoFile" :src="photoFile" />
        <custom-img v-else-if="userForm.photo" :photo="userForm.photo" alt="" :bust-cache="true"></custom-img>
        <button class="ink-button blue" @click="$emit('onPhotoClicked')">
            <span class="fa fa-pencil"></span>
        </button>
        <div class="inactive" v-if="userForm.status === 'Inactive'">{{labels.INACTIVE}}</div>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "user-contacts-edit-avatar",
    props: {
        userForm: Object,
        photoFile: String
    },
    data() {
        return {
            labels
        };
    }
};
</script>