<template>
    <div class="column-group horizontal-gutters">
        <form-input
            :class-names="'control-group all-50 validation'"
            :type="'number'"
            :input-value="userForm.floor"
            :label="labels.FLOOR"
            :name="'floor'"
            @onInput="$emit('onChangeFloor', $event)"
            :validations="{ min_value: 0, max_value: 9 }">
        </form-input>

        <form-input
            :class-names="'control-group all-50 validation'"
            :type="'number'"
            :input-value="userForm.seat"
            :label="labels.SEAT"
            :name="'seat'"
            @onInput="$emit('onChangeSeat', $event)"
            :validations="{ min_value: 1, max_value: 40 }">
        </form-input>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "user-contacts-edit-seat-floor",
    props: {
        userForm: Object,
        isSelf: Boolean
    },
    data() {
        return {
            labels
        };
    }
};
</script>