<template>
    <section class="vcard ink-form top-space">
        <h4 class="uppercase fillet slab-400">{{labels.NAMECONTACTS}}</h4>
        <div class="column-group gutters">
            <div class="xlarge-20 large-20 medium-30 small-100 tiny-100">
                <user-contacts-edit-avatar
                    :user-form="userForm"
                    :photo-file="photoFile"
                    @onPhotoClicked="$emit('onPhotoClicked')">
                </user-contacts-edit-avatar>
            </div>

            <div class="xlarge-80 large-80 medium-70 small-100 tiny-100">
                <div class="column-group horizontal-gutters">
                    <form-input
                        :class-names="'all-50 small-100 tiny-100 control-group validation'"
                        :type="'text'"
                        :max-length="70"
                        :input-value="userForm.name"
                        @onInput="$emit('onChangeUserForm', { name: 'name', value: $event })"
                        :name="'name'"
                        :label="labels.NAME"
                        :auto-focus="true"
                        :validations="{ required: true }"
                        :required="true">
                    </form-input>

                    <form-input
                        :class-names="'all-50 small-100 tiny-100 control-group validation'"
                        :type="'email'"
                        :input-value="userForm.email"
                        @onInput="$emit('onChangeUserForm', { name: 'email', value: $event })"
                        :label="labels.EMAIL"
                        :name="'email'"
                        :validations="{ required: true }"
                        :required="true">
                    </form-input>

                    <div class="all-50 small-100 tiny-100 control-group">
                        <form-input
                            :class-names="'control-group column-group'"
                            :type="'tel'"
                            :input-value="phone"
                            @onInput="phone = $event"
                            :name="'tel'"
                            :label="labels.PHONENUMBERS"
                            :sub-class-names="'all-75 small-70 tiny-70'"
                            :placeholder="labels.PHONENUMBER"
                            :required="true">
                            <div class="control all-25 small-30 tiny-30 align-right">
                                <button class="ink-button" @click="addPhoneNumber" :disabled="disablePhoneNumber">{{labels.ADD}}</button>
                            </div>
                        </form-input>

                        <user-contacts-edit-phone-numbers
                            :phone-numbers="userForm.phone_numbers"
                            @onRemovePhone="$emit('onRemovePhone', $event)">
                        </user-contacts-edit-phone-numbers>

                        <user-contacts-edit-seat-floor
                            :user-form="userForm"
                            @onChangeFloor="$emit('onChangeUserForm', { name: 'floor', value: $event })"
                            @onChangeSeat="$emit('onChangeUserForm', { name: 'seat', value: $event })">
                        </user-contacts-edit-seat-floor>
                    </div>
                    <div class="all-50 small-100 tiny-100 control-group">
                        <user-contacts-edit-array-services
                            v-if="possibleIMServices"
                            :user-form="userForm"
                            :services="possibleIMServices"
                            @onAddService="$emit('onAddIMService', $event)"
                            :title="labels.IMSERVICES"
                            :service-prop-name="'im_services'"
                            @onRemoveService="$emit('onRemoveIMService', $event)">
                        </user-contacts-edit-array-services>

                        <user-contacts-edit-array-services
                            v-if="possibleSocialNetworks"
                            :user-form="userForm"
                            :services="possibleSocialNetworks"
                            @onAddService="$emit('onAddSocialNetwork', $event)"
                            :title="labels.SOCIALNETWORKS"
                            :service-prop-name="'social_networks'"
                            @onRemoveService="$emit('onRemoveSocialNetwork', $event)">
                        </user-contacts-edit-array-services>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
import UserContactsEditAvatar from './UserContactsEditAvatar';
import UserContactsEditPhoneNumbers from './UserContactsEditPhoneNumbers';
import UserContactsEditSeatFloor from './UserContactsEditSeatFloor';
import UserContactsEditArrayServices from './UserContactsEditArrayServices';

export default {
    name: "user-contacts-edit",
    props: {
        userForm: Object,
        possibleIMServices: Array,
        possibleSocialNetworks: Array,
        isSelf: Boolean,
        photoFile: String
    },
    data() {
        return {
            labels,
            phone: ''
        };
    },
    components: {
        'user-contacts-edit-avatar': UserContactsEditAvatar,
        'user-contacts-edit-phone-numbers': UserContactsEditPhoneNumbers,
        'user-contacts-edit-seat-floor': UserContactsEditSeatFloor,
        'user-contacts-edit-array-services': UserContactsEditArrayServices
    },
    computed: {
        disablePhoneNumber() {
            return !this.phone || this.userForm.phone_numbers.length > 2;
        }
    },
    methods: {
        addPhoneNumber() {
            this.$emit('onAddPhoneNumber', this.phone);
            this.phone = '';
        }
    }
};
</script>