<template>
    <div class="help clearfix">
        <div class="ink-grid top-space">
            <div class="fillet clearfix">
                <div class="push-left">
                    <h4 class="uppercase fw-400 push-left no-margin" data-bind="attr: {title: helpTOCId}">{{labels.HELP}}</h4>
                    <a class="view-all half-left-space fw-300 medium" href="#help">{{labels.VIEWALL}}</a>
                </div>
                <div class="ink-form push-right" v-if="user && user.is_staff">
                    <div class="control-group column-group no-margin">
                        <label class="slab-400 half-right-space">{{labels.CREATETOPIC}}</label>
                        <div class="control append-button">
                            <span><input type="text" maxlength="32" :placeholder="labels.NEWTOPICNAME" data-bind="value: topicName, valueUpdate: 'keyup'" /></span>
                            <button class="ink-button all-40" data-bind="click: newTopic, disable: disableNewTopic">{{labels.CREATE}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="all-100" v-if="isLoading">
                <!-- ko module: 'App.Intra.LoadingPanel' --><!-- /ko -->
            </div>

            <p class="no-data" v-if="!pages.length && !isLoading">{{labels.NOPAGES}}</p>

            <ul class="context-help clearfix" v-else>
                <li v-for="(page, index) in pages" :key="index">
                    <router-link :to="page.link">
                        {{page.title}}
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "context-help-footer",
    props: {
        pages: Array,
        user: Object,
        isLoading: Boolean
    },
    data() {
        return {
            labels
        };
    }
};
</script>