<template>
    <footer class="content-drawer top-space" :class="[pinned ? 'footer-pinned': '', collapsed ? 'footer-collapsed': '']">
        <div class="ink-grid vertical-space">
            <div class="align-center" v-if="pinned">
                <button class="trigger" @click="toggle()">
                    <span class="fa" :class="collapsed ? 'fa-chevron-up' : 'fa-chevron-down'"></span>
                </button>
            </div>
        </div>
        <!-- ko if: helpTOCId -->
            <!-- ko module: {name: 'App.Intra.ContextHelpPanel', data: {helpTOCId: helpTOCId()}} --><!-- /ko -->
        <!-- /ko -->
        <context-helper-footer
            :user="user"
            :pages="pages"
            :is-loading="isLoading">
        </context-helper-footer>
        <div class="utils clearfix">
            <div class="ink-grid top-space">
                <div class="column-group gutters" v-if="links && user">
                    <footer-item v-if="!user.is_partner && toolLinks" :links="toolLinks.links" :title="labels.TOOLS"></footer-item>
                    <footer-item v-if="globalLinks && globalLinks" :links="globalLinks.links" :title="labels.GLOBALTEAMS"></footer-item>
                    <footer-item v-if="usefulLinks" :links="usefulLinks.links" :title="labels.USEFUL"></footer-item>

                    <div class="all-25 small-100 tiny-100">
                        <h4 class="uppercase fillet fw-400">SAPO</h4>
                        <ul>
                            <li><a href="https://hq.intra.sapo.pt">SAPO HQ</a></li>
                            <li><a href="http://sobre.sapo.pt">{{labels.ABOUTUS}}</a></li>
                        </ul>

                        <div class="top-space">
                            <p class="no-margin">{{labels.FOUNDAPROBLEM}}</p>
                            <a class="ink-button black quarter-top-space" @click="showReportProblem()">
                                <span class="fa fa-bug quarter-right-space"></span>
                                <span class="fw-300">{{labels.REPORTPROBLEM}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import { labels } from "@/services/i18n.service";
import {
    mapGetters as mapUserGetters
} from "@/user/store";
import {
    mapGetters as mapFooterGetters,
    mapActions as mapFooterActions
} from "./store";
import FooterItem from './FooterItem';
import ContextHelpFooter from './ContextHelpFooter';
import types from "@/mutation.types";

export default {
    name: "custom-footer",
    components: {
        "footer-item": FooterItem,
        "context-helper-footer": ContextHelpFooter
    },
    data() {
        return {
            labels,
            collapsed: false,
            pinned: false // TODO
        };
    },
    computed: {
        ...mapUserGetters({
            user: "user",
            links: "links",
            toolLinks: "toolLinks",
            usefulLinks: "usefulLinks",
            globalLinks: "globalLinks"
        }),
        ...mapFooterGetters({
            pages: 'pages',
            isLoading: 'isLoading',
            helpTOCId: 'helpTOCId'
        })
    },
    methods: {
        ...mapFooterActions({
            getFooterHelp: types.FOOTER.GET_HELP
        }),
        showReportProblem() {
            alert('TODO')
        },
        toggle() {
            this.collapsed = !this.collapsed;
        }
    },
    watch: {
        helpTOCId: function(newValue) {
            newValue && this.getFooterHelp({ context: newValue });
        }
    }
};
</script>
