<template>
    <div class="all-25 small-100 tiny-100">
        <h4 class="uppercase fillet fw-400">{{title}}</h4>
        <ul>
            <li v-for="link in links" :key="link.link">
                <router-link
                    :to="link.link" target="_blank">
                    {{link.title}}
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "footer-item",
    props: {
        links: Array,
        title: String
    }
};
</script>
