<template>
    <div class="ink-grid space">
        <!-- <a style="float:right;" href="{{LOGOUT_URL}}">Logout</a> -->
        <h1 class="align-center">
            <span class="fw-700">SAPO</span> <span class="fw-100">INTRA</span>
        </h1>
        <p class="extralarge">
            :(
        </p>
        <p class="large">
            Não conseguimos validar a tua conta na Intranet, por favor reporta o problema à nossa
            <!-- <a href="mailto:{{INTRA_TEAM_EMAIL}}"> equipa.</a> -->
        </p>
    </div>
</template>

<script>
export default {
    name: "invalid-credentials"
};
</script>