<template lang="html">
    <left-drawer-template
        :user="user"
        :titleLabel="labels.PERSONS"
        :resourceId="'persons'"
        :icon="'users'">
    </left-drawer-template>
</template>

<script>
import { labels } from "@/services/i18n.service";
import LeftDrawerTemplate from "../LeftDrawerTemplate";

export default {
    name: "left-drawer-people",
    props: {
        user: Object
    },
    components: {
        "left-drawer-template": LeftDrawerTemplate
    },
    data() {
        return {
            labels
        };
    }
};
</script>
