<template>
    <li>
        <a target="_blank" :href="link.link">
            {{link.label}}
        </a>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "project-links-item",
    props: {
        link: Object
    },
    data() {
        return {
            labels
        };
    }
};
</script>
