<template>
    <section class="all-50 small-100 tiny-100 fw-300 links">
        <h4 class="slab-400 fillet uppercase">{{labels.PROJLINKS}}</h4>
        <ul>
            <project-links-item
                v-for="link in project.links"
                :link="link"
                :key="link.pk">
            </project-links-item>
        </ul>
    </section>
</template>

<script>
import { labels } from "@/services/i18n.service";
import ProjectLinksItem from './ProjectLinksItem';
export default {
    name: "project-links",
    props: {
        project: Object
    },
    components: {
        "project-links-item": ProjectLinksItem
    },
    data() {
        return {
            labels
        };
    }
};
</script>
