<template>
    <li class="im">
        <span class="fa no-margin"
            :class="[
                IM.service === 'sapoim' || IM.service == 'gtalk' ? 'fa-comments': '',
                IM.service == 'skype' ? 'fa-skype': ''
            ]"
            :title="IM.service">
        </span>
        <a class="mail" :href="IM.link">{{IM.username}}</a>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "user-contacts-location",
    props: {
        IM: Object
    },
    data() {
        return {
            labels
        };
    },
    computed: {
        location() {
            let floor = this.user.floor ? `${labels.FLOOR} ${this.user.floor}` : null;
            let seat = this.user.seat ? `${labels.SEAT} ${this.user.seat}` : null;
            if (floor && !seat) {
                return floor;
            } else if (seat && !floor) {
                return seat;
            } else if (seat && floor) {
                return floor + ' / ' + seat;
            }
            return null;
        }
    }
};
</script>