<template>
    <div class="xlarge-30 large-30 medium-70 small-100 tiny-100">
        <h4 class="slab-400 fillet uppercase" >{{labels.CONTACTS}}</h4>

        <template v-if="user.email">
            <ul class="mail-profile unstyled">
                <li class="email">
                    <span class="fa fa-envelope-o no-margin" title="Email"></span>
                    <a :href="'mailto:' + user.email">{{user.email}}</a>
                </li>

                <user-contacts-im
                    v-if="user.im_services && user.im_services.length"
                    v-for="(im, index) in user.im_services"
                    :IM="im"
                    :key="index">
                </user-contacts-im>
            </ul>
            <hr/>
        </template>

        <user-contacts-phone-numbers :phone-numbers="user.phone_contacts">
        </user-contacts-phone-numbers>

        <hr/>

        <user-contacts-slack
            :user="user"
            :slack-info="slackInfo"
            :is-loading-slack="isLoadingSlack"
            :is-inviting-slack="isInvitingSlack"
            :is-self="isSelf"
            @onInviteToSlack="$emit('onInviteToSlack')"
            @onSlackSendPM="$emit('onSlackSendPM', $event)">
        </user-contacts-slack>

        <hr/>

        <template v-if="user.seat || user.floor">
            <user-contacts-location :user="user"></user-contacts-location>
            <hr/>
        </template>

        <template v-if="user.social_networks && user.social_networks.length">
            <user-contacts-social-network
                v-for="socialNetwork in user.social_networks"
                :key="socialNetwork.network"
                :social-network="socialNetwork">
            </user-contacts-social-network>
            <hr/>
        </template>

        <a class="ink-button download medium" :href="'api/v2/user/vcard/' + user.unix_username">
            <span class="fa fa-arrow-circle-o-down"></span>
            <span>Download vCard</span>
        </a>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
import UserContactsSlack from './UserContactsSlack';
import UserContactsSocialNetwork from './UserContactsSocialNetwork';
import UserContactsPhoneNumbers from './UserContactsPhoneNumbers';
import UserContactsLocation from './UserContactsLocation';
import UserContactsIM from './UserContactsIM';

export default {
    name: "user-contacts",
    props: {
        user: Object,
        slackInfo: Object,
        isSelf: Boolean,
        isLoadingSlack: Boolean,
        isInvitingSlack: Boolean
    },
    data() {
        return {
            labels
        };
    },
    components: {
        'user-contacts-slack': UserContactsSlack,
        'user-contacts-social-network': UserContactsSocialNetwork,
        'user-contacts-phone-numbers': UserContactsPhoneNumbers,
        'user-contacts-location': UserContactsLocation,
        'user-contacts-im': UserContactsIM
    }
};
</script>