<template>
    <ul class="web-profile unstyled fw-300">
        <li>
            <span class="" :class="'fa fa-'+socialNetwork.network.toLowerCase()" :title="socialNetwork.network"></span>
            <a target="_blank" :href="socialNetwork.link">
                <span>{{socialNetwork.label}}</span>
                <span class="fa fa-external-link medium"></span>
            </a>
        </li>
    </ul>
</template>

<script>
export default {
    name: "user-contacts-social-network",
    props: {
        socialNetwork: Object
    }
};
</script>