<template>
    <ul class="loc-profile unstyled">
        <li>
            <span class="fa fa-map-marker"></span>
            <span class="fw-300">
                <!-- TODO: LOCATION URL NAO TA OK -->
                <router-link class="slab-400" target="_blank" :to="user.location_url">{{location}}</router-link>
            </span>
        </li>
    </ul>
</template>

<script>
import { labels } from "@/services/i18n.service";
export default {
    name: "user-contacts-location",
    props: {
        user: Object
    },
    data() {
        return {
            labels
        };
    },
    computed: {
        location() {
            let floor = this.user.floor ? `${labels.FLOOR} ${this.user.floor}` : null;
            let seat = this.user.seat ? `${labels.SEAT} ${this.user.seat}` : null;
            if (floor && !seat) {
                return floor;
            } else if (seat && !floor) {
                return seat;
            } else if (seat && floor) {
                return floor + ' / ' + seat;
            }
            return null;
        }
    }
};
</script>