<template>
    <ul class="tel-profile unstyled">
        <li class="tel"
            v-if="phoneNumbers && phoneNumbers.length > 0"
            v-for="(phone, index) in phoneNumbers"
            :key="index">
            <span class="fa fa-phone"></span>
            <a :href="'tel:' + phone.prefix + phone.number">
                <span class="prefix" data-bind="text: prefix">{{phone.prefix}} </span>
                <span class="number" data-bind="text: number">{{phone.number}}</span>
            </a>
        </li>
    </ul>
</template>

<script>
export default {
    name: "user-contacts-phone-numbers",
    props: {
        phoneNumbers: Array
    }
};
</script>