<template>
    <ul class="tel-profile unstyled">
        <li>
            <span class="fa fa-slack"></span>
            <span v-if="isLoadingSlack" class="fa fa-spinner fa-spin"></span>

            <a>
                <span @click="$emit('onSlackSendPM', { userId: slackInfo.id, teamId: slackInfo.team_id })">{{status}}</span>
            </a>

            <span v-if="inviteStatus" class="slack-inactive-user">{{inviteStatusText}}</span>
            <span v-else class="slack-inactive-user">{{labels.USERNOTFOUND}}</span>

            <a v-if="askAccess" @click="$emit('onInviteToSlack')"> Pedir Acesso</a>

            <span class="fa fa-spinner fa-spin" v-if="isInvitingSlack"></span>
        </li>
    </ul>
</template>

<script>
import { labels } from "@/services/i18n.service";
import moment from "moment";
export default {
    name: "user-contacts-slack",
    props: {
        slackInfo: Object,
        isSelf: Boolean,
        user: Object,
        isInvitingSlack: Boolean,
        isLoadingSlack: Boolean
    },
    data() {
        return {
            labels
        };
    },
    computed: {
        inviteStatus() {
            return this.isSelf || this.user.is_staff;
        },
        askAccess() {
            return (
                (this.user.is_staff || this.isSelf) &&
                (this.slackInfo && !this.slackInfo.id) &&
                !this.isInvitingSlack &&
                (this.slackInfo && !this.slackInfo.invite_sent)
            );
        },
        status() {
            if (this.slackInfo && this.slackInfo.presence) {
                let status =
                    this.slackInfo.presence.presence === "away"
                        ? "Ausente"
                        : "Activo";
                status =
                    this.slackInfo.presence.ok &&
                    this.slackInfo.presence.last_activity
                        ? `${status} (${moment(
                              this.slackInfo.presence.last_activity
                          ).fromNow()})`
                        : status;
                return status;
            }
        },
        inviteStatusText() {
            return !this.slackInfo
                ? ""
                : this.slackInfo.invite_sent === false
                    ? "Convite pendente"
                    : this.slackInfo.invite_sent === true
                        ? "Convite enviado"
                        : "";
        }
    }
};
</script>