<template>
    <div>
        <top-nav
            v-if="user"
            :project="projectDetail"
            :showEditButton="showEditBtn"
            :is-staff="user.is_staff"
            :is-summary="isSummary()">
            <context-nav
                :project="projectDetail"
                :tabs="dashboardTabs"
                :current-tab="currentTab()"
                :is-staff="user.is_staff"
                :show-edit-button="showEditBtn">
            </context-nav>
        </top-nav>
        <router-view></router-view>
    </div>
</template>

<script>

import {
    mapActions as mapUserActions,
    mapGetters as mapUserGetters
} from "@/user/store";

import {
    mapGetters as mapProjectGetters,
    mapActions as mapProjectActions,
    mapMutations as mapProjectsMutations
} from "./store";

import types from "@/mutation.types";
import appConfig from '@/app.config';

export default {
    name: "project-dashboard",
    methods: {
        ...mapUserActions({
            getUserDetail: types.USER.GET_DETAIL
        }),
        ...mapProjectActions({
            getProjectDetail: types.PROJECTS.GET_DETAIL
        }),
        ...mapProjectsMutations({
            clearDetailState: types.CLEAR_STATE
        }),
        isActive(tab) {
            return tab === this.currentTab();
        },
        isSummary(tab) {
            return this.currentTab() === appConfig.projectDashboardTabs.summary;
        },
        currentTab() {
            let routePaths = this.$route.path.split('/');
            return routePaths[routePaths.length - 1];
        }
    },
    created() {
        this.getProjectDetail(this.$route.params.projectname);
    },
    computed: {
        ...mapUserGetters({
            user: "user"
        }),
        ...mapProjectGetters({
            projectDetail: 'projectDetail',
            dashboardTabs: 'dashboardTabs'
        }),
        showEditBtn() {
            return (this.user && this.user.is_staff) || (this.project && this.project.is_manager);
        }
    },
    beforeDestroy: function() {
        this.clearDetailState();
    },
    watch: {
        '$route.params.projectname': function (id) {
            this.getProjectDetail(this.$route.params.projectname);
        }
  }
};
</script>
