<template>
    <li class="clearfix">
        <div class="pin push-left" v-if="!historyItem">
            <button v-if="!project.subscribed" class="ink-button pin-proj" @click="$emit('onSubscribeProject', project.unix_username)">
                <span>Pin</span>
                <span class="fa fa-thumb-tack quarter-left-space"></span>
            </button>
            <button v-else class="ink-button green pin-proj" @click="$emit('onUnsubscribeProject', project.unix_username)">
                <span>Unpin</span>
                <span class="fa fa-thumb-tack quarter-left-space"></span>
            </button>
        </div>
        <div class="details">
            <custom-img :photo="project.avatar" :css-class="'avatar push-left hide-tiny'"></custom-img>
            <p class="title">
                <router-link :to="'/project/' + project.unix_username" class="slab-400">{{project.name}}</router-link>
                <template v-if="!historyItem">
                    <span class="ink-label blue medium quarter-left-space" v-if="project.is_manager">{{labels.MANAGER}}</span>
                    <span class="ink-label grey medium quarter-left-space" v-else>{{labels.MEMBER}}</span>
                </template>
                <template v-else>
                    <span v-if="project.status === 'Inactive'" class="ink-label grey medium quarter-left-space">{{labels.INACTIVE}}</span>
                    <template v-else>
                        <span class="ink-label green medium quarter-left-space">{{project.date_in | date}}</span>
                        →
                        <span class="ink-label red medium quarter-left-space">{{project.date_out | date}}</span>
                    </template>
                </template>
            </p>

            <p class="no-data" v-if="!project.description">{{labels.NODESCRIPTION}}</p>
            <p class="desc" v-else>{{project.description}}</p>
            <p class="fw-300 medium no-margin">
                <router-link
                    :to="'/project/' + project.unix_username + '?tab=members&filter=name&all'">{{labels.MEMBERS}}</router-link>
                <span class="separator"></span>
                <router-link
                    :to="'/project/' + project.unix_username + '?tab=resources&filter=type_order&all&page=1'">{{labels.RESOURCES}}</router-link>
            </p>
        </div>
    </li>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "project-item",
    props: {
        project: Object,
        historyItem: Boolean
    },
    data() {
        return {
            labels
        };
    }
};
</script>
