<template>
    <div class="all-80 medium-70 small-100 tiny-100" v-if="projects">
        <ul class="unstyled project-list" v-if="projects.length">
            <project-item v-for="project in projects" :key="project.pk" :project="project"
                @onSubscribeProject="$emit('onSubscribeProject', $event)"
                @onUnsubscribeProject="$emit('onUnsubscribeProject', $event)">
            </project-item>
        </ul>
        <custom-pagination
            v-if="projects.length"
            :current-page="currentPage"
            :pages="pages"
            @onChangePage="$emit('onChangePage',$event)">
        </custom-pagination>
        <p class="note italic fw-300" v-if="!projects.length">{{labels.NOPROJECTS}}</p>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
import ProjectItem from './ProjectItem';
export default {
    name: "project-list",
    components: {
        "project-item": ProjectItem
    },
    props: {
        projects: Array,
        currentPage: Number,
        pageSize: Number,
        projectsCount: Number
    },
    data() {
        return {
            labels
        };
    },
    computed: {
        pages() {
            return Math.ceil(this.projectsCount / this.pageSize);
        }
    }
}
</script>