<template>
    <div class="all-20 medium-30 hide-tiny hide-small half-top-space">
        <form class="ink-form" onsubmit="return false;">
            <div class="control-group">
                <div class="control append-symbol" role="search">
                    <span>
                        <input
                            autofocus type="search" maxlength="40"
                            :placeholder="labels.FILTERPROJECTS"
                            v-model="searchTerm"
                            v-on:keyup="$emit('onSearch', this.searchTerm)" />
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </form>
        <ul class="unstyled filter-list top-space">
            <li class="title">{{labels.ORDER}}</li>
            <li :class="order === 'name' ? 'active' : null" @click="$emit('onOrderChange', 'name')"><a>{{labels.ALPHABETICAL}}</a></li>
            <li :class="order === '-modified' ? 'active' : null" @click="$emit('onOrderChange', '-modified')"><a>{{labels.LASTMODIFIED}}</a></li>
        </ul>
        <ul class="unstyled filter-list top-space">
            <li class="title">{{labels.PROJECTTYPE}}</li>
            <li :class="type === 'all' ? 'active' : null" @click="$emit('onTypeChange', 'all')"><a>{{labels.ALLTYPES}}</a></li>
            <li :class="type === 'manager' ? 'active' : null" @click="$emit('onTypeChange', 'manager')"><a>{{labels.MANAGER}}</a></li>
        </ul>
        <div class="half-top-space fillet"></div>
        <ul class="unstyled filter-list">
            <li><router-link :to="'/search?tab=projects&page=1&order=-score'">{{labels.ALLPROJECTS}}</router-link></li>
        </ul>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";

export default {
    name: "project-settings",
    props: {
        order: String,
        type: String
    },
    data() {
        return {
            labels,
            searchTerm: ''
        };
    }
};
</script>
