<template>
    <div>
        <div class="fillet clearfix">
            <h4 class="slab-300 uppercase push-left no-margin">
                <span class="fw-700">{{projectsCount}} </span>
                <span>{{labels.PASTPROJECTS}}</span>
            </h4>
        </div>
        <div>
            <ul class="unstyled project-list">
                <project-item class="clearfix"
                    v-for="project in projectsHistory"
                    :key="project.pk"
                    :project="project"
                    :history-item="true">
                </project-item>
            </ul>
            <custom-pagination
                :currentPage="currentPage"
                :pages="pages"
                @onChangePage="$emit('onChangePage',$event)">
            </custom-pagination>
        </div>
    </div>
</template>

<script>
import { labels } from "@/services/i18n.service";
import ProjectItem from './ProjectItem';
export default {
    name: "project-history",
    props: {
        projectsHistory: Array,
        currentPage: Number,
        pageSize: Number,
        projectsCount: Number
    },
    components: {
        "project-item": ProjectItem
    },
    data() {
        return {
            labels
        };
    },
    computed: {
        pages() {
            return Math.ceil(this.projectsCount / this.pageSize);
        }
    }
};
</script>

