<template>
    <section class="vcard vertical-space ink-grid user projects">
        <h4 class="fillet slab-300 uppercase" v-if="userProjectsCount">
            <span class="fw-700">{{userProjectsCount}}</span>
            <span> {{labels.PROJECTS}}</span>
            <span class="medium sans lowercase italic">
                (<span>{{labels.MANAGERIN}}</span> <span class="fw-700"> {{userProjectsManagerCount}}</span>)
            </span>
        </h4>

        <div class="column-group double-gutters">
            <project-list
                :projects="userProjects"
                v-if="!isLoading"
                :current-page="currentPage"
                :page-size="pageSize"
                :projects-count="userProjectsCount"
                @onSubscribeProject="subscribe($event)"
                @onUnsubscribeProject="unSubscribe($event)"
                @onChangePage="changePage($event)">
            </project-list>

            <div class="all-80 small-100 tiny-100" v-else></div>

            <project-settings
                :order="order"
                :type="type"
                @onOrderChange="changeOrder($event)"
                @onTypeChange="changeType($event)"
                @onSearch="changeSearch($event)">
            </project-settings>
        </div>

        <project-history
            v-if="userProjectsHistory.length"
            :projects-history="userProjectsHistory"
            :current-page="currentPage"
            :page-size="pageSize"
            :projects-count="userProjectsHistoryCount"
            @onChangePageHistory="changePageHistory($event)">
        </project-history>
    </section>
</template>

<script>
import {
    mapGetters as mapUserGetters,
    mapActions as mapUserActions
} from "@/user/store";

import {
    mapMutations as mapFooterMutations
} from "@/footer/store";

import {
    mapActions as mapProjectsActions,
    mapGetters as mapProjectsGetters
} from "@/projects/store";

import types from "@/mutation.types";
import { labels } from "@/services/i18n.service";
import ProjectSettings from "./ProjectSettings";
import ProjectList from "./ProjectList";
import ProjectHistory from "./ProjectHistory";

export default {
    name: "user-projects",
    props: {
        helpTOCId: String
    },
    components: {
        "project-settings": ProjectSettings,
        "project-list": ProjectList,
        "project-history": ProjectHistory
    },
    data() {
        return {
            labels,
            order: null,
            type: null,
            searchTerm: null,
            pageSize: 30,
            currentPage: 1,
            currentPageHistory: 1,
            userProjectsManagerCount: 0
        };
    },
    created() {
        this.setHelpId(this.helpTOCId);
        this.getRouteParams();
        this.getUserDetail(this.$route.params.username);
    },
    methods: {
        getRouteParams() {
            this.order = this.$route.query.filter;
            this.type = this.$route.query.type;
        },
        ...mapProjectsActions({
            getUserProjects: types.PROJECTS.GET_USER_PROJECTS,
            getUserProjectsHistory: types.PROJECTS.GET_USER_PROJECTS_HISTORY,
            subscribeProject: types.PROJECTS.SUBSCRIBE_PROJECT,
            unSubscribeProject: types.PROJECTS.UNSUBSCRIBE_PROJECT
        }),
        ...mapFooterMutations({
            setHelpId: types.FOOTER.SET_HELP_ID
        }),
        ...mapUserActions({
            getUserDetail: types.USER.GET_DETAIL
        }),
        getProjects() {
            this.getUserProjects({
                user: this.userDetail.unix_username,
                type: this.type,
                order: this.order,
                status: this.searchTerm,
                start: (this.currentPage - 1) * this.pageSize,
                end: (this.currentPage - 1) * this.pageSize + this.pageSize
            });
        },
        getProjectsHistory() {
            this.getUserProjectsHistory({
                user: this.userDetail.unix_username,
                start: (this.currentPageHistory - 1) * this.pageSize,
                end: (this.currentPageHistory - 1) * this.pageSize + this.pageSize
            });
        },
        unSubscribe(unixName) {
            this.unSubscribeProject({ unixName }).then(this.getProjects);
        },
        subscribe(unixName) {
            this.subscribeProject({ unixName }).then(this.getProjects);
        },
        changeOrder(order) {
            this.order = order;
            this.getProjects();
        },
        changeType(type) {
            this.type = type;
            this.getProjects();
        },
        changeSearch(searchTerm) {
            if (searchTerm.length > 2) {
                this.searchTerm = searchTerm;
                this.getProjects();
            } else if (!searchTerm) {
                this.searchTerm = null;
                this.getProjects();
            }
        },
        changePage(page) {
            this.currentPage = page;
            this.getProjects();
        },
        changePageHistory(page) {
            this.currentPageHistory = page;
            this.getProjectsHistory();
        }
    },
    computed: {
        ...mapUserGetters({
            userDetail: "userDetail"
        }),
        ...mapProjectsGetters({
            userProjects: "userProjects",
            userProjectsCount: "userProjectsCount",
            userProjectsHistory: "userProjectsHistory",
            userProjectsHistoryCount: "userProjectsHistoryCount",
            isLoading: "isLoading"
        })
    },
    watch: {
        userDetail: function(newValue) {
            if (newValue) {
                this.getProjects();
                this.getProjectsHistory();
            }
        },
        userProjects() {
            let counter = 0;
            this.userProjects.forEach(item => item.is_manager && counter++)
            this.userProjectsManagerCount = counter;
        }
    }
};
</script>

