@charset "UTF-8";
// Import Compass Core
@import "./compass/css3";
@import "./compass/utilities";
// Import Ink Variables
@import "./config/classnames";
@import "./config/colors";
@import "./config/common";
@import "./config/typography";
// Shorthands
.fw-100,
.fw-light {
    font-weight: 100;
}

.fw-300,
.fw-thin {
    font-weight: 300;
}

.fw-400,
.fw-regular {
    font-weight: 400;
}

.fw-500,
.fw-medium {
    font-weight: 500;
}

.fw-700,
.fw-bold {
    font-weight: 700;
}

.fw-900,
.fw-black {
    font-weight: 900;
}

.condensed-300,
.condensed-thin {
    font-weight: 300;
    font-family: $condensed-font-stack;
}

.condensed-400,
.condensed-regular {
    font-weight: 400;
    font-family: $condensed-font-stack;
}

.condensed-700,
.condensed-bold {
    font-weight: 700;
    font-family: $condensed-font-stack;
}

.slab-100,
.slab-light {
    font-weight: 100;
    font-family: $slab-font-stack;
}

.slab-300,
.slab-thin {
    font-weight: 300;
    font-family: $slab-font-stack;
}

.slab-400,
.slab-regular {
    font-weight: 400;
    font-family: $slab-font-stack;
}

.slab-700,
.slab-bold {
    font-weight: 700;
    font-family: $slab-font-stack;
}

.sans {
    font-family: $sans-serif-font-stack;
}

.serif {
    font-family: $serif-font-stack;
}

.monospace {
    font-family: $mono-font-stack;
}

.condensed {
    font-family: $condensed-font-stack;
}

.slab {
    font-family: $slab-font-stack;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.normal {
    text-transform: none;
}

.small {
    font-size: .65em;
}

.medium {
    font-size: .85em;
}

.large {
    font-size: 1.2em;
}

.extralarge {
    font-size: 1.45em !important;
}

// Animations
@keyframes newCardEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes newCardEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes newCardEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Custom Variables
$site-width: 1440px;
$nav-background: #e6e6e6;
$sidebar-background: #2f2f2f;
$sidebar-width: 3.5em;
$body-background: #f0f0f0;
$card-name-text: #7b7e79;
$staging-box: $grey-10;
$staging-box-add: rgba($green, .14);
$staging-box-edit: #F9F9CE;
$staging-box-remove: rgba($red, .14);
.ink-grid {
    width: auto;
    max-width: 100%; // margin: 0 auto;
}

html,
body {
    height: 100%;
    background: $body-background;
}

.add-link {
    @extend .unstyled;
    &:hover,
    &:focus {
        text-decoration: underline;
        .fa {
            text-decoration: none;
        }
    }
    .fa {
        color: $green;
    }
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0;
    overflow: auto;
}

.content {
    margin-top: 5em;
}

.push {
    height: 80px;
    margin-top: 0;
}

footer {
    /*height: 80px;*/
    margin-top: 0;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

#mainContent.main.content-drawer {
    margin-top: 2.8em;
}

.ink-grid.main {
    margin-top: 4em;
}

.ink-shade {
    z-index: 99999999 !important;
}

a {
    @include transition(all 120ms ease-in-out);
    &.text-color {
        color: $text-color;
        &:hover {}
    }
    &.red {
        color: $red;
    }
}

ul {
    li:last-child {
        margin-bottom: 0;
    }
}

.note {
    @extend .fw-300;
    font-size: .889em;
}

.fillet {
    position: relative;
    padding-bottom: .5em;
    margin-bottom: .5em !important;
    border-bottom: 1px solid lighten($card-name-text, 40%);
}

.pin-proj,
.notif-btn,
.sub-list {
    font-size: .778rem;
    padding: 6px 12px;
    .fa {
        margin-left: .4em;
    }
}

hr {
    color: lighten($card-name-text, 40%);
}

.section-title {
    //@extend .slab-400;
    //@extend .uppercase;
    //line-height: 1.6;
    @extend .fillet;
    position: relative;
    .ink-button {
        right: 0;
        bottom: 10px;
        position: absolute;
    }
}

.staging {
    background: $grey-10;
    .fillet {
        border-bottom: 1px solid darken(lighten($card-name-text, 40%), 8%);
    }
    &.remove {
        background: $staging-box-remove;
        .fillet {
            border-bottom: 1px solid lighten($card-name-text, 10%);
        }
        .card {
            border: 1px solid darken(#E4E7E4, 10%);
            border-bottom: 1px solid darken(#D3D3D3, 10%);
        }
    }
    &.edit {
        background: $staging-box-edit;
        .fillet {
            border-bottom: 1px solid lighten($card-name-text, 20%);
        }
    }
    &.add {
        background: $staging-box-add;
        .fillet {
            border-bottom: 1px solid lighten($card-name-text, 20%);
        }
    }
}

.no-data {
    font-size: .9em;
    @extend .italic;
    @extend .fw-300;
    color: lighten($text-color, 20%);
}

.separator {
    width: 4px;
    height: 4px;
    display: inline-block;
    margin: 0 .4em 2px;
    background: $grey-40;
    border-radius: 50%;
}

.parenthesis {
    &:after {
        content: ")";
    }
    &:before {
        content: "(";
    }
}

textarea {
    line-height: 1.4;
}

.vcard {
    ul.mail-profile,
    ul.tel-profile,
    ul.loc-profile,
    ul.web-profile {
        margin: .75em 0;
        li {
            .fa {
                margin-right: 6px;
            }
            .fa-external {
                margin-left: .4em;
            }
        }
        &+hr {
            margin: 0;
        }
    }
    .email {
        @extend .monospace;
        a {
            color: $green;
        }
    }
    .im {
        @extend .monospace;
        .mail {
            color: $green;
        }
    }
    .profile-link {
        background-color: #69c;
        border-radius: .4em;
        color: #fff;
        font-size: .6em;
        padding: 0 .4em;
    }
    .tel {
        @extend .fw-300;
        .prefix {
            font-size: .8em;
        }
    }
    .user-avatar {
        margin-bottom: .5em;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            background: $white;
        }
        .inactive {
            @extend .inactive-badge;
        }
    }
    h1,
    h2 {
        margin-bottom: 0;
    }
    .ink-button {
        margin: 0 0 .5em 0;
    }
    .download.ink-button {
        margin: 1em 0; //    padding: 6px 12px;
        //    @extend .fw-300;
        //    font-size: .778rem;
        //    .fa {
        //        font-size: initial;
        //        margin-right: .3em;
        //    }
    }
}

button {
    outline: none;
    @include transition(all 120ms ease-in-out);
    &.unstyled {
        border: none;
        outline: none;
        background: none;
    }
    &.link {
        margin: 0;
        padding: 0;
        @extend .unstyled;
        color: $link-color;
        &:hover {
            color: $link-hover-color;
            text-decoration: underline;
        }
    }
}

.big-search {
    padding-top: 1em;
    input[type=search] {
        border: 1px solid #E4E7E4;
        padding-left: 12px;
        &:focus {
            border: 1px solid darken(#E4E7E4, 10%);
            &+a {
                color: darken(#E4E7E4, 40%);
            }
        }
        &+a {
            color: #D3D3D3;
            position: absolute;
            right: 1em;
            top: .8em;
            &:hover {
                text-decoration: none;
                color: darken(#E4E7E4, 40%);
            }
        }
    }
}

.view-all {
    @extend .fw-300;
    @extend .medium;
    margin-top: .36em;
}

// TOAST NOTIFICATIONS
#toastPanel {
    z-index: 999999999;
    position: fixed;
    left: 0px;
    top: 3em;
    right: 0px;
    width: 100%;
    .ink-alert {
        width: 40%;
        opacity: .96;
        margin-left: auto;
        margin-right: auto;
        @include box-shadow(0 0px 12px 0 rgba(0, 0, 0, .2));
        &.basic {
            background: #FEE6BF;
            &.info {
                background: #C2DCF5;
            }
            &.success {
                background: #D1E5C4;
            }
            &.error {
                background: #F1C3C3;
            }
        }
    }
}

// PANELS
.panel {
    position: relative;
    background: $grey-10;
    @include border-radius($border-radius);
    @include transition(all 120ms ease-in-out);
    &:hover,
    &:focus {
        // background: $grey-15;
    }
    button {
        &.remove {
            position: absolute;
            top: 1.5em;
            right: 1em;
        }
    }
}

.ellipsis {
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    &.w90 {
        max-width: 90%;
    }
    &.w85 {
        max-width: 85%;
    }
    &.w80 {
        max-width: 80%;
    }
}

.card {
    background: #fff;
    border: 1px solid #E4E7E4;
    border-bottom: 1px solid #D3D3D3;
    padding: 1em;
    @extend .fw-300;
    @include border-radius($border-radius);
    header {
        overflow: hidden;
        position: relative;
        height: 57px;
        h1 {
            margin: .24em 0;
            font-size: 1.438em;
            @extend .fw-300;
            text-transform: uppercase;
        }
    }
    a.more {
        display: block;
        @extend .medium;
        text-align: center;
        background: $grey-10;
        padding: .5em 1.5em;
        text-transform: uppercase;
        color: #555;
        &:hover {
            text-decoration: none;
            background: $grey-15;
        }
    }
    ul {
        &.event-list {
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: .8em 0;
                position: relative;
                border-top: 1px solid $grey-5;
                .title {
                    @extend .slab-400;
                }
                .desc {
                    margin: .4em 0 0 0;
                    font-size: .889em;
                }
            }
        }
    }
    &.tickets {
        .ticket {
            color: $grey-50;
            @extend .medium;
            @extend .italic;
            @extend .parenthesis;
        }
        .detail {
            font-size: .889em;
            margin: .4em 0 0;
            a {
                color: $grey-60;
            }
            .fa {
                margin-right: .4em;
            }
        }
    }
    &.tasks {
        .detail {
            font-size: .889em;
            margin: .4em 0 0;
            a {
                color: $grey-60;
            }
            .fa {
                margin-right: .4em;
            }
        }
    }
    &.activity {
        .timestamp {
            margin-top: .2em;
            @extend .italic;
            color: $grey-60;
        }
    }
    &.skills {
        .member {
            float: left;
            margin: .4em 5.5em .4em 0;
            img {
                width: 48px;
                float: left;
                margin-right: 0.5em;
                background: $grey-10;
            }
        }
        .button-group {
            margin-right: 40px;
            float: right;
            display: inline-block;
            .ink-button {
                margin: 0;
                @extend .medium;
                &.skill {
                    @extend .slab-400;
                    background: transparent;
                    &:hover,
                    &:focus {
                        @include box-shadow(none);
                    }
                }
            }
        }
        .dismiss {
            position: absolute;
            right: 0;
            top: 1.8em;
            .fa-times-circle {
                color: $grey-40;
                font-size: 20px;
                &:hover,
                &:focus {
                    color: $grey-60;
                }
            }
        }
        .endorse {
            position: absolute;
            top: 1.4em;
            right: 2.5em;
        }
    }
    &.news {
        article {
            border-top: 1px solid $grey-5;
            .title {
                @extend .slab-400;
                margin-bottom: .3em;
            }
            .detail {
                font-size: .889em;
                @extend .fw-300;
                @extend .medium;
                color: $grey-50;
            }
            .h_iframe {
                position: relative;
            }
            .h_iframe .ratio {
                display: block;
                width: 100%;
                height: auto;
            }
            .h_iframe iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    &.links {
        .link-group {
            border-top: 1px solid $grey-5;
            .title {
                margin: 1em 0 .5em;
                @extend .fw-400;
                @extend .uppercase;
            }
            ul.link-list {
                li {
                    .fa-angle-right {
                        color: $grey-40;
                        margin-left: .4em;
                    }
                    &:last-child {
                        margin: .5em 0;
                    }
                }
            }
        }
    }
    &.disable-events {
        pointer-events: none;
        opacity: 0.25;
        .progress-indicator {
            display: block;
        }
    }
    .progress-indicator {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -1em;
    }
}

// PINK AUTOCOMPLETE
.pink-auto-complete-options {
    a {
        text-decoration: none;
        &:hover,
        &:focus {
            background: #f0f0f0;
        }
        p.member {
            margin: 0;
            line-height: 1.4;
            .name {
                display: block;
            }
            .role {
                @extend .italic;
                color: $grey-40;
                font-size: .913em;
            }
        }
    }
    li.active a {
        background: #f0f0f0;
        text-decoration: none ! important;
    }
}

.context-menu {
    padding-top: 0.4em;
    border-bottom: 1px solid $grey-20;
    span.ink-button {
        @include box-shadow(none);
        background: transparent;
        cursor: default;
    }
    .pin-proj {
        margin: -3px 0 0px 4px;
    }
    &.ink-navigation {
        .title {
            h1 {
                display: inline-block;
                margin: 0;
            }
            h4 {
                display: inline-block;
                margin: 0;
                @extend .uppercase;
            }
            h1+h4 {
                margin-left: 0.4em;
            }
        }
        ul.menu {
            text-align: center;
            >li {
                display: inline-block;
                float: none;
                &.active {
                    border-bottom: 4px solid $grey-20;
                    a {
                        text-decoration: none;
                        color: $text-color;
                        @extend .fw-400;
                    }
                }
                a {
                    text-decoration: none;
                }
            }
        }
        &.inactive {
            background-color: rgba(33, 33, 33, .6);
            color: #fff;
            a,
            .menu .active a {
                color: #fff;
            }
        }
    }
    &.profile {
        background: #B9D198;
        border-bottom: 1px solid $grey-30;
        ul.menu>li.active {
            border-bottom: 4px solid $grey-40;
        }
    }
}

// USER
.user {
    &.tickets.ink-grid,
    &.history.ink-grid,
    &.general.ink-grid,
    &.projects.ink-grid,
    &.preferences.ink-grid {
        max-width: $site-width;
    }
    &.general {
        .skill {
            padding: .5em 0;
            border-bottom: 1px solid $grey-10;
            .skill-container {
                margin-right: 1em;
                .skill-pill {
                    height: 36px;
                    display: table;
                    padding: 0 .6em 0 0;
                    background: $grey-10;
                    display: inline-block;
                    border-radius: $border-radius;
                }
                .count {
                    height: 36px;
                    @extend .fw-400;
                    padding: .4em .6em;
                    background: $grey-20;
                    display: inline-block;
                    @include border-left-radius($border-radius);
                }
                .action {
                    color: rgba($blue, .8);
                    &:hover,
                    &:focus {
                        color: $blue;
                    }
                }
                .name {
                    height: 36px;
                    @extend .slab;
                    padding: .4em;
                    display: inline-block;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .endorsers-container {
                overflow: hidden;
                .endorsers {
                    margin: 0;
                    padding: 0;
                    font-size: 0;
                    white-space: nowrap;
                    list-style-type: none;
                    li {
                        margin: 4px 2px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    &.mailing-lists.ink-grid {
        max-width: $site-width;
        ul.lists {
            li {
                margin-bottom: 1.5em;
                padding-bottom: 1.5em;
                border-bottom: 1px solid #E1E2E1;
            }
        }
        [class^=list-] {
            margin: 0 0 .2em 0;
            font-weight: 300;
        }
        .list-name {
            font-weight: 500;
            font-size: 1.2em;
            @extend .uppercase;
        }
        .list-address {}
        .list-description {
            color: lighten(#555, 25%);
        }
        .list-actions {}
        .pagination {
            display: inline-block;
        }
    }
    &.projects.ink-grid {
        .pagination {
            display: inline-block;
        }
    }
    &.preferences.ink-grid {
        .remove {
            top: 1em;
            color: $red;
            @extend .medium;
        }
        .pagination {
            display: inline-block;
        }
    }
    .ink-form {
        .user-avatar {
            button {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .panel {
            padding: .1em .4em;
            button {
                color: $grey-40;
                &:hover,
                &:focus {
                    color: $grey-60;
                }
            }
        }
    }
}

.preferences {
    .preferences-config-panel {
        position: fixed;
        width: 16em;
        .menu {
            li {
                &.active {
                    a {
                        text-decoration: none;
                        color: $text-color;
                        @extend .fw-400;
                        &:after {
                            position: absolute;
                            right: 0;
                            content: "\f054";
                            width: auto;
                            margin-top: .1em;
                            font-family: FontAwesome;
                        }
                    }
                }
            }
        }
        .pagination {
            display: inline-block;
        }
    }
    .preferences-config {
        margin-left: 16em;
    }
}

.media-lightbox {
    .ink-modal {
        overflow: visible ! important;
        .modal-body {
            overflow: visible;
            padding: 0px;
        }
    }
}

.media-thumbnail {
    position: relative;
    img {
        border-radius: 25px;
    }
    &.video {
        &::after {
            content: "\f01d";
            font: normal normal normal 14px/1 FontAwesome;
            display: block;
            font-size: 100px;
            position: absolute;
            left: 0px;
            top: 50%;
            width: 100%;
            text-align: center;
            margin-left: 20px;
            margin-top: -50px;
            opacity: 0.7;
            pointer-events: none;
        }
    }
}

// PROJECT
.project {
    &.ink-grid {
        max-width: $site-width;
    }
    .project-avatar {
        background: $grey-10;
        position: relative;
        overflow: hidden;
        .edit-avatar {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .inactive {
            @extend .inactive-badge;
        }
    }
    .project-desc {
        margin: 0;
        @extend .fw-300;
        line-height: 1.4;
    }
    .contacts {
        @extend .fw-300;
        .name {
            @extend .slab-400;
        }
        .role {
            @extend .italic;
            @extend .fw-100;
            @extend .small;
            color: $grey-60;
            margin-bottom: .26em;
        }
        .mail {
            @extend .fw-300;
            @extend .medium;
            @extend .monospace;
            color: $green;
        }
        .mailing-list {
            margin: 0;
            padding: .2em .6em;
            @extend .panel;
        }
        .avatar {
            width: 64px;
            margin-right: .6em;
            background: $white;
        }
    }
    .links {
        .ii {
            font-size: 22px;
        }
    }
    .activity {
        li {
            //margin-bottom: 1em;
            @extend .fw-300;
            .timestamp {
                @extend .italic; //@extend .fw-100;
                //@extend .medium;
                color: $grey-40;
            }
            .title {
                //display: block;
                @extend .slab-400;
                margin-bottom: .2em;
            }
            .desc {
                margin-bottom: 0;
                font-size: .9em;
            }
        }
    }
    &.ink-form {
        .panel {
            @extend .panel;
            padding: .1em .4em;
            button {
                color: $grey-40;
                &:hover,
                &:focus {
                    color: $grey-60;
                }
            }
        }
        .media {
            position: relative;
            padding-bottom: 2em;
            button {
                //display: none;
                position: absolute;
                top: -14px;
                right: -15px;
                color: $grey-40;
                .fa-times-circle {
                    background: $white;
                    border-radius: 50%;
                }
                &:hover,
                &:focus {
                    color: $grey-60;
                }
            }
        }
    }
    .mailing-lists {
        p {
            margin-bottom: 0;
        }
        .name {}
        .email {}
        .action {
            &.subscribe {}
            &.unsubscribe {}
            &.cancel {}
        }
    }
}

.metrics {
    h4 {
        margin-bottom: .3em;
    }
    .metric {
        &+.metric {
            margin-top: 1.5em;
        }
        &.totals {
            margin-top: 0;
        }
    }
    .label {
        display: block;
        @extend .condensed-300;
        @extend .uppercase;
    }
    .value {
        display: block;
        @extend .fw-700;
        @extend .uppercase;
    }
    .row {
        border-bottom: 1px solid #e1e2e1;
        margin-bottom: .7em;
        padding-bottom: .4em;
    }
    .bar-wrapper {
        .bar {
            height: 2em;
            line-height: 2;
            display: inline-block; // max-width: calc(100% - 3em);
            color: #fff;
            font-size: 1.2em;
            text-align: right;
            min-width: 2.5em;
            max-width: 100%;
            &.green {
                background: #68B983;
                @include box-shadow(1px 1px 0 0 darken(#68B983, 15%));
            }
            &.orange {
                background: #DAAB46;
                @include box-shadow(1px 1px 0 0 darken(#DAAB46, 15%));
            }
            &.red {
                background: #DA4646;
                @include box-shadow(1px 1px 0 0 darken(#DA4646, 15%));
            }
            .value {
                margin-right: .5em;
            }
        }
    }
}

// TICKETS
.tickets {
    &.ink-grid {
        max-width: $site-width;
    }
    .create-action .ink-button {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ink-table {
        @include border-radius(2px);
        @extend .fw-300;
        border: 1px solid $grey-15;
        thead {
            tr {
                background: $grey-10;
                th {
                    padding: 10px 10px;
                    @extend .fw-500; //text-align: left;
                    border-bottom: 1px solid $grey-15;
                    &:first-child {
                        border-top-left-radius: 2px;
                    }
                    &:last-child {
                        border-top-right-radius: 2px;
                    }
                    button {
                        white-space: nowrap;
                    }
                }
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid $grey-5;
                td {
                    padding: 10px 10px;
                    border-bottom: none;
                    .title {
                        display: block;
                        margin-bottom: .2em;
                        @extend .medium;
                        &:visited {
                            color: $link-visited-color;
                        }
                    }
                    .note {
                        @extend .medium;
                        color: $grey-40;
                        margin: 0;
                    }
                    .role {
                        margin: 0;
                        font-size: .889em;
                        a {
                            display: block;
                        }
                        .truncate-h {
                            width: 150px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        span {
                            @extend .italic;
                            @extend .medium;
                            color: $grey-40;
                        }
                    }
                    &.high {
                        color: $red;
                    }
                }
                &:nth-child(odd) {
                    background: #FCFCFC;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    .button-toolbar {
        .button-group {
            &>.ink-button {
                margin: 0;
                max-width: 15em;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .ink-navigation {
        .menu {
            li {
                &.active {
                    a {
                        text-decoration: none;
                        color: $text-color;
                        &:after {
                            position: absolute;
                            right: 0;
                            content: "\f054";
                            width: auto;
                            margin-top: .1em;
                            font-family: FontAwesome;
                        }
                    }
                }
            }
        }
        .pagination {
            display: inline-block;
        }
    }
}

// RESOURCES
.resources {
    &.ink-grid {
        max-width: $site-width;
        .pagination {
            display: inline-block;
        }
    }
    .resource-config {
        margin-left: 16em;
        &>[class*=all-]:first-child {
            padding-left: 0;
        }
    }
    .create-action .ink-button {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .resource-config-panel {
        position: fixed;
        width: 16em;
        .menu {
            li {
                &.active {
                    a {
                        text-decoration: none;
                        color: $text-color;
                        @extend .fw-400;
                        &:after {
                            position: absolute;
                            right: 0;
                            content: "\f054";
                            width: auto;
                            margin-top: .1em;
                            font-family: FontAwesome;
                        }
                    }
                }
            }
        }
        .pagination {
            display: inline-block;
        }
    }
    .card {
        position: relative;
        .me {
            position: absolute;
            top: 1em;
            right: 1em;
        }
        button {
            &.cancel {
                position: absolute;
                top: .6em;
                right: 1em;
                color: $grey-50;
            }
            &.users {
                position: absolute;
                top: .6em;
                right: 1em;
                padding: 0;
                color: $grey-35;
                &:hover,
                &:focus {
                    color: $grey-60;
                }
            }
            &.config {
                position: absolute; //bottom: .6em;
                top: .6em;
                right: 1em;
                padding: 0;
                color: $grey-60;
                &:hover,
                &:focus {
                    color: $grey-80;
                }
            }
            &.retry {
                position: absolute; //bottom: .6em;
                top: .6em;
                right: 2.5em;
                padding: 0;
                color: $grey-35;
                &:hover,
                &:focus {
                    color: $grey-60;
                }
            }
            &.remove-failed {
                position: absolute; //bottom: .6em;
                top: .6em;
                right: 1em;
                padding: 0;
                color: $grey-35;
                &:hover,
                &:focus {
                    color: $grey-60;
                }
            }
            &.select-role {
                border: none;
                outline: none;
                color: $white;
                margin-top: .6em;
                padding-left: .6em;
                padding-right: .6em;
                background: $grey-35;
                @include border-radius(1em);
                &:hover,
                &:focus {
                    background: $grey-60;
                }
            }
            &.remove {
                padding: 0;
                position: absolute;
                top: .4em;
                right: .6em;
                color: $grey-35;
                &:hover,
                &:focus {
                    color: $grey-60;
                }
            }
        }
        .request {
            button {
                padding: 4px 8px;
                @extend .medium;
            }
        }
        .mail {
            margin-bottom: .2em;
            color: $green;
            display: block;
            @extend .medium;
            @extend .monospace;
        }
        &.resource {
            .icon {
                width: 96px;
                min-height: 96px;
                text-align: center;
                background: $grey-5;
                float: left;
                position: absolute;
                top: 0;
                bottom: 0;
                .fa {
                    font-size: 36px;
                    margin-top: .6em;
                    margin-bottom: .8em;
                }
                .type {
                    display: block; //@extend .fw-300;
                    font-size: .667em;
                    @extend .uppercase;
                    margin-top: -2em;
                }
            }
            .details {
                float: left;
                min-height: 96px;
                padding: .6em 1em .4em calc(96px + .6em);
                width: 100%;
                a,
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 93%;
                    display: block;
                }
            }
            .info {
                margin-bottom: .6em;
                font-size: .778em;
                @extend .italic;
                color: $grey-50;
            }
            &.error-status {
                background: rgba(201, 17, 17, .14);
            }
        }
        &.machine {
            .name {
                margin: 0;
                @extend .large;
                @extend .fw-400;
            }
            .desc {
                font-size: .889em;
                margin-bottom: .4em;
            }
            .ports {
                margin-bottom: .2em;
                @extend .medium;
                .port {
                    @extend .monospace;
                    &:after {
                        content: ";";
                    }
                    &:last-child {
                        &:after {
                            content: "";
                        }
                    }
                }
            }
            .port-edit {
                li {
                    padding: 0 .5em;
                    margin-right: .2em;
                    button {
                        padding: 0;
                        color: $grey-40;
                        &:hover,
                        &:focus {
                            color: $grey-60;
                        }
                    }
                }
            }
            .ink-button.edit {
                @extend .medium;
                margin-top: .6em;
                padding: 4px 8px;
            }
        }
        .no-data {
            @extend .medium;
        }
    }
    .motive {
        margin-bottom: .2em;
    }
    .delay {
        margin: 0;
        @extend .italic;
        @extend .fw-300;
        color: tint($text-color, 20%);
    }
}

// MAILING LISTS
.mailing-lists {
    &.ink-grid {
        max-width: $site-width;
    }
    .ink-navigation {
        .pagination {
            display: inline-block;
        }
    }
    .mail {
        color: $green;
        font-size: .889em;
        @extend .monospace;
    }
    .card {
        .mail {
            margin-bottom: .2em;
        }
        .request {
            button {
                padding: 4px 8px;
                @extend .medium;
            }
        }
    }
    .contacts {
        @extend .fw-300;
        .name {
            @extend .slab-400;
        }
        .role {
            @extend .italic;
            @extend .fw-100;
            @extend .small;
            color: $grey-60;
            margin-bottom: .26em;
        }
        .mail {
            @extend .fw-300;
            @extend .medium;
            @extend .monospace;
            color: $green;
        }
        .mailing-list {
            margin: 0;
            padding: .2em .6em;
            @extend .panel;
        }
        .avatar {
            width: 64px;
            margin-right: .6em;
            background: $white;
        }
    }
}

.vpn,
.project-mailing-lists {
    .contacts {
        @extend .fw-300;
        .name {
            @extend .slab-400;
        }
        .role {
            @extend .italic;
            @extend .fw-100;
            @extend .small;
            color: $grey-60;
            margin-bottom: .26em;
        }
        .mail {
            @extend .fw-300;
            @extend .medium;
            @extend .monospace;
            color: $green;
        }
        .mailing-list {
            margin: 0;
            padding: .2em .6em;
            @extend .panel;
        }
        .avatar {
            width: 64px;
            margin-right: .6em;
            background: $white;
        }
    }
}

// IPS WHITE LIST
.ip-white-lists {
    &.ink-grid {
        max-width: $site-width;
    }
    .ink-navigation {
        .pagination {
            display: inline-block;
        }
    }
}

// TASKBOARDS
// Mixins:
@mixin task-section-header-template {
    header {
        overflow: visible;
        padding-bottom: 1px;
        position: relative;
        .title {
            @extend .slab-400;
            margin: .4em 2em .4em .4em;
        }
        .fa.fa-chevron-down {
            position: absolute;
            top: .8em;
            right: .8em;
        }
        .header-clear-fix {
            clear: both;
            height: 1px;
        }
        .dropdown {
            width: 100%;
            max-width: none;
        }
    }
}

@mixin task-card-base-template {
    padding: 0 .4em .4em .4em; //background: $grey-5;
    //border-radius: $border-radius;
    .label-bar {
        margin-top: 0;
        margin-bottom: 0;
        li {
            margin: 0 0 .16em 0;
            .label {
                height: 8px;
                display: block;
            }
        }
    }
    .desc {
        @extend .fw-300;
        margin: .6em 0 0 0;
        font-size: .889em;
        white-space: normal;
    }
    .details {
        margin: .6em 0 0 0;
        @extend .medium;
        li {
            margin-top: 0;
            margin-bottom: 0;
            &.members {
                padding: 0;
                .avatar {
                    height: 24px;
                    width: 24px;
                    margin: 0 1px;
                }
                .more {
                    height: 24px;
                    padding: 0 .4em;
                    display: inline-block;
                    background: $grey-15;
                }
            }
            &.date {
                &.blue {
                    color: $blue;
                }
                &.green {
                    color: $green;
                }
                &.orange {
                    color: $orange;
                }
                &.red {
                    color: $red;
                }
            }
        }
    }
}

@mixin task-section-base-template {
    background: #fff;
    border: 1px solid #E4E7E4;
    border-bottom: 1px solid #D3D3D3;
    border-radius: $border-radius;
}

@mixin kanban-section-title-template {
    >.pink-title {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 2em;
        margin: 0px;
        text-align: left;
        >.pink-content {
            overflow: visible;
            @include task-section-header-template;
        }
    }
}

@mixin kanban-card-template {
    .pink-card {
        padding: 0px;
        max-width: none;
        background: $grey-5;
        border: 1px solid #E4E7E4;
        border-bottom: 1px solid #D3D3D3;
        border-radius: $border-radius;
        &.task-filtered {
            display: none;
        }
        >.pink-drag-affordance {
            display: none;
        }
        >.pink-title,
        .pink-edit-action {
            display: none;
        }
        >.pink-content {
            margin: 0px;
            width: auto;
            font-size: inherit;
            >.task-card-content {
                @include task-card-base-template;
            }
        }
    }
}

// Rules:
.tasks-kanban-viewport {
    position: absolute;
    left: 0;
    right: 0;
    top: 12em;
    bottom: 4em;
    .scroll {
        border: none;
        position: absolute;
        color: rgba(0, 0, 0, .4);
        top: 50%;
        background: none;
        cursor: pointer;
        z-index: $layer-30;
        &.left {
            left: 1em;
        }
        &.right {
            right: 1em;
        }
        &:hover {
            color: rgba(0, 0, 0, .6);
        }
    }
}

.pink-draggable-proxy {
    padding: 0px;
    margin: 0px;
    @include kanban-card-template;
    .pink-section {
        padding-top: 3em;
        @include kanban-section-title-template;
    }
}

.tasks-kanban {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    &.tasks-kanban .pink-kanban>div:last-child {
        margin-right: 400px;
    } // Hack to disable drag&drop on new section panel
    &.tasks-kanban-manager {
        .pink-kanban {
            &.pink-draggable-container {
                >div {
                    &:last-child {
                        cursor: auto;
                        pointer-events: none;
                        input {
                            -ms-user-select: text;
                            -moz-user-select: text;
                            -webkit-user-select: text;
                            user-select: text;
                        }
                        input,
                        button {
                            pointer-events: auto;
                        }
                    }
                }
            }
        }
    }
    .pink-kanban {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        padding-left: 2em;
        >.drag-enabled {
            height: 100%;
            overflow-y: hidden;
            overflow-x: hidden; // Hack to hide dragged section
            &.pink-draggable-selected {
                position: absolute;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }
        .pink-section {
            height: 100%;
            overflow-y: hidden;
            overflow-x: hidden;
            position: relative;
            min-height: 8em;
            width: 16em;
            @include task-section-base-template;
            @include kanban-section-title-template;
            @include kanban-card-template;
            >.pink-content {
                position: absolute;
                top: 2.4em;
                left: 0px;
                right: 0px;
                bottom: 2.4em;
                overflow-y: auto;
                overflow-x: hidden;
                margin-left: 0px;
                margin-right: 0px;
            }
            >.pink-footer {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: $grey-5;
                text-align: center;
                padding: .6em 0;
                @include box-shadow(0 -1px 2px rgba(0, 0, 0, .2));
                .new-task {
                    @extend .medium;
                    @extend .fw-300;
                }
            }
            &.tasks-kanban-new-section-panel {
                padding: 0;
                border: none;
                background: none;
                >.pink-title {
                    position: relative;
                    height: auto;
                    border-bottom: 0px;
                }
                >.pink-content,
                .pink-footer {
                    display: none;
                }
            }
        }
        .newtask {
            animation: newCardEffect 2s;
            -moz-animation: newCardEffect 2s;
            -webkit-animation: newCardEffect 2s;
        }
    }
}

.tasks-filters-drawer {
    position: fixed;
    right: -18em;
    width: 18em;
    top: 10em;
    bottom: 0px;
    z-index: $layer-30;
    padding: 1em;
    margin: 1em 0 2em;
    border-right: none;
    background: $grey-10;
    @include border-left-radius(4px);
    @include box-shadow(0 0 6px rgba(0, 0, 0, .4));
    @include transition(right 120ms ease-in-out);
    .fa-search {
        display: none;
    }
    &.open {
        right: 0;
        .filters-trigger {
            .fw-300 {
                display: none;
            }
        }
        .fa-search {
            display: block;
        }
    }
    .filter-list {
        li.ink-button {
            margin: 0 .5em .5em 0;
            background: $grey-10;
            font-size: .913em;
            vertical-align: top;
            .fa {
                margin-left: .4em;
            }
            &.label {
                border: none;
                padding: 4px 8px;
            }
            &.member {
                padding: 2px 8px 2px 2px;
                .fa {
                    color: $grey-60;
                }
            }
        }
    }
    .archive-link {
        a span {
            vertical-align: top;
        }
    }
    .filters-trigger {
        position: absolute;
        top: 1em;
        right: 100%;
        border-radius: 4px 0 0 4px; //@include transition(all 120ms ease-in-out);
        span {
            display: inline;
            @extend .uppercase;
        }
    }
}

.archive-board {
    .task {
        background: #fff;
        border: 1px solid #E4E7E4;
        border-bottom: 1px solid #D3D3D3;
        border-radius: $border-radius;
        padding: 0 .4em .6em .4em;
        .label-bar {
            margin-top: 0;
            margin-bottom: 0;
            li {
                margin: 0 0 .16em 0;
                .label {
                    height: 8px;
                    display: block;
                }
            }
        }
        .desc {
            @extend .fw-300;
            margin: .6em 0 0 0;
            font-size: .889em;
        }
        .details {
            margin: .6em 0 0 0;
            @extend .medium;
            li {
                margin-top: 0;
                margin-bottom: 0;
                &.members {
                    .avatar {
                        height: 24px;
                        width: 24px;
                    }
                    .more {
                        height: 24px;
                        padding: 0 .4em;
                        display: inline-block;
                        background: $grey-15;
                    }
                }
                &.date {
                    &.blue {
                        color: $blue;
                    }
                    &.green {
                        color: $green;
                    }
                    &.orange {
                        color: $orange;
                    }
                    &.red {
                        color: $red;
                    }
                }
            }
        }
    }
    .actions {
        button {
            font-size: .778em;
            &.remove {
                color: $grey-50;
            }
            &.delete {
                color: $red;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// TASKS
.tasks {
    &.ink-grid {
        max-width: $site-width;
    }
    .create-action .ink-button {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .card {
        position: relative;
        .ink-label {
            position: absolute;
            right: 1em;
            bottom: 0;
            @extend .small;
        }
    }
}

// SKILLS
.skills {
    &.ink-grid {
        max-width: $site-width;
    }
    .user-skill-list {
        >li {
            margin: 0;
            padding: .8em 0;
            position: relative;
            border-bottom: 1px solid $grey-10;
            .details {
                margin-left: calc(64px + .6em);
            }
            .title {
                line-height: inherit;
                margin-bottom: .4em;
                .me {
                    @extend .small;
                }
                .name {
                    @extend .slab-400;
                }
                .role {
                    @extend .medium;
                    @extend .italic;
                    margin: 0 .6em;
                    &:before {
                        content: "(";
                    }
                    &:after {
                        content: ")";
                    }
                }
            }
            .skills {
                margin: 0;
                li {
                    display: inline-block;
                    margin: 0 .4em .4em 0;
                    border-bottom: none;
                    .ink-button {
                        @extend .small;
                        padding: 2px 8px;
                    }
                }
            }
        }
    }
    .ink-navigation {
        .pagination {
            display: inline-block;
        }
    }
}

// LISTS
.mail-list {
    li {
        margin: 0;
        padding: .8em 0 .8em .8em;
        position: relative;
        border-bottom: 1px solid $grey-10;
        position: relative;
        &:hover {
            background-color: #fefbd6;
        }
    }
    .mail {
        @extend .monospace;
        color: $green;
    }
    p {
        @extend .fw-300;
        &.no-data {
            font-size: .889em;
            margin-bottom: .4em;
        }
        &.desc {
            font-size: .889em;
            margin-bottom: .4em;
        }
    } // .details {
    //     padding-right: 5em;
    // }
    // .pin {
    //     margin: 0;
    //     position: absolute;
    //     top: .8em;
    //     right: 0;
    // }
    .details {
        img.avatar {
            margin-right: 1em;
        } //margin-left: 8.7em;
    }
    .pin {
        text-align: center;
        display: inline-block;
        min-width: 7.5em; //position: absolute;
        a,
        button {
            transform: translateY(20%);
            width: 100%;
        }
    }
}

.filter-list {
    li {
        @extend .fw-300;
        &.title {
            @extend .fw-400;
            @extend .uppercase;
            font-size: 1.111em;
        }
        &.active {
            @extend .fw-500;
        }
        a {
            text-decoration: none;
        }
    }
}

.skill-list {
    li {
        border-bottom: 1px solid $grey-10;
        margin: 0;
        padding: .8em 0;
        &:first-child {
            padding: 0 0 .8em;
        }
        .title {
            line-height: 2.2;
        }
        .desc {
            font-size: .889em;
            color: $grey-40;
            @extend .italic;
            @extend .fw-300;
        }
    }
}

.project-list,
.project-list-notif {
    li {
        margin: 0;
        padding: .8em 0;
        position: relative;
        border-bottom: 1px solid $grey-10;
        &:first-child {
            padding: 0 0 .8em 0;
            .pin {
                top: 0;
            }
        }
        .details {
            img.avatar {
                margin-right: 1em;
            }
            margin-left: 5.5em;
        }
        .title {
            margin: 0;
            a {
                @extend .slab-400;
            }
        }
        .desc {
            @extend .medium;
            @extend .fw-300;
            margin: .2em 0 .4em;
        }
        .no-data {
            @extend .medium;
            margin: .2em 0 .4em;
        }
        .avatar {
            width: 72px;
            background: $white;
        }
        .pin {
            text-align: center;
            display: inline-block;
            min-width: 4.5em;
            button {
                transform: translateY(70%);
                width: 100%;
            }
        }
        .notif-group {
            margin: 0;
            position: absolute;
            top: .8em;
            right: 0;
        }
    }
}

.project-list-notif {
    li {
        .details {
            padding-right: 15.2831875em; //largura(pt)+margin/font-size: (238.531+6)/16
        }
    }
}

.ip-list {
    li {
        margin: 0;
        padding: .8em 0;
        position: relative;
        border-bottom: 1px solid $grey-10;
        .details {
            padding-right: 5em;
        }
        .actions {
            margin: 0;
            position: absolute;
            top: .8em;
            right: 0;
        }
    }
}

.machine-list {
    li {
        border-bottom: 1px solid $grey-10;
        margin: 0;
        padding: .8em 0;
        .title {
            @extend .large;
            @extend .fw-400;
        }
        .desc {
            font-size: .889em;
            @extend .fw-300;
            @extend .italic;
            margin-left: .4em;
        }
        .ports {
            margin: 0;
            font-size: .889em;
            .port {
                @extend .fw-300;
                @extend .monospace;
                &:after {
                    content: ";";
                }
            }
        }
    }
}

// LABEL box
.label-box {
    width: 300px;
    padding: 1em;
    background: $grey-10;
    border: 1px solid $grey-30;
    @extend .fw-300;
    @include border-radius($border-radius);
    @include box-shadow(0 0 10px 2px rgba(0, 0, 0, .2));
    .color-picker {
        border-bottom: 1px solid $grey-30;
        button {
            height: 36px;
            width: 100%;
            border: none;
            color: $white;
        }
    }
    .submit {
        button {
            margin-right: 1em;
        }
    }
}

// HELP BOX
.help-box {
    background: $grey-10;
}

// EDIT BAR
.edit-bar {
    padding-top: .4em;
    padding-bottom: .4em;
    background: $grey-10;
    overflow-x: auto;
    @include box-shadow(0 1px 0 0 $grey-20);
    button {
        color: $grey-40; //margin-top: .2em;
        &:hover,
        &:focus {
            color: $grey-60;
        }
    }
    h2 {
        white-space: nowrap;
    }
}

// SEARCH
.search {
    .sugestion {
        color: $red;
        @extend .fw-300;
        a {
            @extend .fw-500;
        }
    }
    .results {
        list-style: none;
        >li {
            padding: .6em 0;
            border-bottom: 1px solid $grey-10;
            h2 {
                font-size: 1.222em;
                @extend .slab-300;
                margin-bottom: .4em;
            }
            h3 {
                @extend .italic;
                @extend .fw-100;
                font-size: .875em;
                margin-bottom: .4em;
                a {
                    color: $text-color;
                }
                .person+.employer {
                    &:before {
                        content: " - ";
                    }
                }
                .employer {
                    @extend .fw-400;
                    font-style: initial;
                }
            }
            .avatar {
                position: relative;
                overflow: hidden;
                img {
                    background: $grey-10;
                    text-align: center;
                    .fa {
                        font-size: 2.571em;
                        margin: .5em;
                    }
                }
            }
            .ink-label {
                @extend .sans;
                @extend .small;
                @extend .lowercase;
                margin-right: .4em;
            }
            a {
                &:visited {
                    color: $link-visited-color;
                }
            }
            .detail {
                .desc {
                    font-size: .9em;
                    margin-bottom: .4em;
                }
                .date {
                    font-size: .9em;
                    margin-bottom: .4em;
                }
                .mail {
                    @extend .medium;
                    @extend .monospace;
                    color: $green;
                }
                .date {
                    color: $text-color;
                }
            }
            h2 .inactive {
                color: #888;
                font-size: 0.7em;
                text-transform: uppercase;
            }
            .avatar .inactive {
                @extend .inactive-badge;
            }
        }
        .ink-navigation {
            @extend .medium;
            .menu {
                >li {
                    display: inline;
                    a {
                        display: inline;
                    }
                    &:first-child {
                        a {
                            padding-left: 0;
                        }
                    }
                    &:after {
                        content: '/';
                        display: inline;
                    }
                    &:last-child:after {
                        content: '';
                        display: none;
                    }
                }
            }
            .breadcrumbs {
                @extend .small;
                >li {
                    &:first-child a {
                        padding-left: 0;
                    }
                    &:after {
                        font-family: FontAwesome;
                        content: "\f101";
                    }
                }
            }
        }
    }
}

// MODAL EDIT BAR
#modalEditBar {
    position: fixed;
    left: 0px;
    top: -18em;
    right: 0px;
    height: 7em;
    z-index: $layer-100;
    border-bottom: 1px solid $grey-10;
    background: #fff;
    @include box-shadow(-2px 0 10px 0 rgba(0, 0, 0, .4));
    @include transition(top 0.4s ease-in);
    &.visible {
        top: 0px;
    }
    .proj-name {
        @extend .fw-500;
        @extend .uppercase;
        font-size: 1.444em;
    }
    .info {
        @extend .fw-100;
        @extend .italic;
        color: $grey-40;
        font-size: .667em;
    }
    .actions {
        position: absolute;
        right: 1em;
        bottom: 1em;
    }
}

// MODAL WIDOWS
.media-lightbox {
    .#{$modal-class-name} {
        border-radius: 0;
        background: transparent;
        @include box-shadow(none);
        >.modal-body {
            .ink-image {
                border: none;
                display: inline-block;
                img {
                    max-width: 100%;
                }
                .close {
                    position: absolute;
                    top: 1em;
                    right: 1em;
                    z-index: $layer-100;
                    color: #ffffff;
                    mix-blend-mode: exclusion;
                    opacity: .8;
                    @include transition(all 200ms ease-in-out);
                }
                &:hover {
                    .close {
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.#{$modal-class-name} {
    >.modal-body {
        @extend .fw-300;
        .ink-button {
            margin-right: .6em;
        }
    }
    >.modal-header,
    >header {
        .modal-title {
            @extend .slab-400;
            font-size: 1.44em;
            margin: 0 2em 0 0;
        }
        .modal-subtitle {
            margin: .2em;
            @extend .fw-300;
            @extend .sans;
        }
        .ink-form {
            margin-right: 3em;
        }
        >.modal-close {
            padding: 0;
            text-align: center;
            color: $grey-60;
            width: auto;
            height: auto;
            line-height: normal;
            border: 0;
            background: none;
            font-size: inherit;
            @include border-radius(0);
            @include text-shadow(none); //@include opacity(1);
            &:after {
                content: "";
                font-family: none;
                font-size: normal;
            }
            ;
            &:hover {}
        }
        .ink-button {
            margin-right: .6em;
        }
    }
}

// Taskboard Add task
.add-task {
    .members {
        .list {
            margin: 0;
            padding-left: 0;
            li {
                margin: 0 .4em .4em 0;
                vertical-align: top;
                display: inline-block;
                &.avatar {
                    height: 38px;
                    width: 38px;
                    font-size: 14px;
                    position: relative;
                    img {
                        border-radius: $border-radius;
                        &:hover,
                        &:focus {
                            @include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 1px);
                        }
                    }
                    .remove {
                        display: none;
                    }
                    &:hover,
                    &:focus {
                        .remove {
                            display: block;
                            position: absolute;
                            top: -6px;
                            right: -6px;
                            color: $white;
                            background: $red;
                            border-radius: 50%;
                            padding: 0 .3em;
                            font-size: .85em;
                            @include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 1px);
                        }
                    }
                }
                &.more {
                    .ink-button {
                        height: 38px;
                        width: 38px;
                    }
                }
            }
        }
    }
    .labels {
        ul {
            li.label {
                border: none;
                color: $white;
                font-size: .913em;
                vertical-align: top;
                background: #e6e6e6;
                padding: 3px 8px 4px;
                margin: 0 .5em .5em 0;
            }
        }
    }
}

// Taskboard Edit
.edit-tasks {
    &.archived-task-modal {
        .modal-header {
            background: $grey-10;
        }
    }
    .#{$modal-class-name} {
        >.modal-body {
            .title {
                @extend .fw-400;
            }
            .description {
                .desc {
                    font-size: .913em;
                }
                textarea {
                    resize: vertical;
                }
            }
            .date {
                >.ink-button {
                    @extend .medium;
                    padding: 4px 6px;
                }
            }
            .labels {
                ul {
                    li.label {
                        border: none;
                        color: $white;
                        font-size: .913em;
                        vertical-align: top;
                        background: #e6e6e6;
                        padding: 3px 8px 4px;
                        margin: 0 .5em .5em 0;
                    }
                }
            }
            .members {
                .list {
                    margin: 0;
                    padding-left: 0;
                    li {
                        margin: 0 .4em 0 0;
                        vertical-align: top;
                        display: inline-block;
                        &.avatar {
                            height: 38px;
                            width: 38px;
                            font-size: 14px;
                            position: relative;
                            img {
                                border-radius: $border-radius;
                                &:hover,
                                &:focus {
                                    @include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 1px);
                                }
                            }
                            .remove {
                                display: none;
                            }
                            &:hover,
                            &:focus {
                                .remove {
                                    display: block;
                                    position: absolute;
                                    top: -6px;
                                    right: -6px;
                                    color: $white;
                                    background: $red;
                                    border-radius: 50%;
                                    padding: 0 .3em;
                                    font-size: .85em;
                                    @include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 1px);
                                }
                            }
                        }
                        &.more {
                            .ink-button {
                                height: 38px;
                                width: 38px;
                            }
                        }
                    }
                }
            }
            .activities {
                .comment {
                    @extend .medium;
                    p {
                        &.post {
                            padding: .6em .8em;
                            border-radius: 2px;
                            background: $grey-5;
                            position: relative;
                            margin-bottom: .2em;
                            word-wrap: break-word;
                            &:before {
                                color: $grey-5;
                                font-size: 2em;
                                content: "\f0d9";
                                font-family: FontAwesome;
                                position: absolute;
                                left: -.3em;
                                top: -.4em;
                            }
                        }
                        &.author {
                            @extend .fw-500;
                            margin: -.3em 0 .2em;
                        }
                        .delete {
                            color: $red;
                        }
                    }
                }
                .activity {
                    @extend .medium;
                    p {
                        margin: 0;
                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
            .actions {
                .ink-button {
                    margin: .4em 0;
                }
                .delete {
                    margin: 0;
                    padding: 0;
                    color: $red;
                    @extend .medium;
                    &:hover {
                        color: darken($red, 6%);
                        text-decoration: underline;
                    }
                }
            }
            .panel {
                padding: .1em .4em;
            }
        }
    }
}

.select-panel {
    background: $grey-5;
    border: 1px solid $grey-15;
    padding: .4em;
    .header {
        .title {
            @extend .medium;
            @extend .fw-300;
            margin: .3em 0;
        }
        .close {
            padding: 0;
            @extend .small;
            color: $grey-60;
        }
    }
}

#new-labels-box {
    .label-box {
        width: 100%;
    }
}

// FOOTER
footer {
    position: relative;
    background: $grey-10;
    .trigger {
        border: none;
        outline: 0;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        color: $grey-80;
        background: $grey-10;
        top: -1.4em;
        position: absolute;
        @include transition(all 150ms ease-in-out);
        &:hover,
        &:focus {
            color: $black;
            background: darken($grey-10, 3%);
        }
    }
    &.footer-collapsed {
        height: 1em;
    }
    &.footer-pinned {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    .help {
        background: $grey-60;
    }
    .utils {
        background: $grey-80;
    }
    .utils,
    .help {
        color: #f0f0f0;
        ul {
            @extend .fw-100;
            list-style-type: square;
        }
        a {
            color: #f0f0f0;
            &:hover,
            &:focus {
                color: $white;
            }
            &.view-all {
                @extend .fw-300;
                @extend .medium;
                vertical-align: -10%;
            }
        }
    }
}

// HELP
.context-help {
    li {
        margin: .4em 0;
        width: 25%;
        float: left;
    }
}

.help-center {
    &.ink-grid {
        max-width: $site-width;
    }
    .faq {
        background: $white;
        border-radius: $border-radius;
        ul {
            li {
                margin: .4em 0;
                width: 50%;
                float: left;
            }
        }
        .desc {
            margin: 0;
            @extend .fw-300;
            font-size: .889em;
        }
    }
}

.help-detail {
    .nav {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                a {
                    color: $text-color;
                    @extend .uppercase;
                    &.active {
                        @extend .fw-500;
                    }
                }
                >ul {
                    //margin-top: 1em;
                    padding-left: 20px;
                    border-left: 3px solid $grey-40;
                    li {
                        a {
                            @extend .sans;
                            @extend .fw-300;
                            @extend .normal;
                            &.active {
                                @extend .fw-500;
                            }
                        }
                        >ul {
                            padding-left: 20px;
                            border-left: none;
                            list-style-type: square;
                            li {
                                a {
                                    font-size: .889em;
                                    @extend .normal;
                                    color: $link-color;
                                    &.active {
                                        @extend .fw-400;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .trac-container {
        height: 100vh; //    position: absolute;
        //    left: 25%;
        //    top: 8.5em;
        //    bottom: 7em;
        //    right: 2em;
    }
}

// External Access
.external-access-details {
    .fa-chevron-right {
        display: inline;
    }
    .fa-chevron-down {
        display: none;
    }
}

.external-access-details.active {
    .fa-chevron-right {
        display: none;
    }
    .fa-chevron-down {
        display: inline;
    }
}

// Ink Fixes
.ink-form {
    .ink-button {
        margin: 0;
    }
    .custom-select {
        position: relative; //display: inline-block;
        select {
            @include experimental(appearance, none, -moz, -webkit, not -o, -ms, not -khtml, official);
            line-height: 1.4;
            padding-right: 2.2em;
            width: 100%;
            &:after {
                content: ">";
                @include experimental(transform, rotate(90deg), -moz, -webkit, not -o, -ms, not -khtml, official);
            }
        }
        &:after {
            content: "\f0d7";
            position: absolute;
            top: .28em;
            right: .8em;
            font-family: FontAwesome;
        }
    }
    select {
        height: 2.42em;
    }
    fieldset {
        &.advanced {
            padding: 1.5em;
            background: rgba(0, 0, 0, 0.1);
        }
    }
    ul.control li span.ui-tip {
        margin: .25em 0 .25em .4em;
        line-height: 1.3;
    }
    p.tip {
        // Hack to prevent knockout validation using 'display: none'
        display: inline ! important;
    }
}

.ui-tip {
    &:hover {
        cursor: help;
    }
}

.social-feed {
    .github {
        @extend .panel;
        p.desc {
            @extend .fw-300;
            font-size: .889em;
            margin: .2em 0 0 0;
        }
    }
    .twitter {
        @extend .fw-300;
        @extend .panel;
        display: block;
        &:hover {
            text-decoration: none;
        }
        .timestamp {
            color: $grey-60;
            @extend .italic;
            @extend .medium;
            margin-top: .2em;
        }
    }
    .dribble {
        figure.ink-image {
            a {
                display: block;
            }
            img {
                width: 100%;
            }
            >figcaption.dark {
                @extend .fw-300;
                font-size: .889em;
                padding: .6em 1em;
            }
        }
    }
}

#intraPaginatorShim {
    height: 3em;
    width: 1em;
}

#intraPaginator {
    position: fixed;
    bottom: 3em;
    width: 100%;
    pointer-events: none;
    nav {
        opacity: 0.5;
        li {
            pointer-events: auto;
            &.pagination-dots {
                div {
                    padding: 0.5em 1em;
                    float: left;
                }
            }
        }
        &:hover {
            opacity: 1;
        }
    }
}

.labeled-combo {
    position: relative;
    overflow: visible;
    clear: both;
    ul {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: white;
        border-left: 1px solid lightgray;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
        li {
            a {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.resource-member-picker {
    .ink-button {
        display: none;
    }
}

.overflow-visible {
    overflow: visible;
}

.intra-filter-picker {
    .pink-auto-complete.control-group .ink-button {
        display: none;
    }
    .selected-filter-tab {
        line-height: 2.4em;
        height: 2.4em;
        padding-left: 0.4em;
        margin-right: 1em;
        background-color: #D0D0D0;
        .avatar {
            height: 24px;
            width: 24px;
            vertical-align: middle;
        }
    }
    .pink-auto-complete-options {
        .avatar {
            height: 48px;
            width: 48px;
            vertical-align: middle;
        }
    }
}

#standbyLightBox {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    opacity: 0.5;
    background-color: white;
    z-index: 9999999999;
    display: none;
    transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    &.visible {
        display: block;
    }
    >.lightbox-container {
        position: absolute;
        width: 4em;
        height: 4em;
        left: 50%;
        top: 50%;
        margin-left: -2em;
        margin-top: -2em;
    }
}

#stagingModeHintPanel {
    display: none;
}

html.staging-mode #stagingModeHintPanel {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    color: red;
    z-index: 9999999;
    font-size: x-small;
}

.picker-button.active {
    display: none;
}

// MEDIA QUERIES
// xlarge
@media screen and (min-width: 1281px) {}

@media screen and (max-width: 1200px) {
    .resources {
        margin-top: 4em;
    }
    #modalEditBar {
        height: auto;
        .resource-info {
            position: static;
            display: block;
            float: none;
            span.module-name {
                display: block;
            }
        }
        .actions {
            @extend .resource-info;
            margin-top: .7em;
            text-align: right;
        }
    }
}

// large
@media screen and (min-width: 961px) and (max-width: 1280px) {}

// medium
@media screen and (min-width: 681px) and (max-width: 960px) {
    #toastPanel {
        .ink-alert {
            width: 70%;
        }
    }
    .project-list-notif {
        li {
            .details {
                padding-right: 0;
            }
            .pin,
            .notif-group {
                position: initial;
                margin-left: calc(72px + 1em);
            }
        }
    }
}

// small
@media screen and (min-width: 381px) and (max-width: 680px) {
    .context-menu {
        &.ink-grid {
            padding: 0.5em 0 0 0;
        }
        &.ink-navigation {
            width: 100%;
            position: relative;
            .title {
                margin: 0 .6em 0 1.25em;
            }
            ul.menu {
                font-size: 0;
                text-align: left;
                white-space: nowrap;
                overflow-x: scroll;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                @include transition(all .5s ease-in-out);
                >li {
                    display: inline-block;
                    float: none;
                    a {
                        font-size: initial;
                    }
                    &.proj-name {
                        font-size: initial;
                        vertical-align: -15%;
                        margin: 0 .6em 0 1.25em;
                        h1 {
                            font-size: 2em;
                            margin: -.16em 0 0 0;
                        }
                        h4 {
                            margin: 0;
                            text-align: left;
                            font-size: .889em;
                        }
                    }
                    &.button-group {
                        margin: 0 1.25em;
                        font-size: initial;
                        vertical-align: -50%;
                    }
                    .ink-button {
                        margin: 0 1.25em;
                        font-size: initial;
                        vertical-align: 10%;
                    }
                }
            }
        }
    }
    #toastPanel {
        .ink-alert {
            width: 80%;
        }
    }
    .context-help {
        li {
            width: 100%;
            float: none;
        }
    }
    .help-center {
        .faq {
            ul {
                li {
                    width: 100%;
                    float: none;
                }
            }
        }
    }
    .project-list-notif {
        li {
            .details {
                padding-right: 0;
            }
            .pin,
            .notif-group {
                position: initial;
                margin-left: calc(72px + 1em);
            }
        }
    }
    .resources .create-action .ink-button,
    .tasks .create-action .ink-button,
    .tickets .create-action .ink-button {
        width: 100%;
    }
    .resources {
        .resource-config-panel {
            position: inherit;
            width: 100%;
        }
        .resource-config {
            margin-left: 0;
        }
    }
    .preferences {
        .preferences-config-panel {
            position: inherit;
            width: 100%;
        }
        .preferences-config {
            margin-left: 0;
        }
    }
    .vcard {
        margin-left: 1.25em;
        padding-left: 1.25em;
        .name,
        .profile-link {
            display: inline-block;
        }
    }
}

// tiny
@media screen and (max-width: 380px) {
    .context-menu {
        &.ink-grid {
            padding: 0.5em 0 0 0;
        }
        &.ink-navigation {
            width: 100%;
            position: relative;
            .title {
                margin: 0 .6em 0 1em;
            }
            ul.menu {
                font-size: 0;
                text-align: left;
                white-space: nowrap;
                overflow-x: scroll;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                @include transition(all .5s ease-in-out);
                >li {
                    display: inline-block;
                    float: none;
                    a {
                        font-size: initial;
                    }
                    &.proj-name {
                        font-size: initial;
                        vertical-align: -15%;
                        margin: 0 .6em 0 1em;
                        h1 {
                            font-size: 2em;
                            margin: -.16em 0 0 0;
                        }
                        h4 {
                            margin: 0;
                            text-align: left;
                            font-size: .889em;
                        }
                    }
                    &.button-group {
                        margin: 0 1em;
                        font-size: initial;
                        vertical-align: -50%;
                    }
                    .ink-button {
                        margin: 0 1em;
                        font-size: initial;
                        vertical-align: 10%;
                    }
                }
            }
        }
    }
    .card {
        &.skills {
            .member {
                float: none;
            }
            .button-group {
                float: none;
            }
        }
    }
    .project-list li,
    .project-list-notif li {
        .details {
            margin-left: 0;
        }
    }
    .project-list-notif li {
        .details {
            padding-right: 0;
        }
        .pin,
        .notif-group {
            position: initial;
        }
    }
    #toastPanel {
        .ink-alert {
            width: 90%;
        }
    }
    .context-help {
        li {
            width: 100%;
            float: none;
        }
    }
    .help-center {
        .faq {
            ul {
                li {
                    width: 100%;
                    float: none;
                }
            }
        }
    }
    .resources .create-action .ink-button,
    .tasks .create-action .ink-button,
    .tickets .create-action .ink-button {
        width: 100%;
    }
    .resources {
        .resource-config-panel {
            position: inherit;
            width: 100%;
        }
        .resource-config {
            margin-left: 0;
        }
    }
    .preferences {
        .preferences-config-panel {
            position: inherit;
            width: 100%;
        }
        .preferences-config {
            margin-left: 0;
        }
    }
    .vcard {
        margin-left: 1.25em;
        padding-left: 1.25em;
        .name,
        .profile-link {
            display: inline-block;
        }
    }
}

// Extend blocks
.inactive-badge {
    position: absolute;
    top: 1em;
    right: -2em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    font-size: 0.8em;
    text-align: center;
    padding: 0.1em 2em;
    background-color: rgba(33, 33, 33, 0.6);
    color: #fff;
}

.holidays .accordion li {
    cursor: pointer;
}

.holidays .accordion li .desc {
    margin-bottom: 0;
    font-size: .9em;
}

.holidays .block .unstyled li .desc {
    margin-bottom: 0;
}

.holidays ul.unstyled ul {
    list-style: none;
}

.holidays .ink-toggle .fa-caret-up {
    display: none;
}

.holidays .ink-toggle.active .fa-caret-down {
    display: none;
}

.holidays .ink-toggle.active .fa-caret-up {
    display: block;
}

.show-top-datepicker {
    .ink-calendar {
        top: initial !important;
        bottom: 100%;
    }
}

//Full calendar
#full-calendar-container #calendar .fc-widget-content .fc-scroller.fc-day-grid-container {
    overflow-y: hidden !important;
}

#full-calendar-container #parent {
    margin-top: 3em;
}

#full-calendar-container #parent #info .user-entry {
    color: white;
    cursor: pointer;
}

#full-calendar-container #parent #info .unselect {
    background: #eeebe5 !important;
    color: #555 !important;
}

#full-calendar-container ul.user-entry {
    border-radius: 2px;
}

#full-calendar-container .fc-day.day-selected {
    background-color: #B9D198;
}

#full-calendar-container .day-full-height {
    height: 100%;
}

#full-calendar-container .highlight-plus-sign-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
}

#full-calendar-container .highlight-plus-sign {
    font-size: 2em;
    color: black;
}

#full-calendar-container .users-photo {
    width: 40px;
}

#full-calendar-container .vacation-group-entry {
    display: flex;
}

#full-calendar-container .vacation-group-entry .trash-icon {
    padding: 2px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    flex: 5;
    float: right;
}

#full-calendar-container .vacation-group-entry .vacation-group-text {
    flex: 95;
}

.fc-sat:not(.fc-day-header),
.fc-sun:not(.fc-day-header) {
    background-color: #EAEAEA;
}

.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-resizable .flexed-content {
    display: flex;
}

.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-resizable .flexed-title {
    flex: 1;
}

.slack-inactive-user {
    color: #ff9c00;
}

.slack-user-not-found {
    color: #F44336;
}

.slack-user-not-found-box{
    background: rgba(201,17,17,.15);
    border: 2px solid #891e1e;
}

.manage-access .access-list .details{overflow:hidden;}
.manage-access .access-list .details img{padding: 0 .5em 0 1.5em;}

.manage-access .access-list .details .role {
    margin: 0;
    font-size: .889em
}


.manage-access .access-list .details .role  span {
    color: #999;
	    display: block;
}
.manage-access .access-list .details .role  span.ink-label {
    color: #FFFFFF;
	    display: inline;
}

.ink-form select.select-access-opt {height:auto;}