// Import Compass Core
@import "./compass/css3";
@import "./compass/utilities";

// Import Ink Variables
@import "./config/colors";
@import "./config/common";
@import "./config/typography";

$link-color: #69c;

//override link color to improve color contrast
$sidebar-background: #2f2f2f;

// Shorthands
.fw-100, .fw-light {
    font-weight: 100;
}

.fw-300, .fw-thin {
    font-weight: 300;
}

.fw-400, .fw-regular {
    font-weight: 400;
}

.fw-500, .fw-medium {
    font-weight: 500;
}

.fw-700, .fw-bold {
    font-weight: 700;
}

.fw-900, .fw-black {
    font-weight: 900;
}

.condensed-300, .condensed-thin {
    font-weight: 300;
    font-family: $condensed-font-stack;
}

.condensed-400, .condensed-regular {
    font-weight: 400;
    font-family: $condensed-font-stack;
}

.condensed-700, .condensed-bold {
    font-weight: 700;
    font-family: $condensed-font-stack;
}

.slab-100, .slab-light {
    font-weight: 100;
    font-family: $slab-font-stack;
}

.slab-300, .slab-thin {
    font-weight: 300;
    font-family: $slab-font-stack;
}

.slab-400, .slab-regular {
    font-weight: 400;
    font-family: $slab-font-stack;
}

.slab-700, .slab-bold {
    font-weight: 700;
    font-family: $slab-font-stack;
}

.sans {
    font-family: $sans-serif-font-stack;
}

.serif {
    font-family: $serif-font-stack;
}

.monospace {
    font-family: $mono-font-stack;
}

.condensed {
    font-family: $condensed-font-stack;
}

.slab {
    font-family: $slab-font-stack;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.normal {
    text-transform: none;
}

.small {
    font-size: .75em;
}

.medium {
    font-size: .85em;
}

.large {
    font-size: 1.2em;
}

.extralarge {
    font-size: 1.45em !important;
}

button {
    outline: none;

    @include transition(all 120ms ease-in-out);

    &.unstyled {
        border: none;
        outline: none;
        background: none;
    }
}

.main {
    &.content-drawer {
        // margin-top: 4em;
    }
}

// TOPBAR

#sapoIntraBar {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;

    h1, h2, h3, h4 {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
    }

    .fa-lg {
        font-size: 1.33333333em;
    }

    a {
        @include transition(all 120ms ease-in-out);
    }

    .context-menu  {
        margin-top: 2.9em;
    }

    .no-data {
        font-size: .9em;
        color: #888;
        font-style: italic;
        font-weight: 300;
    }

    .edit-bar {
        padding-top: .4em;
        padding-bottom: .4em;
        background: $grey-10;

        @include box-shadow(0 1px 0 0 $grey-20);

        button {
            color: $grey-40;

            //margin-top: .2em;
            vertical-align: middle;

            &:hover,
            &:focus {
                color: $grey-60;
            }
        }

        // timeline.css override
        h2 {
            background: none;
            border-bottom: none;
            font-size: 1.75em;
            margin: 0;
            padding: 0;
            box-shadow: none;
            border-radius: 0;
        }

        & > .buttons-container {
            line-height: 1.8;
        }
    }

    .context-menu {
        border-bottom: 1px solid $grey-20;

        &.ink-navigation {
            ul.menu {
                text-align: center;

                > li {
                    display: inline-block;
                    float: none;

                    &.active {
                        border-bottom: 4px solid $grey-20;

                        a {
                            text-decoration: none;
                            color: $text-color;
                        }
                    }

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .drag-item {
        position: relative;
        i.drag-handle {
            color: darken(#fff,20%);
            right: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &:hover {
                cursor: move;
                color: #fff;
            }
        }

        a span.module {
            min-width: 1.2em;
            display: inline-block;
        }

        .item-wrapper {
            width: 100%;
        }
    }

    div.left-drawer {
        ul.items {
            li.search {
                form.ink-form {
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                    line-height: 25.2px;
                    border-radius: none;
                    height: 38px;
                    font-size: 18px;
                    display: block;
                    color: #858585;
                    background-color: rgba(0,0,0,0);
                    background-image: none;
                    border: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    -webkit-transition: none;
                    -o-transition: none;
                    transition: none;
                }
            }
        }
    }

    .topbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: $layer-90;
        background: $grey-90;

        > .ink-grid {
            max-width: 100%;
        }

        ul.menu.horizontal {
            @include border-radius(0);

            > li {
                a {
                    color: $grey-20;

                    &:hover,
                    &:focus {
                        color: $white;

                        .ink-badge {
                            background: $white;
                        }
                    }

                    &.left-drawer-trigger {
                        &:hover,
                        &:focus {
                            background: none;
                        }
                    }
                }

                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }

                &:last-child {
                    a {
                        @include border-radius(0);
                    }
                }

                &.logo {
                    a {
                        padding-left: 0;

                        &:hover {
                            background: none;
                        }
                    }
                }

                &.search {
                    margin: .24em 1em;

                    form {
                        margin: 0px;
                        padding: 0px;
                        width: 100%;
                        line-height: 25.2px;
                        border-radius: none;
                        height: 38px;
                        font-size: 18px;
                        display: block;
                        color: #858585;
                        background-color: rgba(0,0,0,0);
                        background-image: none;
                        border: none;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        -webkit-transition: none;
                        -o-transition: none;
                        transition: none;
                    }

                    input[type=search] {
                        min-width: 280px;
                        height: 36px;
                        padding-top: 6px;
                        padding-bottom: 6px;

                        &:focus {
                            border: 1px solid darken(#E4E7E4, 10%);

                            & + a {
                                background: none;
                                color: darken(#E4E7E4, 40%);
                            }
                        }

                        & + a {
                            color: #D3D3D3;
                            position: absolute;
                            right: .8em;
                            top: .66em;
                            padding: 0;

                            &:hover {
                                background: none;
                                text-decoration: none;
                                color: darken(#E4E7E4, 40%);
                            }
                        }
                    }

                    &:hover {
                        a {
                            background: none;
                        }
                    }
                }

                &.avatar {
                    margin: .34em 0;
                    position: relative;
                    width: 36px;
                    height: 36px;
                    padding: 0px;
                    border: none;

                    button {
                        padding: 0;
                        position: relative;

                        img {
                            width: 2em;
                        }
                    }

                    .ink-badge {
                        position: absolute;
                        top: -4px;
                        right: -8px;
                        padding: 0 .4em;
                        font-size: .667em;
                    }
                }

                &:hover,
                &.focus {
                    a {
                        background: #404040;
                        color: $white;
                    }

                    .mega-menu {
                        display: block;
                    }
                }

                .mega-menu {
                    padding: 0 1em;
                    display: none;
                    min-width: 26em;
                    position: absolute;
                    z-index: 9999999;
                    top: 2.6;
                    background: $grey-75;

                    //color: $grey-5;
                    @include border-bottom-radius($border-radius);

                    li {
                        float: none;
                        padding: .3em 0;
                        border-bottom: 1px solid $grey-60;

                        &:last-child {
                            border-bottom: none;
                        }

                        &.no-data {
                            margin: .5em 0;
                        }

                        a {
                            padding: 0;
                        }

                        .title {
                            line-height: 1.4;

                            @extend .slab-400;

                            font-size: .938em;
                            color: $link-color;

                            &:hover {
                                color: $link-hover-color;
                                text-decoration: underline;
                            }
                        }

                        .ink-button {
                            border: none;
                            color: #f0f0f0;
                            padding: 8px 12px;
                            line-height: normal;
                            background: $grey-70;

                            &:hover,
                            &:focus {
                                color: $white;
                                text-decoration: none;
                                background: $grey-65;
                                border: none;

                                @include box-shadow(none);
                            }
                        }

                        .detail {
                            margin: 0;

                            a {
                                color: $grey-30;
                                font-size: .667em;
                                display: inline;

                                @extend .fw-300;

                                &:hover {
                                    color: $grey-10;
                                    text-decoration: underline;
                                }
                            }
                        }

                        .separator {
                            width: 4px;
                            height: 4px;
                            display: inline-block;
                            margin: 0 .4em 2px;
                            background: $grey-40;
                            border-radius: 50%;
                        }

                        .no-data {
                            margin: .5em 0;
                        }
                    }

                    .more {
                        @extend .medium;

                        color: $link-color;

                        &:hover {
                            color: $link-hover-color;
                            text-decoration: underline;
                        }
                    }

                    &#tickets {
                        li {
                            .title {
                                display: inline;
                            }

                            .ticket {
                                color: $grey-20;

                                @extend .italic;

                                font-size: .778em;
                            }

                            .detail {
                                a {
                                    display: inline;

                                    @extend .medium;
                                }
                            }
                        }
                    }

                    &#tasks {
                        li {
                            .title {
                                display: inline;
                            }

                            .detail {
                                a {
                                    display: inline;

                                    @extend .medium;
                                }
                            }
                        }
                    }

                    &#people {
                        li {
                            a {
                                margin: .4em 0;

                                .fa {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// DRAWERS

body.ink-drawer.over.right .right-drawer {
    -webkit-transform: translate3d(-300px, 0, 0) !important;
    -moz-transform: translate3d(-300px, 0, 0) !important;
    -ms-transform: translate3d(-300px, 0, 0) !important;
    -o-transform: translate3d(-300px, 0, 0) !important;
    transform: translate3d(-300px, 0, 0) !important;
}

body.ink-drawer {
    .left-drawer.sidebar {
        padding-bottom: 3em;
        z-index: $layer-1000;
        text-transform: uppercase;
        background: $sidebar-background;

        @include box-shadow(2px 0 10px 0 rgba(0, 0, 0, 0.4));

        a {
            color: $grey-20;
            text-decoration: none;
        }

        .items {
            font-weight: 300;
            margin: 0;
            padding: 0;
            overflow-x: visible;
            list-style-type: none;

            > li {
                line-height: 2.4;
                margin: 0;
                color: $grey-20;
                cursor: pointer;
                border-bottom: 1px solid $grey-75;

                @include transition(all 100ms ease-in-out);

                a {
                    @extend .slab-400;

                    font-size: .889em;
                    padding: .5em 1em;
                    display: block;

                    &:hover,
                    &.active {
                        background: lighten($sidebar-background, 5%);
                        color: $white;

                        a {
                            color: $white;
                        }
                    }
                }

                .fa,
                .sf {
                    width: 2em;
                    padding: .36em 0;
                    font-size: 1.333em;
                    text-align: center;
                }

                &.search {
                    .control-group {
                        margin: .5em .8em;

                        input[type=search] {
                            &:focus {
                                border: 1px solid darken(#E4E7E4, 10%);

                                & + a {
                                    background: none;
                                    color: darken(#E4E7E4, 40%);
                                }
                            }

                            & + a {
                                color: #D3D3D3;
                                position: absolute;
                                right: .8em;
                                top: .9em;
                                padding: 0;

                                &:hover {
                                    background: none;
                                    text-decoration: none;
                                    color: darken(#E4E7E4, 40%);
                                }

                                .fa {
                                    padding: 0;
                                    width: auto;
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }

                .submenu {
                    margin: 0;
                    background: $grey-85;

                    li {
                        margin: 0;
                        border-top: 1px solid $grey-75;

                        a {
                            @extend .sans;

                            @extend .fw-300;

                            @extend .normal;

                            color: $grey-30;

                            &:hover,
                            &:focus {
                                color: $grey-20;
                                background: lighten ($grey-85, 5%);
                            }

                            .detail {
                                color: $grey-50;

                                @extend .italic;

                                font-size: .857em;
                            }

                            .fa {
                                padding: 0;
                                width: auto;
                                font-size: 1em;
                                color: $grey-50;
                                margin-right: .2em;
                            }

                            &.more {
                                @extend .lowercase;

                                border-right: 1px solid $grey-75;
                            }
                        }

                        &.no-data {
                            @extend .normal;

                            padding: .5em 1em;
                        }
                    }

                    &#projects-drawer {
                        a {
                            font-size: .889em;

                            &.more {
                                @extend .medium;
                            }
                        }
                    }
                }
            }
        }
    }

    .right-drawer {
        @extend .fw-300;

        z-index: $layer-1000;
        background: $grey-10;

        @include box-shadow((-2px) 0 10px 0 rgba(0, 0, 0, 0.4));

        width: 300px !important;
        right: -300px !important;

        .truncate-h {
            width: 240px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .truncate-v {
            display: block;

            /* Fallback for non-webkit */
            display: -webkit-box;
            max-width: 300px;
            height: 63px;

            /* Fallback for non-webkit */
            margin: 0 auto;
            font-size: 14px;
            line-height: 1.5;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .no-data {
            margin: 0 20px;
        }

        header {
            padding: .5em 1em;
            border-bottom: 1px solid $grey-30;

            .user {
                font-size: 1em;

                @extend .fw-300;

                @extend .uppercase;

                margin: .1em 0 .2em;
            }

            .profile {
                margin: .2em 0;
                font-size: .778em;

                .fa {
                    color: $grey-60;
                    margin-right: .4em;
                }

                .separator {
                    width: 4px;
                    height: 4px;
                    display: inline-block;
                    margin: 0 .3em 2px;
                    background: $grey-40;
                    border-radius: 50%;
                    float: none;
                }
            }

            .logout {
                padding: 2px 8px;
                font-size: .778em;
            }
        }

        .button-group {
            width: 260px;
            margin: .5em auto;

            .ink-button {
                width: 130px;
                padding: 4px 0;
                font-size: .889em;

                &:hover,
                &:focus {
                    @include box-shadow(none);
                }

                &.active {
                    background: $grey-25;
                }
            }
        }

        .drawer-tab {
            font-size: .889em;

            .link-grp {
                .header {
                    margin: 0 0 0 1.45em;
                    padding-right: .6em;
                }

                .title {
                    margin-bottom: .4em;
                    font-size: 1em;

                    @extend .fw-300;
                }

                .clean {
                    color: $red;

                    @extend .medium;

                    @extend .unstyled;

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                }

                .add-link {
                    margin: 0;
                    padding: 4px 0;
                }

                ul {
                    padding: 0;
                    margin: 0 0 0 1.45em;
                    list-style-type: none;
                    position: relative;

                    li {
                        margin: 0;

                        //font-size: .889em;
                        padding: .4em 2em .4em 0;
                        position: relative;
                        border-top: 1px solid $grey-20;

                        p {
                            margin: 0;

                            &.note {
                                font-size: .875em;

                                a {
                                    @extend .fw-400;

                                    color: $grey-60;
                                }
                            }
                        }

                        .remove {
                            color: $grey-40;

                            @extend .unstyled;

                            font-size: 1em;
                            position: absolute;
                            top: .5em;
                            right: .6em;

                            &:hover,
                            &:focus {
                                color: $grey-60;
                            }
                        }
                    }
                }
            }
        }
    }
}

// MEDIA QUERIES
// xlarge
@media screen and (min-width: 1261px) {}

// large
@media screen and (min-width: 961px) and (max-width: 1260px) {}

// medium
@media screen and (min-width: 681px) and (max-width: 960px) {}

// small
@media screen and (min-width: 361px) and (max-width: 680px) {}

// tiny
@media screen and (max-width: 360px) {}
